.setup {
    display: flex;
    margin-bottom: 24px;

    .confirm,
    .confirm_show,
    .play,
    .success,
    .play_show,
    .success_show {
        flex: 1;
        width: 408px;
        height: 56px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 20px;
        line-height: 56px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .confirm_show {
        color: #fff;
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setupShow.png');
    }

    .confirm {
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setupHide.png');
    }

    .play,
    .play_show {
        margin-left: -8px;
    }

    .play {
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setup2Hide.png');
    }

    .play_show {
        color: #fff;
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setup2Show.png');
    }

    .success,
    .success_show {
        margin-left: -8px;
    }

    .success {
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setup3Hide.png');
    }

    .success_show {
        color: #fff;
        background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/setup3Show.png');
    }
}
