.enroll_management {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    min-height: calc(100vh - 110px);

    :global {
        .enroll-select-selector {
            max-width: 319px;
        }
    }

    .main {
        width: 100%;
        :global {
            .super_table_warp {
                margin-top: 32px;
                .super_table_title_left {
                    margin-top: 24px;
                    width: 100%;
                }
            }
        }
        
        .userinfo {
            display: flex;
            align-items: center;

            .image {
                width: 40px;
                height: 40px;
                margin-right: 8px;
                border-radius: 50%;
            }

            .user_name {
                margin-right: 5px;
            }

            :global {
                div[class~='enroll-image-mask'] {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 12px !important;
                    // overflow: hidden;
                }
            }
        }

        .user_mobile {
            cursor: pointer;
        }

        div[class*='ant-image-mask'] {
            width: 40px;
            height: 40px;
            font-size: 12px !important;
            border-radius: 50%;
            text-align: center;
        }

        span[class*='anticon anticon-eye'] {
            display: block;
            margin-top: 4px;
            margin-left: 5px;
        }

        button[class*='ant-btn ant-btn-link'] {
            border-color: transparent !important;
        }

        div[class*='fe-enroll-pc-image-mask'] {
            width: 40px;
            height: 40px;
            font-size: 12px !important;
            border-radius: 50%;
            text-align: center;
        }

        span[class*='fe-enroll-pc-anticon fe-enroll-pc-anticon-eye'] {
            display: block;
            margin-top: 4px;
            margin-left: 5px;
        }

        button[class*='fe-enroll-pc-btn fe-enroll-pc-btn-link'] {
            border-color: transparent !important;
        }

        .activity {
            & div {
                margin-bottom: 10px;
            }
        }

        .status {
            margin-bottom: 10px;
        }
    }
}

.table {
    margin-top: 8px;
}
