.page_invigilate_list {
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    
    .project_type {
        display: inline-block;
        height: 24px;
        line-height: 22px;
        padding: 0 8px;
        border: 1px solid;
        border-radius: 4px;
    }
    .buttonContainer {
        font-weight: 400;
        color: var(--primary-color);
        line-height: 24px;
        span {
            cursor: pointer;
            margin-right: 16px;
        }
    }
    .stuStateText {
        display: flex;
        align-items: center;
        
        .circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
        }
    }

    :global {

        .super_form_item {
            // width: 400px !important;
            margin-bottom: 24px !important;

            .exam-center-select {
                width: 100%;
            }
            
            .exam-center-picker {
                width: 100%;
                border-radius: 6px;
                height: 32px;
            }
        }

        
      
        // .exam-center-select {
        //     width: 100%;
        // }
        
        // .super_form_item {
        //     width: 400px !important;
        //     margin-bottom: 24px !important;
        // }
    }

    .footer_wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 24px;

        :global {
            .exam-center-space-align-center {
                align-items: center !important;
            }
        }
    }
}