.click_edit_table_h2_card {
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .click_edit_table_h2_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .click_edit_table_h2_card_header_title {
            display: flex;
            align-items: center;

            span:first-child {
                position: relative;
                height: 32px;
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 32px;

                &::after {
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 6px;
                    background: rgba(0, 103, 255, 20%);
                }
            }
        }
    }
}

.content {
    margin-bottom: 16px;
    padding: 16px 0;
    border: 1px solid rgba(0, 0, 0, 6%);
    border-radius: 6px;

    .content_title {
        margin-bottom: 16px;
        padding: 0 16px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 32px;
    }

    .content_list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .content_card {
        padding: 0 16px;

        .descriptions1 {
            :global {
                /* stylelint-disable-next-line selector-class-pattern */
                .fe-engineer-pc-descriptions-view {
                    border-bottom: none !important;
                    border-radius: 6px 6px 0 0 !important;
                }
            }
        }

        .descriptions2 {
            :global {
                /* stylelint-disable-next-line selector-class-pattern */
                .fe-engineer-pc-descriptions-view {
                    // border-top: none !important;
                    border-bottom: none !important;
                    border-radius: unset !important;
                }

                /* stylelint-disable-next-line selector-class-pattern */
                .fe-engineer-pc-descriptions-item-content {
                    padding: 0 !important;
                }
                /* stylelint-disable-next-line selector-class-pattern */
                .fe-engineer-pc-table-content {
                    table {
                        border: none;
                        /* stylelint-disable-next-line selector-class-pattern */
                        .fe-engineer-pc-table-thead {
                            tr th {
                                border-right: 1px solid rgba(0, 0, 0, 6%);
                            }

                            tr th:first-child {
                                border-radius: 0;
                            }

                            tr th:last-child {
                                border-right: none;
                                border-radius: 0;
                            }

                            tr th::before {
                                display: none;
                            }
                        }
                        /* stylelint-disable-next-line selector-class-pattern */
                        .fe-engineer-pc-table-row {
                            td {
                                border-right: 1px solid rgba(0, 0, 0, 6%);
                            }

                            td:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }

        .descriptions3 {
            :global {
                /* stylelint-disable-next-line selector-class-pattern */
                .fe-engineer-pc-descriptions-view {
                    border-top: none !important;
                    border-radius: 0 0 6px 6px !important;
                }
            }
        }

        :global {
            /* stylelint-disable-next-line selector-class-pattern */
            .fe-engineer-pc-descriptions-item-label {
                text-align: center !important;
            }
        }
    }
}
