/* stylelint-disable */
.component_topics {
    flex: 1;
    padding: 16px 24px;
    max-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .content {
        margin-top: 12px;
        flex: 1;
        background-color: #fff;
        height: calc(100% - 100px);
        overflow-y: auto;
    }
}