.combination_question {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .combination_question_content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .sub_question_card {
            overflow: hidden;
            border: 1px solid #f0f0f0;
            border-radius: 8px;

            .sub_question_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 16px;
                height: 48px;
                background: rgba(0, 0, 0, 3%);

                .sub_question_title {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 65%);
                        line-height: 24px;
                    }
                }

                .sub_question_actions {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            .sub_question_content {
                padding: 16px;
            }
        }
    }

    .add_sub_question {
        display: flex;
        align-items: center;
        padding: 16px;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        flex-direction: column;

        .add_title {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 400;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;
        }

        .question_type_buttons {
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
