.page_attachment_resume {
    display: flex;

    .left {
        width: 306px;
        background-color: #fff;

        .select_template {
            padding: 24px 40px;
            height: 72px;
            border-bottom: 1px solid #e8e8e8;

            .text {
                position: relative;
                padding-left: 12px;
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 26px;

                &::before {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 4px;
                    height: 18px;
                    border-radius: 2px;
                    background-color: var(--primary-color);
                    content: '';
                }
            }
        }

        .template_list {
            overflow: hidden auto;
            padding: 16px 40px;
            width: 100%;
            height: calc(100vh - 72px);

            .template_item {
                position: relative;
                margin-bottom: 24px;
                width: 226px;
                cursor: pointer;

                &.active,
                &:hover {
                    img {
                        border: 1px solid #1678ff;
                    }
                }

                &.active {
                    .icon_wrapper {
                        position: absolute;
                        right: 0;
                        bottom: 36px;
                        display: block;
                        padding: 4px;
                        width: 24px;
                        height: 24px;
                        border-radius: 8px 0;
                        background: #1678ff;

                        .icon {
                            width: 16px;
                            height: 16px;
                            color: #fff;
                        }
                    }
                }

                .icon_wrapper {
                    display: none;
                }

                img {
                    margin-bottom: 12px;
                    width: 100%;
                    border-radius: 8px;
                    box-shadow: 0 8px 25px 7px rgba(0, 0, 0, 5%), 0 5px 14px 0 rgba(0, 0, 0, 8%),
                        0 3px 5px -4px rgba(0, 0, 0, 12%);
                }

                .name {
                    font-size: 16px;
                    text-align: center;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 24px;
                }
            }
        }
    }

    .right {
        display: flex;
        overflow: hidden;
        height: 100vh;
        flex: 1;
        flex-direction: column;

        .operate {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 24px 40px;
            height: 72px;
            border-left: 1px solid #e8e8e8;
            background-color: #fff;
        }

        .content {
            display: flex;
            justify-content: center;
            overflow-y: auto;
            padding: 40px 0;
            width: 100%;
            background: #f0f2f5;
            flex: 1;

            .page_style {
                :not(canvas) {
                    display: none;
                }

                margin-bottom: 40px;
            }
        }
    }
}
