.examine {
    padding-top: 24px;

    .examine_task {
        .task_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }

        .task_content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 16px;

            .task_content_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                width: 240px;
                height: 56px;
                border: 1px solid #e8e8e8;
                border-radius: 8px;
                background: rgba(0, 0, 0, 3%);

                span {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 24px;

                    &.strong {
                        margin-right: 4px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                &:not(:first-child) {
                    margin-left: 16px;
                }

                &:hover {
                    border: 1px solid var(--primary-color);
                    background: rgba(22, 120, 255, 5%);
                    cursor: pointer;

                    .item_label {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .examine_score {
        margin-top: 48px;

        .score_title {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }

        .score_table {
            margin-top: 16px;

            /* stylelint-disable selector-class-pattern */
            .fe-engineer-pc-table-thead {
                border-color: #e8e8e8;
                background-color: rgba(0, 0, 0, 3%);
            }

            .fe-engineer-pc-table-cell {
                font-size: 16px;
                border-color: #e8e8e8;
                color: rgba(0, 0, 0, 85%);
                line-height: 24px;
            }
            /* stylelint-enable */
        }
    }
}
