.page {
    display: flex;
}

.id_image {
    margin-right: 10px;
    width: 102px;
    height: 102px;
}

.id_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 102px;
    border-radius: 5px;
    flex-direction: column;
}
