.sensitive_info_box {
    display: flex;
    align-items: center;

    .sensitive_icon {
        margin-left: 4px;
        width: 16px;
        color: var(--fe-engineer-pc-primary-color);
        cursor: pointer;
    }
}

.sensitive_info_box:hover .sensitive_icon {
    display: inline-block;
}
