/* stylelint-disable*/
.enroll_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-weight: 400;
    line-height: 24px;
    background: #f0f2f5;

    .enroll_list_search_bar_wrapper {
        z-index: 10;
        margin: 0 -24px;
        width: 100%;
        height: 128px;
        text-align: center;
        // background: var(--primary-color-015);
        background: rgba(24, 143, 255, 15%);

        .enroll_list_search_bar {
            padding: 40px 0;

            .search_bar_input {
                width: 800px;
                height: 48px;
            }

            & input::placeholder {
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 25%);
            }

            & span[class~='fe-middle-pc-input-affix-wrapper'] {
                height: 48px;
            }

            & span[class~='anticon-search'] {
                margin-right: 6px;
            }

            & button[class~='fe-middle-pc-btn'] {
                height: 48px;
                border-radius: 6px !important;
            }
        }
    }

    .enroll_list_wrapper {
        overflow-y: auto;
        padding: 0 24px 24px;
        width: 100%;
        max-height: none;
    }

    .enroll_list_wrapper_portal {
        min-height: calc(100vh - 168px);
    }

    .enroll_list_screen {
        margin: 24px auto 8px;
        padding: 24px 32px;
        width: 100%;
        max-width: 1200px;
        border-radius: 12px;
        background: #fff;

        .filter_line_split {
            width: 100%;
            height: 0;
            border: 1px dashed #e8e8e8;
        }

        .filter_line {
            display: flex;
            margin: 16px 0;
            min-height: 32px;
            // align-items: center;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            line-height: 22px;

            .filter_line_label {
                margin-right: 8px;
                padding: 5px 0;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
                flex: none;
            }

            .filter_line_list {
                display: flex;
                justify-content: flex-start;
                max-width: 1070px;
                color: rgba(0, 0, 0, 65%);
                gap: 16px 24px;
                flex-flow: row wrap;

                .filter_line_list_item {
                    display: inline-block;
                    padding: 5px 8px;
                    min-width: 48px;
                    border-radius: 4px;
                    white-space: nowrap;
                    cursor: pointer;
                    word-break: break-all;
                    flex: none;

                    &:hover {
                        color: var(--primary-color);
                    }

                    &.active {
                        color: #fff;
                        background: var(--primary-color);
                    }
                }

                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 3px;
                    background: rgba(0, 0, 0, 6%);
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 8%);
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background: rgba(0, 0, 0, 12%);
                    box-shadow: inset 0 0 10px rgba(0, 0, 0, 20%);
                }
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .enroll_list_main {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        border-radius: 12px;
    }

    :global {
        .fe-middle-pc-pagination {
            text-align: right;
        }

        .fe-middle-pc-pagination {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.event_card {
    overflow: hidden;
    width: 100%;
    min-width: 282px;
    height: 100%;
    min-height: 246px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 5%);
    transition: all ease 0.3s;
    cursor: pointer;

    .event_card_img_con {
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 282px;
        height: 158px;

        & > img {
            object-fit: cover;
        }

        .event_status {
            position: absolute;
            top: 8px;
            left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8px;
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            border-radius: 16px;
            color: #fff;

            &.no_pending {
                background: linear-gradient(270deg, #d1d1d1 0%, #e7e7e7 100%);
                box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 5%);
            }

            &.pending {
                background: linear-gradient(270deg, #fe6731 0%, #f8934a 100%);
                box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 5%);
            }
        }

        .event_watch {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 16px;
            width: 282px;
            height: 32px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 0%, rgba(0, 0, 0, 60%) 100%);
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 5%);

            .event_watch_svg {
                padding-right: 4px;
                width: 20px;
                height: 16px;
                color: #fff;
                flex: none;
            }

            .event_watch_text {
                font-size: 14px;
                font-family: PingFang-SC, PingFang-SC;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .event_card_name {
        overflow: hidden;
        margin: 16px 0 8px;
        padding: 0 16px;
        width: 100%;
        height: 24px;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(0, 0, 0, 85%);
        word-break: break-all;
    }

    .event_card_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 45%);

        .event_card_split {
            margin: 0 8px;
            width: 1px;
            height: 12px;
            background: #e8e8e8;
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 5%);
            flex: none;
        }
    }

    &:hover {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 8%);
        transform: translateY(-4px);

        .event_card_img_con {
            .event_status,
            .event_watch {
                box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 8%);
            }
        }

        .event_card_name {
            color: var(--primary-color);
        }
    }
}
