.bread_crumb {
    margin-bottom: 16px;
    
    :global {
        /* stylelint-disable-next-line selector-class-pattern */
        .exam-center-breadcrumb {
            font-size: 14px;

            &-link, &-separator {
                font-size: 16px;
            }
        }
    }
}
