/* stylelint-disable */
.pt_enroll_card_3 {
    background: #ffffff;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: all 0.1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    text-align: left;
    font-family: PingFangSC, PingFang SC;

    & {
        margin-bottom: 24px;
    }

    &:hover {
        .pt_enroll_card3__name {
            color: var(--primary-color);
        }

        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
        transform: translateY(-4px);
    }

    .pt_enroll_card3__top {
        width: 384px;
        height: 216px;
        border-radius: 8px 8px 0 0;
        position: relative;
        margin-right: 32px;
        overflow: hidden;
        flex-shrink: 0;

        .pt_enroll__cover_wrapper {
            border-radius: 0;
        }
    }

    .pt_enroll_card3__bottom {
        padding: 24px 16px;
    }

    .pt_enroll_card3__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        min-width: 1px;
    }

    .pt_enroll_card3__tips {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        color: #ffffff;
        line-height: 32px;
        text-align: center;
        margin-top: 8px;
        height: 32px;
        background: rgba(0, 0, 0, 0.65);
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    }

    .pt_enroll_card3__name {
        font-weight: 500;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pt_enroll_card3__info {
        height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 1px;
    }

    .pt_enroll_card3__status {
        display: inline-block;
        height: 24px;
        background: linear-gradient(270deg, #d1d1d1 0%, #e7e7e7 100%);
        border-radius: 16px;
        font-size: 16px;
        color: #ffffff;
        line-height: 24px;
        padding: 0 8px;
        margin-right: 12px;

        &.status_2 {
            background: linear-gradient(270deg, #fe6731 0%, #f8934a 100%);
            border-radius: 16px;
        }
    }

    .pt_enroll_card3__course {
        background: rgba(82, 196, 26, 0.16);
        border-radius: 4px;
        height: 24px;
        font-size: 16px;
        color: #52c41a;
        line-height: 24px;
        padding: 0 8px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pt_enroll_card3__cate {
        background: rgba(22, 120, 255, 0.12);
        border-radius: 4px;
        height: 24px;
        font-size: 16px;
        color: #1678ff;
        line-height: 24px;
        padding: 0 8px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .pt_enroll_card3__divider {
        border: 1px dashed #e8e8e8;
        margin-top: 24px;
    }

    .pt_enroll_card3__org {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
        margin-top: 16px;

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            margin-right: 4px;
        }

        span {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
