.invite_apply_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .wrap {
        box-sizing: border-box;
        width: 640px;
        padding: 56px;
        background: #fff;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

        .apply_person {
            margin-top: 36px;
            margin-bottom: 36px;
        }

        .org {
            display: flex;
            align-items: center; 
            box-sizing: border-box;
            min-height: 64px;
            margin-top: 12px;
            padding: 12px 16px;
            background: rgba(22,120,255,5%);
            border-radius: 8px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 8px; 
            }
        }

        .apply_reason {
            display: flex;

            .label {
                width: 90px
            }
        }

        .title {
            height: 28px;
            margin-bottom: 32px;
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            line-height: 28px;
            text-align: center;
        }

        .submit_apply {
            margin-top: 32px;
            text-align: center;
        }
    }
}
