.practice_list_pages {
    width: 100%;
    padding: 24px;
    background: #fff;
    border-radius: 12px;

    .background {
        tbody[class='exam-center-table-tbody'] {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 24px;

            :global {
                .pc_quest_card {
                    width: calc((100% - 28px) / 2);
                }

                .pc_quest_card:last-child {
                    margin-right: auto;
                }
            }
        }
    }
}
