.homework_content {
    width: 100%;

    .homework_content_item {
        width: 100%;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        background: #fff;

        .homework_content_item_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #e8e8e8;
            background: linear-gradient(
                175deg,
                var(--primary-color-012),
                rgba(0, 0, 0, 0%),
                rgba(0, 0, 0, 0%)
            );

            .homework_sign {
                margin-right: 8px;
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/icon_zuoye%402x.png');
                flex: none;
            }

            .homework_name {
                overflow: hidden;
                margin-right: 8px;
                max-width: 640px;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgba(0, 0, 0, 85%);
                flex: none;
                word-break: break-all;
            }

            .ai_btn {
                margin-right: 8px;
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                flex: none;
                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/button_ai_small.png');
            }

            .homework_right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;

                .homework_status {
                    flex: none;
                    display: flex;
                    align-items: center;
                    width: fit-content;

                    .homework_status_sign {
                        overflow: hidden;
                        margin-right: 8px;
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background: #d9d9d9;

                        &.green {
                            background: #52c41a;
                        }
                    }

                    .homework_status_name {
                        font-size: 16px;
                        font-family: PingFangSC, 'PingFang SC';
                        font-weight: 400;
                        color: rgba(0, 0, 0, 85%);
                    }
                }

                .homework_score {
                    flex: none;
                    display: flex;
                    align-items: center;
                    width: fit-content;

                    .homework_score_value {
                        margin-right: 3px;
                        font-size: 16px;
                        font-family: PingFangSC, 'PingFang SC';
                        font-weight: 400;
                        color: var(--primary-color);
                    }

                    & > svg {
                        width: 14px;
                        height: 14px;
                        color: rgba(0, 0, 0, 25%);
                        cursor: pointer;
                    }
                }

                .homework_arrow {
                    margin-left: 12px;
                    width: 16px;
                    height: 16px;
                    color: #000;
                    transition: all ease-in-out 0.1s;
                    flex: none;
                    transform: rotate(180deg);
                    cursor: pointer;
                }
            }
        }

        .homework_content_item_bottom {
            overflow: hidden;
            padding: 16px;
            width: 100%;
            max-height: 1000px;
            transition: all ease 0.2s;

            .homework_info_item {
                display: flex;
                margin-bottom: 24px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }

                .homework_info_item_title {
                    width: 112px;
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 85%);
                    flex: none;
                    line-height: 28px;
                }

                .homework_info_item_value {
                    flex: 1;

                    .homework_info_item_value_file {
                        width: 100%;

                        .upload {
                            .upload_btn {
                                margin-top: -2px;
                                padding: 0;
                                width: 116px;
                                height: 32px;
                                border-radius: 6px;
                                color: rgba(0, 0, 0, 65%);

                                &:hover {
                                    color: var(--primary-color);
                                }
                            }

                            .extra {
                                margin-top: 12px;
                                margin-bottom: 16px;
                                font-size: 16px;
                                font-family: PingFangSC, 'PingFang SC';
                                font-weight: 400;
                                text-align: left;
                                color: rgba(0, 0, 0, 65%);
                                line-height: 24px;
                                font-style: normal;
                            }

                            .btn {
                                margin-right: 16px;
                                padding: 0;
                                width: 70px;
                                height: 32px;
                                border-radius: 6px;
                            }
                        }

                        .uploaded {
                            display: flex;
                            width: 100%;
                            font-size: 16px;
                            font-family: PingFangSC, 'PingFang SC';
                            font-weight: 400;
                            color: rgba(0, 0, 0, 65%);
                            line-height: 28px;

                            .file_sign {
                                display: flex;
                                align-items: center;
                                margin-right: 4px;
                                width: 16px;
                                height: 28px;
                                flex: none;

                                & > svg {
                                    width: 16px;
                                    height: 16px;
                                    color: rgba(0, 0, 0, 45%);
                                }
                            }

                            .download {
                                display: inline-block;
                                margin-left: 8px;
                                font-size: 16px;
                                font-family: PingFangSC, 'PingFang SC';
                                font-weight: 400;
                                color: var(--primary-color);
                                flex: none;
                                line-height: 28px;
                            }
                        }
                    }

                    .homework_info_item_value_online {
                        width: 100%;
                        // display: flex;
                        .online_item {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            font-size: 16px;
                            font-family: PingFangSC, 'PingFang SC';
                            font-weight: 400;
                            color: var(--primary-color);
                            line-height: 28px;

                            .word {
                                margin-right: 4px;
                                width: 24px;
                                height: 24px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                flex: none;
                                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/word.png');
                            }

                            .excel {
                                margin-right: 4px;
                                width: 24px;
                                height: 24px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                flex: none;
                                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/excel.png');
                            }
                        }

                        .online_btn_content {
                            display: flex;
                            margin-top: 12px;

                            .btn {
                                margin-right: 16px;
                                padding: 0;
                                width: 70px;
                                height: 32px;
                                border-radius: 6px;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.close {
            .homework_content_item_top {
                .homework_right {
                    .homework_arrow {
                        transform: rotate(0deg);
                    }
                }
            }

            .homework_content_item_bottom {
                padding: 0 16px;
                max-height: 0;
            }
        }
    }
}
