.stylistic {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.no_padding_table {
    :global {
        tbody {
            /* stylelint-disable selector-class-pattern */
            .fe-engineer-pc-table-cell {
                padding: 0 !important;
            }
        }
    }
}
