.enroll_setting {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    min-height: calc(100vh - 110px);

    .main {
        width: 100%;
        .main_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            .closeRegistration {
                cursor: pointer;
                display: flex;
                align-items: center;
                color: var(--primary-color);

                .header_menu_icon {
                    margin-top: 3px;
                    margin-right: 3px;
                }
            }
        }

        .form {
            margin-top: 16px;
            .form_btn {
                display: flex;
                justify-content: center;

                & > button {
                    margin-right: 16px;
                }
            }

            :global {
                label[class*='ant-radio-wrapper'] {
                    margin-right: 32px !important;
                }
            }
        }

        :global {
            .super_table_title_left {
                width: 100%;
                margin-top: 24px;
            }

            .fe-enroll-permission-pc-form-item-control-input-content {
                .fe-enroll-permission-pc-input {
                    height: 32px;
                }
            }
        }
    }
}
