/* stylelint-disable*/
.component_video_upload {
    :global {
        .ant-upload-list {
            display: none;
        }
    }

    video {
        width: 100%;
        height: 400px;
        object-fit: contain;
        border-radius: 6px;
    }

    .tips {
        margin-top: 4px;
        font-size: 14px;
        color: #777;
        line-height: 22px;
    }
}
