/*stylelint-disable*/

.component_record_list {
    margin-top: 30px;

    :global {
        .exam-center-table-content {
            overflow-x: auto;
        }

        .super_table_title_left {
            width: 100%;
        }
    }
}