.dashboard_layout_container {
    margin-top: -24px;
    margin-left: -24px;
    width: calc(100% + 48px);
    height: calc(100% + 48px);
}

:global {
    .right_content {
        border-radius: 0 !important;
    }
}

.dashboard_layout {
    user-select: none;
}

.dashboard_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 0 24px;

    .dashboard_content_column {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .dashboard_content_column_item {
        display: flex;
        align-items: center;
    }
}
