.info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 85%);
    font-weight: 400;
    font-size: 16px;
    font-family: PingFangSC-Regular, 'PingFang SC';

    .content {
        margin-left: 11px;

        .title {
            height: 32px;
            margin-bottom: 8px;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
        }

        .detail {
            height: 24px;
            line-height: 24px;
        }

        .success {
            color: #36c626;
        }

        .fail {
            color: #ff4d4f;
        }
    }
}

.record {
    &_title {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 24px 0 16px;
        font-weight: 500;
        font-size: 16px;
        border-top: 1px solid rgba(0, 0, 0, 6%);
    }
}
