.container {
    box-sizing: border-box;
    padding: 24px;
    background: #f7f7f7;

    // .inline_wrap {
    //     height: 89px !important;
    // }

    .layout_horizontal {
        display: flex;
    }

    .btn_group {
        text-align: right;
    }

    .show_more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        color: var(--primary-color);
        cursor: pointer;
    }
}
