.item {
    padding: 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    background: #FAFAFA;
    border-radius: 8px;
}

.weight6 {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    text-align: left;
    font-style: normal;
}

.question {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
    text-align: left;
    font-style: normal;
    margin-bottom: 24px;
}