.content {
    display: flex;
    align-items: center;
    width: 100%;

    .content_str {
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(0, 0, 0, 65%);
        word-break: break-all;
    }

    .content_btn {
        display: flex;
        align-items: center;
        margin-left: 5px;
        width: 14px;
        height: 14px;
        flex: none;
    }
}
