.page {
    display: flex;
    overflow: hidden;
    padding: 24px;
    height: 100%;
    flex-direction: column;

    .form_box {
        display: flex;
        justify-content: center;
        flex: 1;
        overflow-y: auto;

        .form {
            width: 600px;

            .text {
                margin-top: 8px;
                color: rgba(0, 0, 0, 65%);
                line-height: 24px;
            }
        }
    }
}
