.cover_wrapper {
    padding-top: 56.25%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .title {
        font-family: AlimamaShuHeiTi, AlimamaShuHeiTi;
        font-weight: bold;
        font-size: 20px;
        line-height: 38px;
        text-align: right;
        font-style: normal;
        position: absolute;
        width: 77.78%;
        max-height: 73%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-align: center;
    }
}