.question_sub_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .sub_item_card {
        overflow: hidden;
        border: 1px solid #f0f0f0;
        border-radius: 8px;

        .sub_item_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            height: 48px;
            background: rgba(0, 0, 0, 3%);

            span {
                font-size: 16px;
                font-weight: 400;
                color: rgba(0, 0, 0, 65%);
                line-height: 24px;
            }
        }

        .sub_item_content {
            padding: 16px;
        }
    }
}
