.table {
    width: 100%;

    div[class='organization-pro-table'] {
        div[class*='organization-alert-info'] {
            padding: 0;
            background: #fff;
            border: none;
        }
    }
}
