.footer {
    padding: 24px 0 22px;
    text-align: center;
    background-color: #171b22;

    .support {
        font-size: 16px;
        font-weight: 400;
        color: #999;
        line-height: 24px;

        .divider {
            margin: 0 8px;
        }
    }

    .content {
        // margin-top: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #999;
        flex-wrap: wrap;
        gap: 8px;
        line-height: 24px;

        .content_item {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: #999;
                transition: color 0.3s;

                &:hover {
                    color: #1678ff;
                }
            }

            .police_icon {
                margin-right: 4px;
                width: 16px;
                height: 16px;
            }
        }

        .content_split {
            margin: 0 4px;
            color: #ccc;
        }
    }

    @media (max-width: 768px) {
        padding: 24px 16px;

        .support {
            flex-direction: column;

            .divider {
                display: none;
            }
        }

        .content {
            flex-direction: column;
            gap: 4px;

            .content_split {
                display: none;
            }
        }
    }
}
