/* stylelint-disable selector-class-pattern */
.codeModal {
    .numberCode_box {
        width: 100%;
        .img_code_input {
            //   width: 332px;
            width: 340px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: none !important;
        }
        img {
            //   width: 332px;
            width: 340px;
            // height: 140px;
            margin-bottom: 10px;
        }
    }
    .btn_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .refresh_box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 3px 5px 0 rgba(167, 167, 167, 0.5);
            cursor: pointer;
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    .tips_box {
        margin-top: 5px;
        margin-left: 10px;
        color: red;
        font-size: 12px;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
