.question_item {
    width: 100%;
    max-width: 1200px;

    .question_item_title_content {
        display: flex;
        width: 100%;
        margin-top: 16px;

        .content_warp {
            display: flex;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px dashed #e9e9e9;
        }
    }

    .question_item_option_content {
        .question_item_option_content_input {
            display: flex;
            width: 100%;
            margin-top: 40px;
        }

        .option_content {
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px dashed #e9e9e9;
        }
    }

    .question_item_more_option {
        box-sizing: border-box;
        width: 100%;
        // padding-left: 66px;
    }
}

.title_content {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 24px;
    margin: 10px 16px 0 0;
    padding: 0 8px;
    background: rgba(0, 0, 0, 4%);
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: 4px;
}

.title_content_warp {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px dashed #e9e9e9;
}

// .more_option {
//     width: 100%;
// }
