/* stylelint-disable selector-class-pattern */
body {
    /* min-width: 1200px !important; */
    background: #f7f8fc;
}

.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentColor;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.transaction-input {
    color: #333;
    font-weight: 400;
    background: #fff;
    border: 0.01rem solid rgba(0, 0, 0, 0.15);
    border-radius: 0.04rem !important;
}

.transaction-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

button,
.transaction-btn {
    border-radius: 0.04rem !important;
    cursor: pointer;
}

.transaction-select:not(.transaction-select-customize-input) .transaction-select-selector {
    border-radius: 0.04rem !important;
}

.transaction-radio-button-wrapper:not(:first-child)::before {
    width: 0;
}

.transaction-image-preview-mask {
    z-index: 100000;
}

.transaction-image-preview-wrap {
    z-index: 100001;
}
