.page {
    // height: 558px;
    margin: 100px auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 41px 48px;
    width: 438px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

    .forget {
        margin-bottom: 32px;
        width: 100%;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);
        line-height: 32px;
    }

    .extra {
        margin-top: 12px;
        font-size: 16px;
        font-family: 'regular PingFangSC-Semibold', 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 45%);
        line-height: 24px;
    }

    .agreement {
        margin-bottom: 40px;

        div[class='ant-form-item-control-input'] {
            min-height: 21px;
        }

        &_check {
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 22px;
        }
    }

    .input {
        padding: 4px 11px !important;
        width: 342px !important;
        height: 48px !important;
        border-radius: 6px;
        background: #fff;
    }

    .select {
        div[class='ant-select-selector'] {
            width: 342px;
            height: 48px !important;
            border-radius: 6px;
            background: #fff;

            span[class='ant-select-selection-placeholder'] {
                display: flex;
                align-items: center;
            }

            span[class='ant-select-selection-item'] {
                display: flex;
                align-items: center;
            }
        }
    }

    .code {
        width: 202px !important;
        height: 48px !important;
        font-size: 16px;
        border-radius: 6px;
        background: #fff;
    }

    .code_btn {
        margin-left: 8px;
        width: 132px !important;
        height: 48px !important;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        color: rgba(0, 0, 0, 65%);
        background: #fff;
    }

    .login_btn {
        width: 100% !important;
        height: 48px !important;
        border-radius: 6px;
    }

    .forget_btn {
        float: right;
    }

    .login_tool {
        width: 100%;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
    }
}
