/* stylelint-disable selector-class-pattern */
.page {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
    // padding: 16px;
    .title {
        word-break: break-all;
    }

    .opera {
        a {
            margin-right: 5px;
        }

        .bba {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            width: 120px;
            text-align: left;
        }
    }

    :global {
        .ant-select {
            width: '224px';
        }
    }

    .view {
        width: '224px';
    }
}
