.click_edit_input {
    width: 100%;

    .click_edit_input_textarea {
        overflow: auto;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        color: rgba(0, 0, 0, 85%);
        background: #fff;
        outline: none;
        resize: none;
        flex: 1;
        vertical-align: middle;
    }

    .click_edit_input_inactive {
        display: flex;
        justify-content: center;
        height: 100%;
        border-radius: 6px;
        background: rgba(0, 0, 0, 3%);
        flex: 1;
        cursor: pointer;

        &.has_value {
            align-items: flex-start;
        }
    }

    .click_edit_input_blur {
        display: -webkit-box;
        overflow: auto;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        white-space: normal;
        word-break: break-word;
        color: rgba(0, 0, 0, 65%);
        vertical-align: middle;
    }

    .click_edit_input_placeholder {
        display: -webkit-box;
        overflow: hidden;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        white-space: normal;
        word-break: break-word;
        vertical-align: middle;
        color: rgba(0, 0, 0, 25%);
    }
}

.preview {
    padding: 12px;
    font-size: 16px;
    font-family: PingFangSC, 'PingFang SC';
    font-weight: 400;
    border-radius: 6px;
    text-align: left;
    color: rgba(23, 26, 29, 60%);
    background: rgba(0, 0, 0, 3%);
    line-height: 24px;
}
