.click_edit_input_h2_card {
    padding: 16px;
    padding-left: 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .click_edit_input_h2_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .click_edit_input_h2_card_header_title {
            position: relative;
            height: 32px;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 32px;

            &::after {
                position: absolute;
                bottom: 2px;
                left: 0;
                content: '';
                width: 100%;
                height: 6px;
                background: rgba(0, 103, 255, 20%);
            }
        }
    }
}
