/* stylelint-disable selector-class-pattern */
.page {
    width: 100%;
    // height: 480px;
    height: 620px;
    background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/gz_origin/bg_top%402x.png');
    // background-repeat:no-repeat;
    background-position: 50% 0%;
    background-size: cover;

    .content {
        position: absolute;
        right: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: 1200px;
        min-width: 1200px;

        .main {
            // height: 318px;
            margin-top: 111px;
            padding: 10px 32px 24px;
            width: 344px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

            :global {
                .ant-form-item {
                    position: relative;
                    margin-bottom: 24px;

                    &:nth-child(3) {
                        margin-bottom: 12px;
                    }
                }

                .ant-input {
                    height: auto !important;
                }

                .ant-form-item-explain {
                    position: absolute !important;
                    bottom: -23px;
                    font-size: 14px !important;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400 !important;
                    color: #ff4d4f !important;
                    line-height: 22px !important;
                }

                .ant-input-lg {
                    font-size: 16px;
                }

                .ant-form-large .ant-form-item-control-input {
                    min-height: 22px;
                }
            }

            .tabs {
                display: flex;
                justify-content: center;
                margin-bottom: 24px;
                width: 100%;
                height: 56px;

                & > div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    font-size: 20px;
                    font-family: PingFangSC-Medium, 'PingFang SC';
                    font-weight: bold;
                    color: rgba(0, 0, 0, 85%);
                    cursor: pointer;

                    &:not([class='no_hover']):hover {
                        color: #177dff;
                        transition: all ease-in-out 0.3s;
                    }

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #e8e8e8;
                        content: '';
                    }
                }

                .active {
                    color: #177dff;
                    transition: all ease-in-out 0.3s;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #177dff;
                        content: '';
                    }
                }
            }

            .input {
                padding: 9px 12px !important;
                width: 280px !important;
                height: 40px !important;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 6px;
                background: #fff;
                box-sizing: border-box;
            }

            .code {
                width: 140px !important;
                font-size: 16px;
                border-radius: 6px;
                background: #fff;
            }

            .code_btn {
                margin-left: 8px;
                width: 132px !important;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 6px;
                color: rgba(0, 0, 0, 65%);
                background: #fff;
            }

            .login_btn {
                width: 100% !important;
                height: 40px !important;
                border: #177dff;
                border-radius: 6px;
                background-color: #177dff;

                &:hover {
                    opacity: 0.8;
                }
            }

            .forget_btn_box {
                height: 22px;
            }

            // .forget_btn {
            //     float: left;
            //     color: rgba(0, 0, 0, 45%);
            //     font-weight: 400;
            //     font-size: 14px;
            //     font-family: PingFangSC-Regular, 'PingFang SC';
            //     line-height: 22px;
            // }
            .forget_btn {
                float: right;
                color: #177dff;
            }

            .shortMessage {
                color: #177dff;
            }

            .login_tool {
                width: 100%;
                text-align: center;
            }

            .register {
                display: block;
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 45%);
                line-height: 0.14rem;

                span {
                    color: #177dff;
                }
            }

            .other_way_divider {
                margin-top: 40px;
            }

            .other_way {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                font-size: 16px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 45%);
            }

            .wei_xin,
            .ding_ding {
                align-items: center;
                margin-left: 16px;
                cursor: pointer;

                .svg_icon {
                    position: relative;
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;

                    &:hover {
                        top: -4px;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            .which_login {
                display: flex;
                justify-content: space-around;
                margin-top: 16px;

                .wei_xin,
                .ding_ding {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .svg_icon {
                        margin-right: 8px;
                        width: 24px;
                        height: 24px;
                    }

                    span {
                        font-size: 16px;
                        font-family: PingFangSC-Regular, 'PingFang SC';
                        font-weight: 400;
                        color: rgba(0, 0, 0, 45%);
                        line-height: 22px;
                    }

                    span:hover {
                        color: #177dff;
                    }
                }
            }
        }
    }
}
