.user_change_container {
    padding: 16px 24px 12px;
    width: 1200px;
    height: 106px;
    border-radius: 8px;
    background: var(--primary-color-005);

    .user_container_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    .user_count {
        font-size: 18px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 26px;
        font-style: normal;

        .count_number {
            color: var(--primary-color);
        }
    }

    .swipe_wrapper {
        display: flex;

        .circle_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 12px;
            width: 32px;
            height: 32px;
            border: 1px solid rgba(0, 0, 0, 15%);
            border-radius: 50%;
            background: #fff;
            cursor: pointer;

            svg {
                color: rgba(0, 0, 0, 65%);
            }

            &:hover {
                border: 1px solid var(--primary-color);

                svg {
                    color: var(--primary-color);
                }
            }

            &.disabled {
                border: 1px solid rgba(0, 0, 0, 15%);
                background: rgba(0, 0, 0, 4%);
                cursor: not-allowed;

                svg {
                    color: rgba(0, 0, 0, 15%) !important;
                }
            }
        }
    }
}

.user_container_bottom {
    display: flex;
    align-items: center;

    .user_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 17px;
        padding: 4px 8px;
        width: 100px;
        height: 32px;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        border: 1px solid #dfdfdf;
        border-radius: 6px;
        text-align: left;
        color: rgba(0, 0, 0, 65%);
        background: #fff;
        line-height: 24px;
        font-style: normal;
        cursor: pointer;

        span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover,
        &.selected {
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
        }

        &:first-child {
            margin-left: 0;
        }
    }

    :global {
        .anticon {
            flex-shrink: 0;
        }
    }

    svg {
        padding-right: 5px;
        font-size: 18px;
        color: #faad14;
    }
}
