.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    height: 28px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0,0,0,0.85);
    line-height: 28px;
    .left {
        display: flex;
        align-items: center;

        .sign {
            width: 4px;
            height: 18px;
            margin-right: 8px;
            background: var(--primary-color);
            border-radius: 2px;
        }

        .title {
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
        }
    }

    .right {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 45%);
        font-weight: 400;
        font-size: var(--size-1);
        font-family: PingFangSC-Regular, 'PingFang SC';
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }

        &:hover > svg {
            fill: var(--primary-color);
        }

        & > svg {
            width: 0.08rem;
            height: 0.08rem;
            margin-left: 0.03rem;
            fill: rgba(0, 0, 0, 45%);
        }
    }
}

@media screen and (max-width: 1600px) {
    .content {
        .left {
            .sign {
                width: 4px;
                height: 18px;
                margin: 2px 8px 2px 0;
            }
        }

        .right {
            & > svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}
