.sort_card_item_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    height: 32px;
    border-radius: 6px;
    background: #fff;
    box-sizing: border-box;
}

.apply_right_btn {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: right;
}

.sort_card_container {
    overflow: scroll;
    padding: 8px;
    width: 272px;
    height: 300px;
    border-radius: 8px;
    background: #f3f4f5;
    box-sizing: border-box;

    .tips {
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 13px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 65%);
        line-height: 18px;
    }
}
