/* stylelint-disable*/
body {
    min-width: 1200px !important;
    background: #f7f8fc;
}

.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentColor;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.organization-input {
    color: #333;
    font-weight: 400;
    background: #fff;
    border: 0.01rem solid rgba(0, 0, 0, 0.15);
    border-radius: 0.04rem !important;
}

.organization-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

button,
.organization-btn {
    line-height: normal;
    border-radius: 0.04rem !important;
    cursor: pointer;
}

.organization-select:not(.organization-select-customize-input) .organization-select-selector {
    border-radius: 0.04rem !important;
}

.organization-radio-button-wrapper:not(:first-child)::before {
    width: 0;
}

.organization-image-preview-mask {
    z-index: 100000;
}

.organization-image-preview-wrap {
    z-index: 100001;
}
