.bread_crumb {
    margin-bottom: 16px;
    /* stylelint-disable */
    :global {
        .fe-engineer-pc-breadcrumb {
            font-size: 14px;

            &-link,
            &-separator {
                font-size: 16px;
            }

            // .fe-engineer-pc-typography {
            //     cursor: pointer;
            // }

            ol > li {
                &:not(:last-child) {
                    cursor: pointer;
                }

                &:last-child {
                    cursor: default;
                }

                // &:hover span {
                //     color: var(--primary-color) !important;
                // }
            }
        }
    }
    /* stylelint-enable */
}
