/* stylelint-disable selector-class-pattern */
html,
body {
    width: 100%;
    min-width: 1280px;
}

.icon {
    overflow: hidden;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentcolor;
}

.right_content {
    position: relative;

    /* padding: 16px; */

    /* background-color: #fff; */
    border-radius: 8px;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

#root-master {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    overflow: auto;
    min-width: 1200px;
    background: #f0f2f5;
}

.fe-engineer-pc-btn {
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
}
