.page {
    margin: 100px auto;
    padding: 32px 41px;
    width: 438px;
    height: 562px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

    .back_btn {
        padding: 4px 0 !important;
        font-size: var(--size-1);
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 45%);
    }

    .qrcode_title {
        margin: 21px auto;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .qrcode_list {
        overflow-y: auto;
        margin: 21px auto;
        width: 342px;
        height: 297px;
    }

    .qrcode_code {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 283px;
        height: 283px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 4%);

        .svg_icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 283px;
            height: 283px;
            fill: var(--primary-color);
        }
    }

    .please {
        margin: 0 auto;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
        line-height: 22px;
    }
}
