.page {
    padding: 24px;
    min-height: calc(100vh - 64px);
    border-radius: 8px;
    background: #fff;

    /* stylelint-disable selector-class-pattern */
    :global {
        .fe-engineer-pc-timeline-item-head-blue {
            background: var(--primary-color);
        }

        .fe-engineer-pc-timeline-item-tail {
            top: 15px;
            height: calc(100% - 20px);
            border-left: 2px solid var(--primary-color);
        }

        .fe-engineer-pc-timeline-item:last-child {
            padding-bottom: 0 !important;
        }

        .wt_pt_micro_component_container {
            padding: 0 !important;
        }
    }
    /* stylelint-enable */

    .content {
        .info_title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info_title_left {
                display: flex;
                align-items: center;
                gap: 16px;

                .info_title_left_content {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .info_title_left_content_title {
                        font-size: 20px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 85%);
                        line-height: 28px;
                    }

                    .info_title_left_content_value {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        > span:not(.info_title_left_content_value_separator) {
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba(0, 0, 0, 45%);
                            line-height: 22px;
                        }

                        .info_title_left_content_value_separator {
                            width: 1px;
                            height: 10px;
                            border-radius: 1px;
                            background: #d8d8d8;
                        }
                    }
                }
            }

            .info_title_right {
                display: flex;
                align-items: center;
                gap: 16px;

                .info_title_right_item {
                    display: flex;
                    min-width: 112px;
                    text-align: right;
                    flex-direction: column;
                    gap: 4px;

                    .info_title_right_item_title {
                        font-size: 14px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 45%);
                        line-height: 20px;
                    }

                    .info_title_right_item_value {
                        font-size: 28px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 85%);
                        line-height: 40px;
                    }
                }
            }
        }

        .hr_line {
            margin: 24px 0 25px;
            width: 100%;
            height: 1px;
            background: #e8e8e8;
        }

        .timeline {
            .timeline_item {
                .timeline_item_title {
                    margin-bottom: 16px;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 24px;
                }

                .timeline_item_content {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding-bottom: 28px;
                }
            }
        }
    }
}
