.tag_content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 24px;
    column-gap: 12px;

    .tag_item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        height: 22px;
        font-size: 14px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 11px;
        color: rgba(0, 0, 0, 65%);
        line-height: normal;
        cursor: pointer;
        user-select: none;

        &.active {
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            background: var(--primary-color-012);
        }

        &:hover {
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            background: var(--primary-color-012);
        }
    }
}
