/* stylelint-disable selector-class-pattern */
.success_view {
    margin-top: 10px;
    // width: 1200px;
    width: 100%;
    height: 100%;

    .success_view_content {
        :global {
            .ant-image {
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 8px;
                width: 104px;
                height: 102px;
                border: 1px solid rgba(0, 0, 0, 15%);
                line-height: 80px;
                vertical-align: middle;

                .ant-image-img {
                    margin-left: 4px;
                    width: 80px;
                    height: 85px;
                    vertical-align: middle;
                }
            }
        }

        .itemsUpLoad {
            align-items: flex-start;
            // overflow: auto;
            // white-space: pr-wrap;
            // text-overflow: ellipsis;

            & div:nth-child(2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-wrap;
            }
        }
    }

    .image_warp {
        display: flex;
        flex-wrap: wrap;
    }
}
