.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;

    .line {
        margin-right: 7px;
    }

    & > input {
        margin-right: 7px;

        &:last-child {
            margin-right: 0;
        }
    }
}
