/*stylelint-disable*/

.list {
    padding: 24px;
    background-color: #fff;
    width: 100%;
    height: 100%;

    .new_btn {
        margin-top: 8px;

        > span:last-child {
            margin-left: 6px;
        }
    }

    .table {
        margin-top: 16px;

        :global {
            .merchant-center-pagination {
                margin-bottom: 0;

                > li {
                    border-radius: 6px;
                }
            }

            .merchant-center-pagination-options-quick-jumper input {
                border-radius: 6px;
            }
        }
    }
}