/* stylelint-disable selector-class-pattern */

.more_option_com {
    width: 100%;
    margin-top: 16px;
    // padding-left: 66px;
    .more_option_content {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;
        cursor: pointer;
        user-select: none;

        .more_option_icon {
            width: 13px;
            height: 13px;
            color: var(--primary-color);
        }

        .more_option_text {
            margin-left: 7px;
            color: var(--primary-color);
            font-weight: 400;
            font-size: 16px;
        }
    }

    .more_option_des {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 16px;
        // margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px dashed #e9e9e9;

        .more_option_des_icon {
            color: rgba(0, 0, 0, 65%);
        }

        .more_option_des_text {
            margin-left: 7px;
            color: rgba(0, 0, 0, 65%);
            font-weight: 400;
            font-size: 16px;
        }
    }
}
