.rating {
    display: flex;
    justify-content: space-between;
    margin-left: -24px;
    padding: 12px 12px 0;
    width: 1200px;

    .left_content {
        flex: none;
        overflow: hidden;
        width: 240px;
        border-right: 1px solid #e8e8e8;

        .menu_content {
            width: 228px;

            .menu_item {
                display: flex;
                align-items: center;
                padding: 0 4px 0 24px;
                width: 100%;
                height: 46px;
                border-radius: 8px;
                cursor: pointer;
                user-select: none;

                .sign {
                    flex: none;
                    overflow: hidden;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    fill: rgba(0, 0, 0, 65%);
                }

                .name {
                    display: -webkit-box;
                    overflow: hidden;
                    margin-right: 28px;
                    max-width: calc(100% - 100px);
                    font-size: 14px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 22px;
                    flex: 1;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                }

                .status {
                    flex: none;
                    overflow: hidden;
                    margin-left: 12px;
                    width: 14px;
                    height: 14px;

                    &.green {
                        fill: #52c41a;
                    }

                    &.red {
                        fill: #ff4d4f;
                    }
                }

                &.second {
                    .name {
                        color: rgba(0, 0, 0, 65%);
                    }
                }

                &:hover {
                    background: var(--primary-color-006);

                    .sign {
                        fill: var(--primary-color);
                    }

                    .name {
                        color: var(--primary-color);
                    }
                }

                &.active {
                    background: var(--primary-color-006);

                    .sign {
                        fill: var(--primary-color);
                    }

                    .name {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .right_content {
        flex: 1;
        padding: 24px;
        width: calc(100% - 240px);

        .submit_score {
            margin-bottom: 16px;
        }

        .no_preview_content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto 0;
            width: 336px;
            flex-direction: column;

            .no_preview {
                width: 320px;
                height: 320px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/not_found.png');
            }

            .no_preview_small_text {
                position: absolute;
                top: 290px;
                width: 100%;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 65%);
                line-height: normal;
            }

            .no_preview_text {
                position: absolute;
                top: 320px;
                width: 100%;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 65%);
                line-height: normal;

                & > span {
                    color: var(--primary-color);
                }
            }

            button {
                margin-top: 38px;
                color: rgba(0, 0, 0, 65%);
                line-height: normal !important;
            }
        }

        /* stylelint-disable no-descending-specificity */
        :global {
            .super_table_warp {
                .super_space {
                    margin-bottom: 0;
                }
            }
        }
        /* stylelint-enable */
    }
}
