.img_upload_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);

    :global {
        .anticon {
            margin-bottom: 10px;
        }
    }
}
