.invite_login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .invite_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 640px;
        height: 344px;
        padding: 56px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

        .apply_name {
            height: 28px;
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            line-height: 28px;
        }

        .title {
            height: 24px;
            margin-top: 12px;
            margin-bottom: 32px;
            color: rgba(0, 0, 0, 65%);
            font-weight: 400;
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            line-height: 24px;
            text-align: center;
        }

        .choice_wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .sign_up {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                width: 248px;
                height: 136px;
                padding-top: 32px;
                padding-bottom: 24px;
                background: rgba(22, 120, 255, 5%);
                border-radius: 8px;
                cursor: pointer;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    border: 1px solid #e8e8e8;
                    border-radius: 8px;

                    .icon1 {
                        width: 24px;
                        height: 24px;
                        fill: rgba(0, 0, 0, 25%)
                    }
                }

                &:hover {
                    color: #fff;
                    background: var(--primary-color);
                    background: #1678ff;

                    .icon1 {
                        fill: #1678ff
                    }
                }
            }
        }
    }
}
