/* stylelint-disable selector-class-pattern */
.customHeader {
    display: flex;
    justify-content: space-between;
}

.alertTitle {
    margin: 0 auto;
    width: 580px;
    transform: translateX(-60px);
}

.form {
    margin-top: 0.2rem;

    .steps {
        margin: auto;
        width: 60%;

        div[class='ant-steps-item-title'] {
            font-size: var(--size-1);
        }

        div[class='ant-steps-item-description'] {
            font-size: var(--size-1);
            white-space: nowrap;
        }

        div[class='ant-steps-item-content'] {
            padding: 0 15px 0 0;
        }
    }

    .change {
        position: absolute;
        top: 50%;
        left: 101%;
        width: fit-content;
        color: var(--primary-color);
        transform: translateY(-50%);
        cursor: pointer;
    }

    .input {
        width: 3rem !important;
        height: 0.2rem;
        border: 0.01rem solid rgba(0, 0, 0, 15%);
        border-radius: 0.04rem;
        background: #fff;
    }

    .code {
        width: 1.95rem !important;
        height: 0.2rem;
        border: 0.01rem solid rgba(0, 0, 0, 15%);
        border-radius: 0.04rem;
        background: #fff;
    }

    .code_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.05rem;
        width: 1rem !important;
        height: 0.2rem;
        border: 0.01rem solid rgba(0, 0, 0, 15%);
        border-radius: 0.04rem;
        background: #fff;
    }

    .form_btn {
        text-align: center;

        & > button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 0.46rem;
            height: 0.2rem;
            border-radius: 0.04rem;
            background: var(--primary-color);
        }
    }
}
