/* stylelint-disable*/
.form {
    margin-top: 68px;

    .steps {
        margin: auto;
        width: 60%;

        :global {
            .fe-user-pc-steps-item-title {
                font-size: var(--size-1);
            }

            .fe-user-pc-steps-item-description {
                max-width: max-content;
                font-size: var(--size-1);
                white-space: nowrap;
            }

            .fe-user-pc-steps-item-content {
                padding: 0 15px 0 0;
            }
        }
    }

    label {
        font-size: 16px;
    }

    .input {
        width: 3rem !important;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        background: #fff;
    }

    .code {
        width: 2.3rem !important;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        background: #fff;
    }

    .code_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.05rem;
        width: 1rem !important;
        border: 0.01rem solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        background: #fff;
    }

    .form_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
    }
}
