.page {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // height: 40px;
    background: rgba(255, 255, 255, 0%);

    .power {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 54px;
        background: #20242c;

        .power_item {
            margin-right: 48px;
            font-size: 14px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            text-align: left;
            color: #949498;
            font-style: normal;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background: #171b22;

        .content_item {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            text-align: left;
            color: #949498;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 50%);
            flex: none;
            line-height: 22px;
            font-style: normal;

            & > img {
                display: block;
                margin-right: 3px;
                width: 20px;
                height: 22px;
                flex: none;
            }

            & > a {
                font-size: 14px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                text-align: left;
                color: #949498;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 50%);
                flex: none;
                line-height: 22px;
                font-style: normal;
            }
        }

        .content_split {
            margin: 0 12px;
            width: 1px;
            height: 14px;
            background: #e8e8e8;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50%);
            flex: none;
        }
    }

    // .text {
    //     position: relative;
    //     color: rgba(0, 0, 0, 45%);
    //     font-weight: 400;
    //     font-size: 14px;
    //     font-family: PingFangSC-Regular, 'PingFang SC';
    //     line-height: 22px;

    //     &:first-child {
    //         margin-right: 25px;

    //         &::after {
    //             position: absolute;
    //             top: 5px;
    //             right: -12px;
    //             display: block;
    //             width: 1px;
    //             height: 14px;
    //             background: #e8e8e8;
    //             content: '';
    //         }
    //     }
    // }

    // .image {
    //     width: 18px;
    //     height: 20px;
    //     margin-right: 5px;
    // }
}
