/* stylelint-disable */

.title_block {
    display: flex;
    align-items: center;
    height: 32px;

    .title {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 85%);
        font-weight: 500;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        line-height: 28px;

        &::before {
            display: block;
            width: 4px;
            height: 18px;
            margin-right: 8px;
            background: var(--primary-color);
            border-radius: 2px;
            content: '';
        }
    }
}
