.click_edit_input_card {
    padding: 16px;
    border: 2px solid transparent;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .click_edit_input_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .click_edit_input_card_header_title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;

            .title_desc {
                margin-left: 4px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: 24px;
            }
        }

        .click_edit_input_card_header_ai {
            display: flex;
            align-items: center;
            padding: 4px 6px;
            border: 1px solid #1678ff;
            border-radius: 6px;
            background: #fff;
            transition: all 0.3s;
            cursor: pointer;
            gap: 4px;

            &.disabled {
                cursor: default;
                opacity: 0;
                pointer-events: none;
            }

            > span {
                font-size: 16px;
                font-weight: 400;
                color: #1678ff;
                line-height: 24px;
            }

            > img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
