.custom {
    margin-top: 16px;

    .smalls {
        display: flex;
        justify-content: space-between;
        width: 361px;

        .small {
            cursor: pointer;
            position: relative;

            .check {
                position: absolute;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 0 8px;
                background: #1678ff;

                > span {
                    font-size: 14px;
                    color: #fff;
                }
            }

            > img {
                width: 72px;
                height: 72px;
            }
        }
    }

    .large {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        padding: 26px 40px;
        width: 361px;
        height: 203px;
        font-size: 20px;
        font-family: AlimamaShuHeiTi;
        font-weight: bold;
        text-align: center;
        color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 38px;
    }
}
