.ques_analyze {
    margin-top: 16px;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 2%);

    .teacher_mark {
        margin-bottom: 16px;
        padding-bottom: 16px;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        border-bottom: 1px solid #e8e8e8;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;

        span {
            color: var(--primary-color);
        }
    }

    .flex_item {
        display: flex;
        margin-bottom: 8px;
        flex-wrap: wrap;
    }

    .label {
        display: flex;
        justify-content: space-between;
        width: 80px;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        text-align: right;
        color: rgba(0, 0, 0, 45%);
        line-height: 24px;
        font-style: normal;
    }

    .value {
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        text-align: left;
        color: rgba(0, 0, 0, 85%);
        flex: 1;
        line-height: 24px;
        font-style: normal;

        :global {
            p {
                display: inline;
                margin-bottom: 0;
            }
        }
    }
}
