.button_box {
    margin-bottom: 20px;
  }
  .table {
    tr {
      th {
        font-weight: bold;
      }
    }
    td {
      padding: 0 !important;
    }
    button[class='exam-center-table-row-expand-icon exam-center-table-row-expand-icon-collapsed'] {
      display: none !important;
    }
  
    .table_total {
      display: flex;
  
      > div:nth-child(1) {
        width: 15.7%;
      }
  
      > div:nth-child(2) {
        width: 10.7%;
      }
  
      > div:nth-child(3) {
        width: 100px;
      }
  
      > div:nth-child(4) {
        width: 100px;
      }
  
      > div:nth-child(5) {
        width: 100px;
      }
    }
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form_box {
    display: flex;
    align-items: center;
  }
  
  .choice {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .add_options_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    color: var(--primary-color);
    font-size: 14px;
    border: 1px dashed #1890ff;
    border-radius: 4px;
    cursor: pointer;
  }
  div[class='site-tree-search-value'] {
    color: #f50;
  }
  .flex_column {
    display: flex;
    flex-direction: column;
  }
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  