/* stylelint-disable */

.batch_import_modal {
    .import_start {

        :global {
            .exam-center-upload {
                width: 100%;
            }

            .exam-center-alert-message {
                color: rgba(0,0,0,0.65);
            }

            .exam-center-typography {
                color: rgba(0,0,0,0.65);
            }
        }
    
        .download_template {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
            padding: 24px;
            border-radius: 8px;
            border: 1px dashed rgba(0,0,0,0.15);
            background: rgba(0,0,0,0.04);

            :global {
                .anticon {
                    color: rgba(0,0,0,0.65);
                    margin-right: 8px;
                }
            }

            .download_btn:hover {
                :global {
                    .anticon, .exam-center-typography {
                        color: var(--primary-color);
                    }
                }
            }

            .text {
                font-size: 16px;
                font-weight: 500;
                color: rgba(0,0,0,0.85);
                line-height: 22px;
            }
    
            .sub_text {
                margin-top: 4px;
                font-size: 16px;
                font-weight: 400;
                color: rgba(0,0,0,0.45);
                line-height: 22px;
            }
        }
    
        .download_content {
            padding: 32px;
            background: rgba(0,0,0,0.04);
            border-radius: 8px;
            border: 1px dashed rgba(0,0,0,0.15);
            margin-top: 16px;
            text-align: center;
            cursor: pointer;
    
            .icon_import {
                font-size: 48px;
                color: var(--primary-color);
            }
    
            .tips {
                margin: 8px 0 12px 0;
                font-size: 16px;
                color: rgba(0,0,0,0.45);
                line-height: 24px;
            }
        }
    }
    
    .import_loading {
        padding: 24px 0;
        text-align: center;
    
        .text {
            color: rgba(0,0,0,0.65);
            line-height: 24px;
            margin-top: 16px;
        }
    
        .file {
            margin-top: 28px;
            text-align: left;
    
            .file_name {
                color: rgba(0,0,0,0.65);
                line-height: 24px;
                margin-left: 4px;
            }
        }
    
        :global {
            .exam-center-progress {
                padding-left: 20px;
            }
        }
    }

    .import_resolved {
        padding: 24px 0;

        :global {
            .exam-center-space {
                width: 100%;
                justify-content: center;
            }

            .anticon {
                font-size: 40px;
                color: #36C626;
            }
        }

        .text {
            margin-bottom: 8px;
            font-size: 24px;
            font-weight: 500;
            color: rgba(0,0,0,0.85);
            line-height: 32px;
        }
    }

    .import_rejected {
        .header {
            :global {
                .exam-center-space {
                    width: 100%;
                    justify-content: center;
                }
    
                .anticon {
                    font-size: 40px;
                    color: #FF4D4F;
                }
            }
            .text {
                margin-bottom: 8px;
                font-size: 24px;
                font-weight: 500;
                color: rgba(0,0,0,0.85);
                line-height: 32px;
            }
        }

        .download_record {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 24px 0 16px;

            &.isWord {
                justify-content: flex-end;
                margin-bottom: 0;
            }

            .text {
                font-weight: 500;
                color: rgba(0,0,0,0.85);
                line-height: 24px;
            }
        }
    }
}

