.tips {
    :global {
        .fe-signin-pc-modal-content {
            height: 512px;
            background-image: url('https://static.zpimg.cn/public/examination_pc/image/tips_bg.png');
            background-size: 100% 100%;
        }
    }

    .wrap {
        width: calc(100% - 48px);
        position: absolute;
        bottom: 48px;
        display: flex;
        justify-content: center;
    }
}
