.modules_control_container {
    display: flex;
    overflow: scroll;
    padding: 8px;
    width: 272px;
    height: 300px;
    border-radius: 12px;
    background: #f3f4f5;
    flex-direction: column;
    box-sizing: border-box;

    .tips {
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 13px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 65%);
        line-height: 18px;
    }
}

.apply_right_btn {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: right;
}
