/* stylelint-disable*/
@import url('../../common.module.less');

.certificate_container {
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%);

        .operate {
            visibility: visible !important;
        }
    }

    .operate {
        visibility: hidden;

        :global {
            .fe-job-pc-btn {
                margin: 0;
                padding: 0;

                span:nth-child(2) {
                    margin-left: 4px;
                }
            }
        }
    }

    .tag_wrapper {
        flex: 1;

        :global {
            .fe-job-pc-tag {
                padding-right: 8px;
                padding-left: 8px;
                height: 24px;
                font-size: 16px;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 4px;
                background: rgba(0, 0, 0, 4%);
                line-height: 22px;
            }
        }
    }
}
