.quick_entry {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 101px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 30%);
    box-shadow: 0 4px 16px 0 rgba(211, 232, 255, 24%);
    backdrop-filter: blur(1px);
    column-gap: 9px;

    .h3 {
        padding: 16px;
        width: 111px;
        font-size: 18px;
        font-weight: 500;
        color: #333;
        line-height: 25px;

        &::after {
            content: '';
            display: block;
            margin-top: 18px;
            width: 20px;
            height: 3px;
            background-color: var(--primary-color);
        }
    }

    .item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px 17px 17px 23px;
        border-radius: 8px;
        column-gap: 13px;
        cursor: pointer;

        &:not(:last-child) {
            &::after {
                position: absolute;
                right: -5px;
                content: '';
                display: block;
                width: 1px;
                height: 45px;
                background: #fff;
            }
        }

        .image {
            width: 46px;
            height: 46px;
        }

        .text {
            .name {
                display: flex;
                align-items: center;
                color: #333;
                line-height: 22px;
                column-gap: 8px;

                .icon {
                    position: relative;
                    left: -22px;
                    opacity: 0;

                    /* transition: 变化的属性 花费时间 运动曲线 何时开始; */
                    transition: opacity 0.1s ease, left 0.1s ease;
                }
            }

            .link {
                display: flex;
                column-gap: 8px;
            }

            .info {
                margin-top: 7px;
                font-size: 14px;
                color: #666;
                line-height: 20px;
            }
        }

        &:hover {
            background: rgba(87, 157, 255, 6%);

            .name {
                color: var(--primary-color);

                .icon {
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
}
