.status_warp {
    display: flex;
    align-items: center;
    justify-content: center;

    .point0,
    .point1,
    .point2,
    .point3,
    .point4,
    .point5 {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        background-color: #faad14;
        border-radius: 50%;
    }

    .point1 {
        background-color: #52c41a;
    }

    .point2 {
        background-color: #d9d9d9;
    }

    .point3 {
        background-color: #0067ff;
    }

    .point5 {
        background-color: #ff4d4f;
    }
    span {
        width: 8px;
        height: 8px;
        margin: 1px 8px 0 0;
        display: block;
    }
    div {
        font-size: 16px;
    }
}
