/* stylelint-disable selector-class-pattern */
.content {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 24px;
    background: #f7f8fc;
    border-radius: 36px;
    width: max-content;

    :global {
        .merchant-center-form-item-control {
            width: 120px;
        }
    }
}

.component_search_form {
    display: flex;
    align-items: center;

    :global {
        .merchant-center-form-item {
            margin: 0 32px 0 0;
        }

        .merchant-center-select {
            min-width: 120px;
            max-width: 200px;
        }
    }
    
    margin-bottom: 24px;
    padding: 16px 24px;
    background: #F7F8FC;
    border-radius: 36px;
}