.bread_crumb {
    margin-bottom: 16px;
    
    :global {
        .exam-center-breadcrumb {
            font-size: 14px;

            &-link, &-separator {
                font-size: 16px;
            }

            .exam-center-typography {
                cursor: pointer;
            }
        }
    }
}
