/* stylelint-disable selector-class-pattern */

.enroll_center {
    position: relative;
    padding: 44px 0 24px;
    width: 100%;
    min-height: 100vh;
    background: url('https://wtzp-static.oss-cn-hangzhou.aliyuncs.com/public/fe_user_pc/images/bg%402x.png')
        no-repeat;
    background-size: 100% 100%;

    .header_btn_con {
        display: flex;
        align-items: center;

        .center_btn {
            margin-right: 32px;
        }
    }

    .main {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 56px;
        width: 1200px;
        max-width: 1200px;
        border-radius: 12px;
        background: #fff;
        flex-direction: column;

        .registrationProject {
            margin-bottom: 48px;
            padding: 32px 32px 0;
            width: 1088px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 3%);

            .messageItem {
                margin-top: 18px;
                padding-bottom: 10px;
            }

            :global {
                span[class*='ant-descriptions-item-content'] {
                    color: rgba(0, 0, 0, 65%);
                }
            }
        }

        h2 {
            font-size: 24px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 32px;
        }

        .content {
            width: 100%;

            .form {
                margin-top: 0.2rem;

                .input {
                    width: 100%;
                    height: 0.2rem;
                    border: 0.01rem solid rgba(0, 0, 0, 15%);
                    border-radius: 0.04rem;
                    background: #fff;
                }

                .textarea {
                    position: relative;
                    width: 100%;
                    min-width: 100%;
                    border-radius: 6px;
                    background: #fff;

                    &::after {
                        position: absolute;
                        right: 12px;
                        bottom: 4px;
                        margin: 0;
                    }

                    :global {
                        textarea {
                            height: auto !important;
                        }
                    }
                }
            }

            .form_btn {
                display: flex;
                justify-content: center;
                padding-top: 16px;
                width: 100%;

                & > button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 320px;
                    min-width: 320px;
                    height: 40px;
                    border-radius: 6px;
                    background: #1678ff;
                    background: var(--primary-color);
                }
            }
        }
    }
}
