.page {
    padding: 24px;
    min-height: calc(100vh - 110px);
    border-radius: 8px;
    background-color: #fff;

    .content {
        margin-top: 32px;
        width: 100%;

        .performance_info {
            width: 100%;

            .performance_info_item {
                display: flex;
                width: 100%;

                span:first-child {
                    flex: none;
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 85%);
                }

                span:last-child {
                    overflow: hidden;
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: rgba(0, 0, 0, 65%);
                    flex: 1;
                    word-break: break-all;
                }
            }
        }

        .performance_input_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 32px;
            margin-bottom: 16px;
            width: 100%;

            .performance_input_content_btn {
                margin-right: 8px;
                width: 116px;
                height: 32px;
                border-radius: 6px;
                color: rgba(0, 0, 0, 65%);
                line-height: normal;

                &:hover {
                    color: var(--primary-color);
                }

                &:focus {
                    color: var(--primary-color);
                }
            }

            .performance_input_content_text {
                width: 100%;
                font-size: 16px;
                color: rgba(0, 0, 0, 65%);
                line-height: 28px;

                span {
                    color: var(--primary-color);
                    cursor: pointer;
                    user-select: none;
                }
            }
        }

        .performance_score_submit_content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 32px;
            width: 100%;
            column-gap: 16px;

            button {
                border-radius: 6px;
                line-height: normal;
            }
        }
    }
}
