.resource_rename_modal_content {
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
        padding-left: 12px;
        width: 9em;

        &::before {
            margin-right: 4px;
            color: red;
            content: '*';
        }
    }
}
