.conduct {
    position: relative;
    width: 1200px;
    padding: 24px;

    .textarea {
        height: 32px;
    }
    .title {
        height: 28px;
        margin-bottom: 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }

    .hearder {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 16px;
        background: #fafafa;
        border-radius: 6px 6px 0 0;
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.06);

        > div {
            box-sizing: border-box;
            width: 112px;
            height: 24px;
            padding-left: 16px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }

        > div:not(:first-child) {
            border-left: 1px solid #e8e8e8;
        }

        > div:first-child {
            flex: 1;
        }

        > div:last-child {
            width: 143px;
        }
    }

    .content {
        .image {
            display: block;
            width: 100%;
            height: 100%;
        }

        .item {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 138px;
            margin: 16px 0;
            padding: 16px;
            background: #f5f9ff;
            border: 1px solid #d0e2ff;
            border-radius: 8px;

            .commodity {
                display: flex;
                flex: 1;

                .image_warp {
                    flex-shrink: 0;
                    box-sizing: border-box;
                    width: 104px;
                    height: 104px;
                    padding: 8px;
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 6px;
                }

                .desc {
                    // margin-left: 16px;
                    margin: auto auto auto 16px;
                    .name {
                        height: 24px;
                        margin-bottom: 16px;
                        color: rgba(0, 0, 0, 0.85);
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .details {
                        height: 28px;
                        margin-bottom: 4px;
                        color: rgba(0, 0, 0, 0.45);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }

            .price,
            .num,
            .all_price,
            .delete {
                width: 80px;
                height: 24px;
                margin-right: 36px;
                color: rgba(0, 0, 0, 0.85);
                line-height: 24px;
            }

            .num {
                height: 32px;
            }

            .all_price {
                color: #0067ff;
            }

            .delete {
                width: 110px;
                margin-right: 0;
                cursor: pointer;
            }
        }
    }

    .describe {
        display: flex;
        margin-bottom: 16px;

        > div:first-child {
            flex-shrink: 0;
            height: 24px;
            color: #333;
            font-weight: 400;
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            line-height: 24px;
        }
    }

    .go_back {
        display: flex;
        align-items: center;
        margin-right: 32px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 24px;
        cursor: pointer;

        .svg_icon {
            width: 18px;
            height: 16px;
            margin-right: 8px;
            opacity: 0.45;
            fill: #000;
        }

        &:hover .svg_icon {
            opacity: 1;
            fill: var(--primary-color);
        }

        &:hover {
            color: var(--primary-color);
        }

        .image {
            width: 18px;
            height: 16px;
            margin-right: 4px;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        width: 100%;
        height: 64px;
        padding-right: 24px;
        background-color: #fff;
    }

    [class='transaction-popover-inner-content'] {
        padding: 0;
    }

    [class='transaction-popover-inner'] {
        overflow: hidden;
        border-radius: 6px;
    }

    .attrbute {
        display: -webkit-box;
        min-width: 250px;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.45);
        font-weight: 400;
        font-size: 16px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .hover_text {
        max-width: 389px;
        padding: 4px 8px;
        color: #fff;
        border-radius: 6px;
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 3px 6px -4px rgba(0, 0, 0, 0.12);
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/user-pc/order/top_bg.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 320px;
}

:global {
    #root {
        height: 100%;
    }
}
