.flex_bet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_container {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #f2f2f2;

    .img_wrap {
        img {
            width: 100%;
        }
    }

    .name {
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: blue;
    }

    .footer {
        .flex_bet();

        .price {
            font-weight: bold;
            color: red;
        }

        .origin_price {
            text-decoration: line-through;
            color: #999;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }
}
