.filter_button {
    position: relative;
    display: flex;
    // padding: 6px 12px;
    padding: 6px 7px;
    border-radius: 6px;
    background: #f8f8f8;
    column-gap: 4px;
    cursor: pointer;

    .title {
        font-size: 14px;
        color: #666;
        line-height: 20px;
    }

    .icon {
        position: relative;
        top: 6px;
        width: 8px;
        height: 8px;
        color: #ccc;
    }

    .child {
        position: absolute;
        top: 32px;
        z-index: 99;
        display: none;
    }

    &:hover {
        background: var(--primary-color-006);

        .title {
            color: var(--primary-color);
        }

        .icon {
            color: var(--primary-color);
            transform: rotate(180deg);
            transform-origin: center 50%;
        }

        .child {
            display: block;
        }
    }
}
