.face_sign_in {
    display: flex;
    width: 100%;
    min-width: 1400px;
    height: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    background: #212124;
    touch-action: manipulation;

    .left {
        width: 360px;
        height: 100%;
        border-right: 1px solid #333438;

        > div {
            width: 100%;
        }
        .bottom {
            height: calc(100% - 65px);
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            padding: 0 24px;
            .text {
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                font-family: PingFangSC-Medium, PingFang SC;
            }
            .sign_tab {
                flex: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                overflow: hidden;
                .sign_tab_item {
                    cursor: pointer;
                    flex: none;
                    width: 60px;
                    height: 32px;
                    background: #424246;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: PingFangSC, PingFang SC;
                    font-weight: 400;
                    font-size: 14px;
                    &.active {
                        background: #ffffff;
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
                &.hide_tab {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }

    .right {
        width: calc(100% - 361px);
        > div {
            width: 100%;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            padding: 0 24px;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            border-bottom: 1px solid #333438;

            .subject_box {
                padding: 2px 8px;
                color: #1890ff;
                font-weight: 400;
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                background: #e6f7ff;
                border: 1px solid #91d5ff;
                border-radius: 2px;
            }
            .split_line {
                color: #7c8083;
            }
            .btn_box {
                > div {
                    padding: 5px 16px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    background: #424246;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background: #56565a;
                    }
                }
            }
        }
    }
}

.error_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;

    .icon {
        margin-bottom: 24px;
        color: #bbb;
        font-size: 72px;
    }
}
