.page {
    height: 544px;
    background-color: #fff;

    .serve {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        padding-top: 80px;
        width: 1200px;
        min-width: 1200px;
        text-align: center;

        .title {
            font-size: 36px;
            font-family: PingFang-SC-Heavy, PingFang-SC;
            font-weight: 800;
            color: #333;
            line-height: 50px;
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 48px;

            .item {
                margin-right: 120px;
                width: 144px;
                text-align: center;

                &:nth-child(5n) {
                    margin-right: 0;
                }

                &:nth-child(n + 6) {
                    margin-top: 40px;
                }

                .title {
                    margin-top: 4px;
                    font-size: 16px;
                    font-family: PingFang-SC-Heavy, PingFang-SC;
                    font-weight: 800;
                    color: #333;
                    line-height: 22px;
                }

                .image {
                    width: 97px;
                    height: 96px;
                }
            }
        }
    }
}
