.page {
    margin: auto;
    width: 1200px;

    /* stylelint-disable selector-class-pattern */
    :global {
        .fe-engineer-pc-timeline-item-head-blue {
            background: var(--primary-color);
        }

        .fe-engineer-pc-timeline-item-tail {
            top: 15px;
            height: calc(100% - 20px);
            border-left: 2px solid var(--primary-color);
        }

        .wt_pt_micro_component_container {
            padding: 0 !important;
        }
    }
    /* stylelint-enable */

    .content {
        padding: 30px 15px;
        width: 1200px;
        min-height: 400px;
        border-radius: 12px;
        background: #fff;

        .timeline {
            .timeline_item {
                display: flex;
                width: 100%;
                flex-direction: column;

                .timeline_item_title {
                    display: block;
                    margin-bottom: 12px;
                    width: 100%;
                    height: 24px;
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 24px;
                }
            }
        }
    }
}

.list_wrap_4 {
    /* stylelint-disable selector-class-pattern */
    :global {
        .fe-engineer-pc-row > div {
            &:nth-last-child(4),
            &:nth-last-child(3),
            &:nth-last-child(2),
            &:nth-last-child(1) {
                .fe-engineer-pc-col {
                    .fe-engineer-pc-list-item {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
    /* stylelint-enable */
}
