.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid grey;

    .profession_name {
        display: flex;
        align-items: center;

        .profession_name_content {
            margin-left: 10px;
        }
    }
}
