.page {
    margin: auto;
    width: 948px;

    /* stylelint-disable selector-class-pattern */
    :global {
        //
    }
    /* stylelint-enable */

    .content {
        width: 100%;
        min-height: 400px;
        background: #fff;
    }
}
