.page {
    overflow-y: auto;
    height: 100%;

    .form_box {
        display: flex;
        justify-content: center;

        .form {
            width: 100%;
            max-width: 600px;

            .range_picker {
                width: 100%;
                border-radius: 6px;
            }

            :global {
                .ant-radio-button-wrapper {
                    box-shadow: none;
                    border-width: 1px;

                    &:first-child {
                        border-radius: 6px 0 0 6px;
                    }

                    &:last-child {
                        border-radius: 0 6px 6px 0;
                    }
                }

                .ant-radio-button-wrapper-checked {
                    background: #fff;

                    span {
                        color: var(--primary-color);
                    }
                }
            }

        }
    }
}