/* stylelint-disable*/
.hierarchical_diagnosis {
    padding: 24px;
    min-height: 100%;
    border-radius: 8px;
    background-color: #fff;

    :global {
        .super_form_item .fe-job-pc-select {
            width: 100%;
        }
    }
}
