.question_wrapper {
    .sub_ques_container {
        margin-top: 16px;
    }

    .sub_ques_wrapper {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        .sub_ques_title {
            display: flex;

            .sub_ques_title_wrapper {
                flex: 1;
            }
        }
    }
}
