.table {
    width: 100%;
    div[class='transaction-pro-table'] {
        div[class*='transaction-alert-info'] {
            padding: 0;
            background: #fff;
            border: none;
        }
    }
}
