/* stylelint-disable*/
.page {
    .search_box {
        width: 720px;

        .search {
            border: 1px solid var(--primary-color) !important;
            border-radius: 8px !important;
            background: #fff;

            :global {
                .fe-job-pc-input-affix-wrapper {
                    height: 40px;
                    border: none;
                    border-radius: 8px 0 0 8px;
                    box-shadow: none;

                    .fe-job-pc-input {
                        line-height: 38px;
                    }
                }

                .fe-job-pc-input-group-addon {
                    left: 1px;
                    border-radius: 8px;

                    .fe-job-pc-input-search-button {
                        padding: 0;
                        width: 76px;
                        height: 40px;
                        border: none;
                        box-shadow: none;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;

                        span {
                            text-shadow: none;
                        }

                        .anticon-search {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}
