/* stylelint-disable*/
.profession_tags {
    display: flex;
    background-color: #f7f7f7;

    .first_level_type {
        display: flex;
        overflow-y: scroll;
        height: 424px;
        flex-direction: column;

        /* 隐藏滚动条 */
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .job_item_active_styles {
            padding: 8px 24px;
            height: 40;
            border-left: 3px solid var(--primary-color);
            color: var(--primary-color);
            background-color: #fff;
            cursor: pointer;
        }

        .job_item_styles {
            padding: 8px 24px;
            height: 40;
            cursor: pointer;
        }
    }

    .tabs {
        display: none;
    }

    :global {
        .ant-tabs-nav-more {
            display: none !important;
        }
    }

    .content {
        overflow-y: scroll;
        padding: 24px;
        height: 424px;
        background-color: #fff;
        flex: 1;

        .title {
            margin-bottom: 16px;
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 24px;

            &:not(:first-child) {
                margin-top: 24px;
            }
        }

        .tag_group {
            .tag_wrap {
                // min-width: 80px;
                cursor: pointer;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}
