.batchExportModal {
  :global {
    .ant-modal-content {
      padding: 0;
    }
  }
}

.exportingModal {
  .title {
    padding: 16px 24px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    padding: 24px;
    text-align: center;

    .loadingIcon {
      width: 40px;
      height: 48px;
      font-size: 40px;
      margin: 0 auto 16px;
      background-size: contain;
    }

    .text {
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.85);
    }
  }

  button {
    display: block;
    margin: 0 auto 24px;
  }
}

.confirmModal {
  padding: 24px;

  .content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;

    .warningIcon {
      font-size: 22px;
      color: #faad14;
      margin-right: 16px;
    }

    .text {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  .footer {
    text-align: right;

    button + button {
      margin-left: 8px;
    }
  }
}

.successModal {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  .successIcon {
    font-size: 40px;
    color: #52c41a;
    margin-right: 16px;
  }

  .content {
    .text {
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 24px;
        color: rgba(0,0,0,0.85);
        line-height: 32px;
        text-align: left;
        font-style: normal;
    }

    .fileName {
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 16px;
        color: rgba(0,0,0,0.85);
        line-height: 24px;
        text-align: left;
        font-style: normal;   
        margin-top: 8px;
     }
  }

  .footer {
    text-align: center;

    button + button {
      margin-left: 8px;
    }
  }
}

.failModal {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;


  .failIcon {
    font-size: 40px;
    color: #ff4d4f;
    margin-right: 16px;
  }

  .content {
    .text {
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 24px;
        color: rgba(0,0,0,0.85);
        line-height: 32px;
        text-align: left;
        font-style: normal;
    }
  }
} 