.select_auth_subject {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;

    .subject_card {
        width: calc(100% / 2 - 8px);
        padding: 24px;
        background: rgba(22, 120, 255, 0.05);
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--primary-color);
        }

        .title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 12px;
        }

        .dec {
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.45);
            line-height: 24px;
        }
    }
    .active {
        border: 1px solid var(--primary-color);

        .title {
            color: var(--primary-color);
        }
    }
}

.select_certificate {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;

    .certificate_card {
        width: calc(100% / 2 - 8px);
        padding: 24px;
        background: rgba(22, 120, 255, 0.05);
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--primary-color);
        }

        .certificate_card_title {
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;

            .view_examples {
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 16px;
                color: #1678ff;
            }
        }

        .certificate_card_dec {
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.45);
            line-height: 24px;
        }
    }
    .active {
        border: 1px solid var(--primary-color);

        .certificate_card_title {
            color: var(--primary-color);
        }
    }
}
