/* stylelint-disable selector-class-pattern */
.icon_wrap_common() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
}

.page {
    width: 400px;
    // height: calc(100vh - 120px);
    // overflow-y: scroll;

    .title {
        padding-top: 16px;
        padding-left: 24px;
        height: 60px;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: 600;
        border-bottom: 1px solid #e9e9e9;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .main {
        padding: 16px 24px;

        .main_title {
            font-size: 16px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: bold;
            // margin-bottom: 16px;
            color: rgba(0, 0, 0, 85%);
        }

        .line {
            margin: 0 0 24px;
            width: 100%;
            height: 1px;
            background: #e9e9e9;
        }

        .radio_list_pc {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 16px;
            height: 208px;

            .radio_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 40px;
                border-radius: 4px;
                background: #f5f5f5;

                .icon {
                    width: 122px;
                    height: 20px;
                    fill: #8c8c8c;
                }
            }

            .radio_text {
                margin: 8px 0 24px;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 65%);
                line-height: 24px;
            }

            :global {
                // .ant-radio-wrapper:nth-child(2) {
                //     margin-left: 48px;
                // }

                .ant-radio-button-wrapper {
                    padding: 0;
                    height: 40px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    border: none;
                    border-radius: 4px;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 24px;
                }

                .ant-radio-button-wrapper:not(:first-child)::before {
                    display: none;
                }

                .ant-radio-button-wrapper-checked {
                    background-color: red;

                    .radio_icon {
                        border: 1px solid var(--primary-color);
                        background: var(--primary-color-008);

                        .icon {
                            fill: var(--primary-color);
                        }
                    }

                    .radio_text {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .radio_list {
            display: flex;
            align-items: flex-start;
            margin: 24px 0;
            height: 96px;

            .radio_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
                border-radius: 4px;
                background: #f5f5f5;

                .icon {
                    width: 48px;
                    height: 48px;
                    fill: rgba(0, 0, 0, 65%);
                }
            }

            .radio_text {
                margin-top: 8px;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 65%);
                line-height: 24px;
            }

            :global {
                // .ant-radio-wrapper:nth-child(2) {
                //     margin-left: 48px;
                // }

                .ant-radio-button-wrapper {
                    margin: 0 12px;
                    padding: 0;
                    height: 64px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    border: none;
                    border-radius: 4px;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 24px;
                }

                .ant-radio-button-wrapper:not(:first-child)::before {
                    display: none;
                }

                .ant-radio-button-wrapper-checked {
                    background-color: red;

                    .radio_icon {
                        border: 1px solid var(--primary-color);
                        background: var(--primary-color-008);

                        .icon {
                            fill: var(--primary-color);
                        }
                    }

                    .radio_text {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .rule {
            margin-top: 16px;

            :global {
                .ant-form-item-label {
                    padding-bottom: 16px;
                    font-size: 16px;
                    font-family: PingFangSC-Medium, 'PingFang SC';
                    font-weight: bold;
                    color: rgba(0, 0, 0, 85%);
                }

                .ant-radio-wrapper {
                    margin-right: 32px;
                    color: rgba(0, 0, 0, 65%);

                    &:last-child {
                        margin-top: 16px;
                    }
                }

                .ant-form-item-control-input {
                    min-height: 24px;
                }
            }
        }

        .add_group {
            margin-top: 16px;

            :global {
                .ant-form-item-label {
                    padding-bottom: 16px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: normal;
                    color: rgba(0, 0, 0, 85%);
                }

                .ant-form-item-required {
                    width: 100%;
                    color: rgba(0, 0, 0, 85%);
                }
            }

            .line_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                & > span {
                    flex: none;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 65%);
                }
            }
        }

        .desc {
            margin: 8px 0 16px;
            width: 352px;
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 65%);
            line-height: 24px;
        }

        .rule_content {
            margin-bottom: 24px;
            font-size: 16px;
        }

        .show_line {
            :global {
                .ant-input-number-group-addon {
                    padding: 0;
                    border: none;
                    background-color: #fff;
                }

                .ant-input-number {
                    margin: 0 10px;
                    width: 88px;
                    border-radius: 6px;
                }
            }
        }
    }
}
