apiVersion: v1
kind: ConfigMap
metadata:
    name: fe-user-pc-configmap
data:
    default.conf: |
        server {
          listen 80;
          access_log /var/log/nginx/host.access.log  main;
          index index.html ;
          root /usr/share/nginx/html;
          add_header Cache-Control 'no-cache,no-store,max-age=0,must-revalidate,proxy-revalidate';
          add_header Access-Control-Allow-Origin *;
          location / {
              try_files $uri $uri/ /index.html;
          }
            location /subApp/organization {
                proxy_pass http://fe-organization:80;
            }
            location /subApp/trading-center {
                proxy_pass http://fe-trading-center:80;
            }
          location =/robots.txt {
              default_type text/html;
              add_header Content-Type "text/plain; charset=UTF-8";
              return 200 "User-Agent: *\nDisallow: /";
          }
        }