.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        height: 0.4rem;
        border-bottom: 1px solid #e8e8e8;

        &:last-child {
            border: none;
        }

        .split {
            width: 0.01rem;
            height: 0.09rem;
            background: #e8e8e8;
        }

        .site {
            display: flex;
            align-items: center;
            margin: 0 0.075rem;
            font-size: var(--size-1);
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);

            a {
                color: rgba(0, 0, 0, 45%);
            }

            .police {
                margin-right: 0.03rem;
                width: 0.11rem;
                height: 0.13rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/police.png');
            }

            &:hover {
                // color: var(--primary-color);
                // cursor: pointer;

                a {
                    color: var(--primary-color);
                }
            }
        }
    }
}
