.mine_class {
    padding: 24px;
    min-height: calc(100vh - 110px);
    border-radius: 8px;
    background: #fff;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title_left {
            position: relative;
            padding-left: 12px;
            font-size: 20px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 28px;

            &::after {
                position: absolute;
                top: 5px;
                left: 0;
                width: 4px;
                height: calc(100% - 10px);
                border-radius: 2px;
                background: var(--primary-color);
                content: '';
            }
        }

        .title_right {
            //
        }
    }

    .tabs {
        margin-top: 8px;
    }

    .course {
        display: flex;
        align-items: center;
        margin-top: 16px;
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;

        .course_item {
            display: flex;
            padding: 12px;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            background: #fff;
            cursor: pointer;
            transition: all 0.3s;

            &:hover,
            &.active {
                border: 1px solid var(--primary-color);

                .course_item_name {
                    color: var(--primary-color) !important;
                }
            }

            .course_item_left {
                position: relative;
                display: block;
                overflow: hidden;
                width: 131px;
                height: 74px;

                .course_image_title_white {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: -webkit-box;
                    overflow: hidden;
                    width: calc(100% - 16px);
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 500;
                    text-align: center;
                    color: #fff;
                    transform: translate(-50%, -50%);
                    line-height: 24px;
                    -webkit-line-clamp: 2; /* 超出3行显示省略号 */
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                }

                .course_image_title_black {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: -webkit-box;
                    overflow: hidden;
                    width: calc(100% - 16px);
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 500;
                    text-align: center;
                    color: #000;
                    transform: translate(-50%, -50%);
                    line-height: 24px;
                    -webkit-line-clamp: 2; /* 超出3行显示省略号 */
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                }

                .course_item_img {
                    width: 131px;
                    height: 74px;
                    border-radius: 6px;
                }
            }

            .course_item_right {
                display: flex;
                justify-content: space-between;
                margin-left: 8px;
                width: 152px;
                flex-flow: column wrap;

                .course_item_name {
                    display: -webkit-box;
                    overflow: hidden;
                    max-height: 48px;
                    font-size: 16px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: normal;
                    color: rgba(0, 0, 0, 85%);
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 24px;
                    word-break: break-word;
                }

                .course_item_info {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 45%);
                    line-height: 22px;
                }
            }
        }
    }

    .class {
        margin-top: 32px;

        .class_operation {
            display: flex;
            align-items: center;

            .class_operation_input {
                display: flex;
                align-items: center;

                span {
                    width: 7em;
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                    line-height: 24px;
                }
            }

            .class_operation_btn {
                display: flex;
                align-items: center;
                margin-left: 32px;
                gap: 8px;
            }
        }

        .class_table {
            margin-top: 24px;
        }
    }
}
