/* stylelint-disable */

.editor_input {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    min-height: 40px;
    max-height: 180px;
    overflow-y: hidden;
    font-size: 16px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: text;
    word-break: break-all;

    &:hover {
        border: 1px solid var(--primary-color);
    }

    :global {
        .w-e-full-screen-container {
            z-index: 1000;
            height: 100vh !important;
            background-color: #fff;
        }

        .w-e-hover-bar {
            display: none;
        }
    }
}

.editor_show,
.editor_hide {
    height: 100%;
    overflow-y: auto;

    :global {
        .w-e-text-placeholder {
            top: 8px;
            color: rgba(0, 0, 0, 45%);
            font-weight: 400;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-style: normal;
            line-height: 28px;
        }

        .w-e-text-container p {
            min-height: 24px;
            margin: 0;
        }

        .w-e-text-container [data-slate-editor] {
            padding: 10px;
        }

        .w-e-text-container [data-slate-editor] img {
            min-width: 14px;
            max-height: 80px;
        }
    }
}

.editor_box {
    flex: 1;
    overflow-y: hidden;
    border: 1px solid transparent;
    word-break: break-all;
  
    .editor_toolbar {
        border-bottom: 1px solid #ccc;

        &_show {
            display: block;
        }

        &_hidden {
            display: none;
        }
    }
}

.editor_input_border {
    border: 1px solid var(--primary-color);
}

.editor_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    color: rgba(0, 0, 0, 85%);
    font-weight: 400;
    font-size: 16px;
    font-family: PingFangSC-Regular, 'PingFang SC';
    line-height: 22px;
}

.editor_title_border {
    background: rgba(0, 0, 0, 6%);
    border-right: 1px solid var(--merchant-primary-color);
    border-right: 1px solid rgba(0, 0, 0, 15%);
}
