.md_wrapper {
    // 表格样式仿照 antd
    overflow: auto;

    table {
        overflow: hidden;
        margin: 16px 0;
        width: 100%;
        font-size: 14px;
        border-radius: 4px;
        background: #fff;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 12px 16px;
        border-bottom: 1px solid #f0f0f0;
        text-align: left;
    }

    th {
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        background: #fafafa;
    }

    tr:last-child td {
        border-bottom: none;
    }

    tr:hover td {
        background: #f5f5f5;
        transition: background 0.3s;
    }

    h1 {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;
        font-style: normal;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: rgba(0, 0, 0, 65%);
        line-height: 22px;
        font-style: normal;
    }

    ul,
    ol {
        margin: 0;
        padding-left: 24px;
        list-style-position: inside;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: initial;
    }

    *:last-child {
        margin-bottom: 0;
    }
}
