/* stylelint-disable*/
.similar_positions {
    margin-bottom: 24px;
    width: 100%;

    .header {
        position: relative;
        z-index: -2;
        padding: 24px 24px 12px;
        height: 62px;
        background-size: 100% 100%;
        background-image: url('https://wtzp-static.oss-cn-hangzhou.aliyuncs.com/dev/fe_job_pc/img/%E7%9B%B8%E4%BC%BC%E8%81%8C%E4%BD%8D%E8%83%8C%E6%99%AF_%E8%93%9D%E8%89%B2%402x.png');

        .title {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 26px;

            &::after {
                position: absolute;
                bottom: 0;
                z-index: -1;
                display: block;
                width: 72px;
                height: 8px;
                background: #cce1ff;
                content: '';
            }
        }
    }

    .content {
        display: flex;
        padding: 8px 24px 10px;
        border-radius: 0 0 8px 8px;
        background-color: #fff;
        flex-direction: column;
        row-gap: 12px;

        .item {
            padding-bottom: 14px;
            padding-left: 14px;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #e8e8e8;
            }

            .name {
                position: relative;
                font-weight: 500;
                color: #333;
                line-height: 24px;

                &::before {
                    position: absolute;
                    top: 11px;
                    left: -14px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: var(--primary-color);
                    content: '';
                }
            }

            .tags {
                display: flex;
                overflow: hidden;
                margin-top: 8px;
                height: 22px;
                column-gap: 8px;
                flex-wrap: wrap;

                .tag {
                    padding: 5px 8px;
                    font-size: 12px;
                    border-radius: 3px;
                    color: #666;
                    background: #f8f8f8;
                    line-height: 12px;
                }
            }

            .org_info {
                display: flex;
                margin-top: 12px;

                .organizationName {
                    overflow: hidden;
                    margin-right: 12px;
                    font-size: 13px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #666;
                    line-height: 18px;
                }

                .financing {
                    position: relative;
                    margin-right: 12px;
                    font-size: 13px;
                    white-space: nowrap;
                    color: #999;
                    line-height: 18px;
                }

                .scale {
                    position: relative;
                    margin-left: 11px;
                    font-size: 13px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    white-space: nowrap;
                    color: #999;
                    line-height: 18px;

                    &::before {
                        position: absolute;
                        top: 4px;
                        left: -11px;
                        display: block;
                        width: 1px;
                        height: 10px;
                        border-radius: 1px;
                        background: #d8d8d8;
                        content: '';
                    }
                }
            }

            .user_info {
                display: flex;
                column-gap: 8px;
                align-items: center;
                margin-top: 16px;

                .text {
                    overflow: hidden;
                    font-size: 13px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #666;
                    line-height: 18px;
                }

                .address {
                    overflow: hidden;
                    margin-left: 8px;
                    min-width: 24px;
                    font-size: 12px;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #999;
                    line-height: 17px;
                    flex: 1;
                }
            }

            &:hover {
                .name {
                    color: var(--primary-color);
                }
            }
        }
    }
}
