.header{
    margin-bottom: 24px;
}
.row {
    height: 90px;
    background: #FAFAFA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-style: normal;
    padding: 16px 24px;
    align-items: flex-start;
}

.value {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    text-align: left;
    font-style: normal;
}