.page {
    background-repeat: no-repeat;
    background-size: 100% 498px;
    background-image: url('https://static.zpimg.cn/dev/fe_job_pc/img/jy/bg_zhanting1_red@2x.png');

    .container {
        margin: auto;
        width: 1200px;
        max-width: 1200px;
    }
}
