.collapse_btn {
    display: flex !important;
    align-items: center !important;
    & > span {
        font-size: 16px;
        margin-right: 4px;
        color: var(--primary-color);
    }
    .collapse_more {
        color: var(--primary-color);
        transform: rotate(90deg);
    }
    &.active {
        .collapse_more {
            transform: rotate(270deg);
        }
    }
}

.category_list {
    background: none;

    :global {
        div[class~='fe-enroll-permission-pc-collapse-header'] {
            padding: 0 !important;
        }
        span[class~='fe-enroll-permission-pc-collapse-header-text'] {
            width: 100% !important;
        }
        div[class~='fe-enroll-permission-pc-collapse-content-box'] {
            padding: 0 !important;
        }
        div[class~='fe-enroll-permission-pc-tooltip-inner'] {
            width: fit-content !important;
        }
    }

    .panel_header {
        width: 100%;
        height: 32px;
        background: rgba(0, 0, 0, 0.06);
        border-radius: 6px;
    }

    .panel_content {
        width: 100%;
        margin-top: 8px;
        overflow: hidden;
        background: #ffffff;
        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
            0px 3px 6px -4px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    .classification_header {
        width: calc(100% - 60px);
        height: 32px;
        padding: 4px 12px;
        .content {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .classification {
        width: calc(100% - 60px);
        height: 32px;
        border-radius: 6px;
        padding: 4px 12px;

        .content {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .classification_edit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            width: calc(100% - 40px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .cate_delete {
            width: 14px;
            height: 14px;
            font-weight: 400;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.25);
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}
