.global_empty_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    & > div {
        width: 272px;
        height: 170px;
        background-image: url('https://static.zpimg.cn/public/career/hunan/icon_empty.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    & > p {
        margin-top: 10px;
        color: #888;
        font-weight: 400;
        font-size: 14px;
    }
}

.offline_bg {
    position: fixed;
    top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    .offline_content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 17px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 3px 6px -4px rgba(0, 0, 0, 0.12);
        .offline_img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
            color: #ff4d4f;
        }
        .offline_tit {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 400;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
        }
    }
}
