.page {
    position: relative;
    min-height: calc(100vh - 452px);
    background: linear-gradient(180deg, var(--primary-color-006) 0%, #f5f9ff 100%);

    .empty_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 860px;
        flex-direction: column;

        .empty_content_img {
            width: 320px;
            height: 398px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('https://static.zpimg.cn/public/job-fe-pc/images/not_found.png');
        }

        .empty_content_text {
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 65%);
        }

        .empty_content_btn {
            margin-top: 24px;
            width: 96px;
            height: 32px;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            border-radius: 6px;
            color: #fff;
            background: var(--primary-color);
        }
    }

    .main {
        width: 100%;
        // max-width: 1200px;
        // margin: auto;
        // padding-top: 24px;

        .search_content {
            width: 100%;
            height: 144px;

            .search_box {
                display: flex;
                align-items: center;
                padding: 32px 0;
                width: 100%;
                height: 144px;
                border-radius: 8px;
                background: var(--primary-color-015);
                flex-direction: column;
            }

            .search_box_bg {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 144px;
                background: #fff;
            }

            .no_top {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9;
                width: 100vw;
                box-shadow: 0 3px 6px rgba(6, 0, 1, 5%);
            }
        }

        .tab_content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 32px;
            width: 100%;
            height: 46px;

            .tab_list {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 216px;
                height: 46px;

                .tab_list_item {
                    font-size: 24px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 500;
                    color: rgba(0, 0, 0, 85%);
                    transition: color ease-in-out 0.2s;
                    cursor: pointer;

                    &.active {
                        color: var(--primary-color);
                    }

                    &:hover {
                        color: var(--primary-color);
                    }
                }

                .tab_list_item_line {
                    position: absolute;
                    bottom: 0;
                    width: 48px;
                    height: 4px;
                    border-radius: 2px;
                    background: var(--primary-color);
                    transition: left ease-in-out 0.2s;

                    &.company {
                        left: 0;
                    }

                    &.job {
                        left: calc(100% - 48px);
                    }
                }
            }
        }

        .list_content {
            margin: auto;
            width: 1200px;
        }
    }
}
