/* stylelint-disable*/
.page_recruiter_manage {
    overflow: hidden;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;

    &.isMiddle {
        margin: 24px auto;
        max-width: 1200px;
    }
}
