.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 32px 120px;
    width: 1200px;
    border-radius: 8px;
    // height: 176px;
    background: #fff;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    .base {
        display: flex;
        justify-content: space-between;
        margin-right: 24px;
        width: 100%;
        height: 100%;
        flex-direction: column;

        .title {
            overflow: hidden;
            margin-bottom: 41px;
            max-width: 735px;
            height: 28px;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 85%);
            word-break: break-all;
            line-height: 28px;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 22px;

            .time {
                flex: none;
                width: 110px;
                height: 22px;
                font-size: 16px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: 22px;
            }

            .tag_list {
                display: flex;
                justify-content: flex-end;
                margin-left: 100px;
                width: 100%;
                height: 100%;

                .tag {
                    margin-right: 8px;
                    padding: 0 8px;
                    height: 24px;
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    border-radius: 4px;
                    color: var(--primary-color);
                    background: var(--primary-color-006);
                    flex: none;
                    line-height: 24px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .image {
        overflow: hidden;
        width: 200px;
        height: 112px;
        border-radius: 6px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: none;
    }

    &:hover {
        width: 1200px;
        border-radius: 8px;
        // height: 156px;
        background: #fff;
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%);
    }
}
