.content {
    display: flex;

    .title {
        margin-bottom: 12px;
        font-size: 16px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;
    }

    .left {
        flex: 1;
        min-height: 448px;
    }

    .right {
        margin-left: 32px;
        width: 472px;

        .box {
            overflow: auto;
            padding: 16px;
            height: 100%;
            max-height: 396px;
            border: 1px solid #e8e8e8;
            border-radius: 8px;

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
                padding: 12px 16px;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                border-radius: 4px;
                color: rgba(0, 0, 0, 85%);
                background: rgba(0, 0, 0, 3%);
                line-height: 24px;

                > div {
                    flex: 1;
                }

                > div:last-child {
                    display: flex;
                    justify-content: flex-end;

                    > span:hover {
                        color: var(--fe-engineer-pc-primary-color);
                        cursor: pointer;
                    }

                    .tag {
                        padding: 0 8px;
                        width: fit-content;
                        font-size: 14px;
                        font-family: PingFangSC, 'PingFang SC';
                        font-weight: 400;
                        border: 1px solid rgba(250, 173, 20, 48%);
                        border-radius: 4px;
                        color: #faad14;
                        background: rgba(250, 173, 20, 12%);
                        line-height: 22px;
                    }
                }
            }

            .info:last-child {
                margin: 0;
            }
        }
    }
}
