.content {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex: 1;

    .content_str {
        color: rgba(0, 0, 0, 65%);
        font-size: 16px;
        word-break: break-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .content_btn {
        flex: none;
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
}
