.ques_title {
    font-size: 16px;
    font-family: PingFangSC, 'PingFang SC';
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 85%);
    line-height: 24px;
    font-style: normal;

    .tag {
        display: inline-block;
        margin-right: 4px;
        padding: 0 8px;
        font-size: 14px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 4px;
        color: rgba(0, 0, 0, 65%);
        background: rgba(0, 0, 0, 4%);
        line-height: 22px;
        flex-shrink: 0;
    }

    .title {
        display: inline;
        word-wrap: break-word;
        word-break: break-word;

        :global {
            * {
                display: inline;
            }
        }
    }
}
