.task_info_page {
    background-color: #f0f2f5;
    border-radius: 8px;
    min-height: calc(100vh - 110px);
    .main_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        .closeRegistration {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: var(--primary-color);

            .header_menu_icon {
                margin-top: 3px;
                margin-right: 3px;
            }
        }
    }

    .task_info_content {
        width: 100%;
        background: #ffffff;
        border-radius: 8px;
        margin-bottom: 16px;
        padding: 24px;
        .task_info_content_title_content {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            .task_info_content_title {
                max-width: 700px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                white-space: nowrap;
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.85);
                margin-right: 12px;
            }
            & span {
                padding: 2px 8px;
            }
        }
        .task_info_content_time {
            display: flex;
            align-items: center;
            .task_info_content_time_item {
                width: 511px;
                font-family: PingFangSC, PingFang SC;
                font-weight: 400;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.85);
                line-height: normal;
                margin-right: 32px;
                .task_info_content_time_item_time {
                    color: rgba(0, 0, 0, 0.65);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .task_info_member {
        width: 100%;
        padding: 24px;
        background: #fff;
        border-radius: 8px;
        .spin {
            width: 100%;
            padding: 100px 0;
            text-align: center;
        }
    }

    .sign_success_tag {
        flex: none;
        background: rgba(22, 120, 255, 0.12);
        border-radius: 4px;
        border: 1px solid rgba(22, 120, 255, 0.48);
        padding: 4px 8px;
        font-size: 16px;
        color: #1678ff;
        font-style: normal;
        line-height: normal;
    }
    .sign_normal_tag {
        flex: none;
        background: rgba(22, 120, 255, 0.12);
        border-radius: 4px;
        border: 1px solid rgba(22, 120, 255, 0.48);
        padding: 4px 8px;
        font-size: 16px;
        color: #1678ff;
        font-style: normal;
        line-height: normal;
    }
    .sign_success_tag {
        flex: none;
        background: rgba(82, 196, 26, 0.12);
        border-radius: 4px;
        border: 1px solid rgba(82, 196, 26, 0.48);
        padding: 4px 8px;
        font-size: 16px;
        color: #52c41a;
        font-style: normal;
        line-height: normal;
    }
    .sign_warring_tag {
        flex: none;
        background: rgba(250, 173, 20, 0.12);
        border-radius: 4px;
        border: 1px solid rgba(250, 173, 20, 0.48);
        padding: 4px 8px;
        font-size: 16px;
        color: #faad14;
        font-style: normal;
        line-height: normal;
    }
    .sign_blue_tag {
        flex: none;
        background: #d9f6f6;
        border-radius: 4px;
        border: 1px solid #00bfbf;
        padding: 4px 8px;
        font-size: 16px;
        color: #5ed7d7;
        font-style: normal;
        line-height: normal;
    }
}

.sign_table_two_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    .sign_table_two_row_item {
        width: 100%;
        display: flex;
        align-items: center;
        .sign_table_two_row_item_title {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            max-width: calc(100% - 58px);
        }
        .sign_table_two_row_item_status {
            display: inline-block;
            line-height: normal;
            margin-top: 2px;
        }
        &.can_click {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}
