/* stylelint-disable selector-class-pattern */
.search_form {
    :global {
        .merchant-center-form-item-label {
            width: 125px;
        }

        .merchant-center-input {
            height: 32px;
        }

        .merchant-center-btn {
            display: flex;
            align-items: center;
            height: 32px;
        }
    }
}
