.swiper {
    position: relative;
    // height: 0.88rem;
    margin-top: 0.15rem;
    width: 100%;
    background: #fff;

    .swiper_item {
        display: flex !important;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 2.55rem !important;
        // height: 0.88rem;
        height: 192px;
        border-radius: 0.05rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--primary-color-006);
        flex-direction: column;
        background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/account_org.png');

        .logo {
            overflow: hidden;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 0.05rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: none;
        }

        .title {
            display: block;
            overflow: hidden;
            margin: 0.08rem 0 0.1rem;
            padding: 0 0.2rem;
            width: 100%;
            font-size: var(--size-2);
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 85%);
            word-break: break-all;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0.92rem;
            height: 0.2rem;
            font-size: var(--size-1);
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            border: 1px solid var(--primary-color-045);
            border-radius: 4px;
            color: var(--primary-color);
            background: var(--primary-color-006);
        }

        &:hover {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: var(--primary-color);
            background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/account_org_active.png');

            .title {
                color: #fff;
            }

            .btn {
                border-color: #fff;
                background: #fff;
            }
        }
    }

    .swiper_prev {
        position: absolute;
        top: 50%;
        left: -0.085rem;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0.25rem;
        background: #fff;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 8%);
        transform: translateY(-50%);
        cursor: pointer;

        & > svg {
            width: 0.08rem;
            height: 0.1rem;
            fill: rgba(0, 0, 0, 85%);
        }

        &:hover {
            background: var(--primary-color);

            & > svg {
                fill: #fff;
            }
        }
    }

    .swiper_next {
        position: absolute;
        top: 50%;
        right: -0.085rem;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0.25rem;
        background: #fff;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 8%);
        transform: translateY(-50%);
        cursor: pointer;

        & > svg {
            width: 0.08rem;
            height: 0.1rem;
            fill: rgba(0, 0, 0, 85%);
        }

        &:hover {
            background: var(--primary-color);

            & > svg {
                fill: #fff;
            }
        }
    }

    div[class='slick-slide'] {
        & > div {
            display: flex;
            justify-content: center;
        }
    }

    div[class='slick-slide slick-active'] {
        & > div {
            display: flex;
            justify-content: center;
        }
    }

    div[class='slick-slide slick-cloned'] {
        & > div {
            display: flex;
            justify-content: center;
        }
    }

    div[class='slick-slide slick-active slick-current'] {
        & > div {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1600px) {
    .swiper {
        // height: 148px;
        margin-top: 24px;

        .swiper_item {
            width: 282px !important;
            height: 192px;
            border-radius: 8px;

            .title {
                padding: 0 32px;
            }

            .btn {
                width: 80px;
                height: 40px;
            }
        }

        .swiper_prev {
            left: -0.085rem;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            cursor: pointer;

            & > svg {
                width: 14px;
                height: 16px;
            }
        }

        .swiper_next {
            right: -0.085rem;
            width: 40px;
            height: 40px;
            border-radius: 20px;

            & > svg {
                width: 14px;
                height: 16px;
            }
        }
    }
}
