.examine_progress {
    padding: 12px 4px 4px;
    border-radius: 8px;
    background: #f5f9ff;

    .examine_progress_title {
        margin-left: 14px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;
    }

    .examine_progress_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        margin-top: 8px;
        border-radius: 8px;
        background: #fcfdff;

        .examine_progress_content_item {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            width: 96px;
            height: 104px;

            .examine_progress_content_item_value {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .examine_progress_content_item_label {
                margin-top: 8px;
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                color: rgba(0, 0, 0, 45%);
                line-height: 20px;
            }

            .examine_progress_text_null {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 58px;
                height: 58px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 50%;
                color: rgba(0, 0, 0, 85%);
                background: rgba(55, 97, 246, 8%);
                line-height: 24px;
            }

            .examine_progress_text_number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 58px;
                height: 58px;
                font-size: 18px;
                font-weight: 500;
                border-radius: 50%;
                color: #3761f6;
                background: rgba(55, 97, 246, 8%);
                line-height: 24px;
            }
        }
    }
}
