.scroll_icon {
    position: sticky;
    bottom: 12px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%), 0 6px 16px 0 rgba(0, 0, 0, 8%),
        0 3px 6px -4px rgba(0, 0, 0, 12%);
    transform: translateX(-50%);
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
        svg {
            color: var(--primary-color);
        }
    }

    svg {
        width: 16px;
        height: 16px;
        color: rgba(0, 0, 0, 65%);
    }
}
