/* stylelint-disable*/
.train_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #1780fd;

    .train_header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        height: 80px;

        .train_header_left {
            display: flex;
            align-items: center;
            width: auto;

            img {
                margin-right: 8px;
                width: auto;
                height: 48px;
                object-fit: contain;
            }

            span {
                font-size: 26px;
                font-family: logo-title;
                font-weight: 100;
                color: #fff;
            }
        }

        .train_header_right {
            flex: none;
            display: flex;
            align-items: center;

            .home_btn {
                display: flex;
                align-items: center;
                padding: 8px 12px;
                font-size: 16px;
                font-family: SourceHanSansCN, SourceHanSansCN;
                font-weight: 400;
                color: #fff;
                cursor: pointer;
                line-height: 18.4px;

                div {
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('https://static.zpimg.cn/public/job-pc/img/icon_top_home%402x.png');
                }

                &:hover {
                    border-radius: 4px;
                    background-color: #4599fd;
                }
            }

            .user_btn {
                position: relative;
                display: flex;
                align-items: center;
                margin-left: 30px;
                cursor: pointer;

                .user_btn_avatar {
                    margin-right: 8px;
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }

                .user_btn_name {
                    font-size: 16px;
                    font-family: PingFangSC-regular, '思源黑体CN', ' Mircrosoft YaHei', Arial,
                        sans-serif;
                    font-weight: 400;
                    color: #fff;
                    cursor: pointer;
                }

                .user_btn_arrow {
                    margin-left: 10px;
                    width: 16px;
                    height: 16px;
                    color: #fff;
                    transition: all ease-in-out 0.2s;
                    cursor: pointer;
                }

                &:hover {
                    .user_btn_arrow {
                        transform: rotate(180deg);
                    }

                    .user_info_card {
                        height: 253px;
                    }
                }
            }

            .user_info_card {
                position: absolute;
                top: 47px;
                left: 50%;
                z-index: 99;
                overflow: hidden;
                padding: 0 16px;
                width: 224px;
                height: 0;
                border-radius: 8px;
                background: #fff;
                box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%), 0 6px 16px 0 rgba(0, 0, 0, 8%),
                    0 3px 6px -4px rgba(0, 0, 0, 12%);
                transition: height ease-in-out 0.2s;
                transform: translateX(-50%);

                .user_info {
                    display: flex;
                    align-items: center;
                    padding: 24px 0 16px;
                    width: 100%;
                    border-bottom: 1px solid #e8e8e8;
                    flex-direction: column;

                    img {
                        overflow: hidden;
                        width: 56px;
                        height: 56px;
                        border-radius: 100%;
                    }

                    span {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        margin: 8px 0 4px;
                        width: 176px;
                        height: 28px;
                        font-size: 20px;
                        font-family: PingFangSC-regular, '思源黑体CN', ' Mircrosoft YaHei', Arial,
                            sans-serif;
                        font-weight: bolder;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #333;
                        line-height: normal;
                    }
                }

                .btn_list {
                    margin: 8px auto;
                    width: 100%;
                    user-select: none;

                    .btn_list_item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 14px 8px;
                        color: #333;

                        div {
                            flex: none;
                            display: flex;
                            align-items: center;

                            svg {
                                margin-right: 10px;
                                width: 16px;
                                height: 16px;
                            }

                            span {
                                line-height: normal;
                                font-size: 16px;
                                font-family: PingFangSC-regular, '思源黑体CN', ' Mircrosoft YaHei',
                                    Arial, sans-serif;
                            }
                        }

                        .arrow {
                            width: 12px;
                            height: 14px;
                        }

                        &:hover {
                            color: #27a3ff;
                            background: rgba(39, 163, 255, 5%);

                            .arrow {
                                color: #27a3ff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.resume_modal {
    width: 420px;
    height: 136px;

    :global {
        .fe-middle-pc-modal-header {
            padding: 15px 15px 10px;
            border: 0;
        }

        .fe-middle-pc-modal-body {
            padding: 10px 15px;
        }

        .fe-middle-pc-modal-footer {
            border: 0;
        }

        .fe-middle-pc-btn {
            padding: 9px 15px;
            font-size: 12px;
            border-radius: 3px;
        }
    }
}

.resume_modal_content {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #606266;

    & > span {
        margin-right: 12px;
        font-size: 20px;
        color: #e6a23c;
    }
}
