.logo {
    display: flex;
    align-items: center;
    padding-left: 48px;
    height: 120px;
    background-color: #fff;

    > img {
        height: 64px;
    }

    .platform_select {
        margin-left: 16px;
        padding: 0 12px;
        height: 32px;
        font-size: 16px;
        border-radius: 16px;
        text-align: center;
        color: #fff;
        background: linear-gradient(270deg, #38bbfb 0%, #256df2 100%);
        line-height: 32px;
    }
}
