.roadmap_graph {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 4%);
}

.toolbar {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    padding: 6px 8px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 90%);
}

.graph_container {
    width: 100%;
    height: 100%;
}

.root_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 160px;
    font-size: 16px;
    font-family: PingFangSC, 'PingFang SC';
    font-weight: 400;
    border-radius: 8px;
    color: rgba(255, 255, 255, 85%);
    background: var(--primary-color);
    user-select: none;

    & > span {
        width: 16px;
        height: 16px;
        border: 2px solid #e0ebf9;
        border-radius: 100%;
        background: #fff;
        flex: none;
    }
}

.task_item_content {
    display: flex;
    align-items: center;
}

.task_item {
    flex: none;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background: #f5f5f5;

    .task_item_name {
        user-select: none;
        display: -webkit-box;
        overflow: hidden;
        width: 128px;
        color: rgba(0, 0, 0, 65%);
        -webkit-line-clamp: 2; /* 超出2行显示省略号 */
        line-clamp: 2; /* 超出2行显示省略号 */
        -webkit-box-orient: vertical;
        word-break: break-all;
    }

    &.light {
        background: var(--primary-color-02);

        .task_item_name {
            color: var(--primary-color);
        }
    }
}

.line_content {
    display: flex;
    align-items: center;
    width: 24px;
    height: 20px;
    flex: none;

    .line {
        width: 8px;
        height: 2px;
        background: rgba(224, 235, 249, 100%);
    }

    .round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        font-size: 12px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        border: 2px solid rgba(224, 235, 249, 100%);
        border-radius: 100%;
        color: rgba(0, 0, 0, 65%);
        flex: none;
        line-height: normal;
    }
}

.point_item {
    overflow: hidden;
    padding: 8px;
    width: max-content;
    max-width: 276px;
    font-size: 14px;
    font-family: PingFangSC, 'PingFang SC';
    font-weight: 400;
    border-radius: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 65%);
    background: #f5f5f5;
    word-break: break-all;
    user-select: none;

    &:hover {
        color: var(--primary-color);
        background: var(--primary-color-02);
    }
}

.hover_info {
    width: 96px;
    border-radius: 8px;
    background: #fff;

    .hover_info_item {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        & > span {
            font-size: 14px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 65%);
            line-height: 22px;
            user-select: none;

            &:last-child {
                color: rgba(0, 0, 0, 85%);
            }
        }
    }
}
