.content {
    // margin-top: 10px;
    padding: 24px;
    height: 100%;
    border-radius: 8px;
    background: #fff;

    :global {
        /* stylelint-disable-next-line selector-class-pattern */
        .cloud-pro-table .cloud-pro-table-search {
            margin: 0;
            padding: 0;
        }
    }
}
