.page {
    width: calc(100%);
    height: 100%;
    padding: 24px;
    background: #fff;
    border-radius: 8px;

    .super_form_item {
        margin-bottom: 32px;
    }

    :global {
        .super_table_title_left {
            width: 100%;
        }
    }
}

.batch_wrapper {
    margin-top: -32px;
}
