.test_paper {
    display: flex;
    justify-content: center;
    width: 100%;

    .mg_0 {
        margin: 0;
    }

    .text_center {
        text-align: center;
    }

    .keep_original {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
    }

    // 宋体五号
    .song_5 {
        font-size: 10.5pt;
        font-family: SongTi;
    }

    // 宋体五号粗
    .song_5_b {
        font-weight: bold;
        font-size: 10.5pt;
        font-family: SongTi;
    }

    // 黑体小二粗
    .black_2_l {
        font-weight: bold;
        font-size: 18pt;
        font-family: HeiTi;
    }

    // 黑体三号粗
    .black_3_b {
        font-weight: bold;
        font-size: 15pt;
        font-family: HeiTi;
    }

    // 黑体四号粗
    .black_4_b {
        font-weight: bold;
        font-size: 14pt;
        font-family: HeiTi;
    }

    // A4纸
    .a4_page {
        display: flex;
        width: 794px;
    }

    // 左侧
    .a4_page_left {
        // 密封线
        .closed_line {
            width: 111px;
            height: 1078px;
        }
    }

    // 右侧
    .a4_page_right {
        width: 550px;
        margin-left: 50px;

        // 总分表格
        .total_score_table_box {
            /* 表格1 */
            .tb_1 {
                margin: 0 auto;
                border-collapse: collapse;
            }

            .tb_1_td {
                vertical-align: middle;
                border-color: #000;
                border-top-style: solid;
                border-right: 0.75pt solid #000;
                border-bottom: 0.75pt solid #000;
                border-left-style: solid;
            }

            .tb_1_td_1 {
                width: 39.65pt;
                padding-right: 5.03pt;
                padding-left: 4.65pt;
                border-top-width: 1.5pt;
                border-left-width: 1.5pt;
            }

            .tb_1_td_2 {
                width: 59.2pt;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                border-top-width: 1.5pt;
                border-left-width: 0.75pt;
            }

            .tb_1_td_4 {
                width: 61.2pt;
                padding-right: 4.65pt;
                padding-left: 5.03pt;
                border-top-width: 1.5pt;
                border-right-width: 1.5pt;
                border-left-width: 0.75pt;
            }

            .tb_1_td_5 {
                width: 61.2pt;
                padding-right: 5.03pt;
                padding-left: 4.65pt;
                border-top-width: 0.75pt;
                border-bottom-width: 1.5pt;
                border-left-width: 1.5pt;
            }

            .tb_1_td_6 {
                width: 39.65pt;
                padding-right: 5.03pt;
                padding-left: 5.03pt;
                border-top-width: 0.75pt;
                border-bottom-width: 1.5pt;
                border-left-width: 0.75pt;
            }

            .tb_1_td_8 {
                width: 39.65pt;
                padding-right: 4.65pt;
                padding-left: 5.03pt;
                border-width: 0.75pt 1.5pt 1.5pt 0.75pt;
            }
        }

        .score_table_box {
            .tb_2 {
                width: 123.9pt;
                margin-left: 0;
                border-collapse: collapse;
            }

            .tb_2_td {
                vertical-align: middle;
                border-color: #000;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom: 0.75pt solid #000;
                border-left-style: solid;
            }

            .tb_2_td_1 {
                width: 39.6pt;
                padding-right: 5.03pt;
                padding-left: 4.65pt;
                border-top-width: 1.5pt;
                border-right-width: 0.75pt;
                border-left-width: 1.5pt;
            }

            .tb_2_td_2 {
                width: 61.2pt;
                padding-right: 4.65pt;
                padding-left: 5.03pt;
                border-top-width: 1.5pt;
                border-right-width: 1.5pt;
                border-left-width: 0.75pt;
            }

            .tb_2_td_3 {
                width: 39.6pt;
                padding-right: 5.03pt;
                padding-left: 4.65pt;
                border-width: 0.75pt 0.75pt 1.5pt 1.5pt;
            }

            .tb_2_td_4 {
                width: 61.2pt;
                padding-right: 4.65pt;
                padding-left: 5.03pt;
                border-width: 0.75pt 1.5pt 1.5pt 0.75pt;
            }
        }

        // 题型
        .question_type_box {
            .question_title,
            .option_title {
                display: flex;
                align-items: baseline;
            }

            /* 选项 */
            .option_1 {
                display: flex;
                flex-wrap: wrap;
            }

            .option_1 > span {
                padding-left: 21pt;
                text-indent: 0;
                -aw-tabstop-align: left;
            }

            .signle_score {
                flex-shrink: 0;
            }

            .html_box {
                word-wrap: break-word;
                word-break: break-all;

                p {
                    word-break: break-all;
                }

                img {
                    max-width: 100%;
                    vertical-align: baseline;
                }
            }

            .group_question_box {
                padding: 0 10px;
            }
        }
    }

    // 下载按钮
    .print_button {
        position: absolute;
        top: 40px;
        right: 200px;
    }

    @media print {
        .print_button {
            display: none;
        }
    }

    // 设置打印页面大小为A4纸，纵向打印portrait，横向打印为landscape，margin属性指定页边距
    @page {
        margin: 6mm 0 6mm 13mm;
        size: a4 portrait;
    }
}
