.course_design_title {
    z-index: 1;
    display: flex;
    overflow: hidden;
    padding: 18px 24px;
    border-radius: 12px 12px 0 0;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 8%);
    flex-direction: column;

    .course_design_title_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        .course_design_title_left {
            font-size: 20px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 28px;
            flex: 1;

            .title {
                display: flex;
                align-items: center;

                &::before {
                    display: block;
                    margin-right: 8px;
                    width: 4px;
                    height: 18px;
                    border-radius: 2px;
                    background: #1678ff;
                    content: '';
                }

                .edit_icon {
                    margin-left: 8px;
                    color: rgba(0, 0, 0, 25%);

                    &:hover {
                        cursor: pointer;
                        color: var(--primary-color);
                    }
                }
            }
        }

        .title_desc {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 32px;
        }

        .course_design_title_right {
            display: flex;
            align-items: center;
            column-gap: 16px;

            .record {
                font-size: 14px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 65%);
                line-height: 22px;
            }

            .one_click_ai {
                display: flex;
                align-items: center;
                padding: 4px 16px;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                border-radius: 6px;
                color: #fff;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                line-height: 24px;
                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/bg_yijianshengcheng.png');

                > img {
                    margin-right: 4px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
