.content {
    margin: 0.12rem 0.1rem;
    background-color: #fff;

    .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .logo {
            width: 0.25rem;
            height: 0.25rem;
            border-radius: 0.05rem;
        }

        .center {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 0.7rem;
            margin: 0 0.03rem 0 0.05rem;
            color: rgba(0, 0, 0, 85%);
            font-weight: 400;
            font-size: var(--size-1);
            line-height: 0.15rem;

            &_name {
                width: 0.6rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    color: var(--primary-color);
                }
            }

            &_img {
                width: 58px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            &_img1 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_yirenzheng@2x.png');
            }

            &_img0 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_weirenzheng@2x.png');
            }

            &_img2 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_shenhezhong@2x.png');
            }
            &_img3 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_biangengshenhe%402x.png');
                width: 74px;
            }
        }

        .shrink {
            width: 0.08rem;
            height: 0.08rem;
        }
    }
}

.popover {
    padding: 0.05rem;

    .title {
        margin-bottom: 0.1rem;
        color: rgba(0, 0, 0, 85%);
        font-weight: bold;
        font-size: var(--size-1);
    }

    .list {
        max-height: 2.36rem;
        margin: 0.1rem 0;
        overflow-y: auto;

        .item {
            display: flex;
            align-items: center;
            width: 2.06rem;
            margin-bottom: 0.05rem;
            padding: 0.08rem 0.1rem;
            background: var(--primary-color-006);
            border: 1px #fff solid;
            border-radius: 0.04rem;
            cursor: pointer;

            &_logo {
                width: 0.25rem;
                height: 0.25rem;
                border-radius: 0.05rem;
            }

            &_icon {
                width: 0.15rem;
                height: 0.15rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            &_icon1 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_yirenzheng.png');
            }

            &_icon0 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_weirenzheng.png');
            }

            &_icon2 {
                background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/png_shenhehzong.png');
            }

            &_name {
                width: 1.3rem;
                margin: 0 0.1rem 0 0.05rem;
                overflow: hidden;
                color: rgba(0, 0, 0, 85%);
                font-weight: 400;
                font-size: var(--size-1);
                line-height: 0.15rem;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &:hover {
                border: 1px solid var(--primary-color-045);

                .item_name {
                    color: var(--primary-color);
                }
            }
        }

        .active {
            border: 1px solid var(--primary-color-045);

            .item_name {
                color: var(--primary-color);
            }
        }

        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }

    button {
        display: block;
        width: 2.06rem !important;
        // height: 0.25rem;
        color: rgba(0, 0, 0, 65%);
        font-size: var(--size-1);
    }
}

@media screen and (max-width: 1600px) {
    .content {
        width: 160px;
        margin: 0.19rem auto;

        .box {
            .logo {
                width: 40px;
                height: 40px;
                border-radius: 8rem;
            }

            .center {
                width: 95px;
                margin: 0 4px 0 8px;
                font-size: var(--size-1);
                line-height: 24px;

                &_name {
                    width: 100px;
                }

                &_true {
                    width: 58px;
                    height: 20px;
                }

                &_false {
                    width: 58px;
                    height: 20px;
                }
            }

            .shrink {
                width: 12px;
                height: 12px;
            }
        }
    }
}
