.page {
    padding: 24px;
    min-height: calc(100vh - 64px);
    border-radius: 8px;
    background: #fff;

    .content {
        margin-top: 24px;
    }

    :global {
        .super_table_title {
            width: 100%;

            .super_table_title_left {
                flex: 1;
            }
        }
    }

    .tabs {
        width: 100%;

        /* stylelint-disable-next-line selector-class-pattern */
        :global(.fe-engineer-pc-tabs-tab) {
            padding: 8px 16px !important;

            /* stylelint-disable-next-line selector-class-pattern */
            &:global(.fe-engineer-pc-tabs-tab-active) {
                font-weight: 500;
                color: #1890ff;
            }
        }
    }
}
