.content_input {
    position: relative;
    width: 100%;
    min-height: 32px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 15%);
    border-radius: 6px;
    text-align: left;
    color: rgba(0, 0, 0, 85%);
    outline: none;
    resize: none;
    transition: all 0.2s;
    line-height: 24px;
    vertical-align: middle;
    background-image: none;
    box-sizing: border-box;
    flex-direction: column;

    &.active_mode {
        &:not(.active) {
            border-color: transparent;
            background: rgba(0, 0, 0, 3%);
            outline: 0;
        }
    }

    &:not(.active_mode) {
        &:hover {
            border-color: var(--primary-color);
            border-inline-end-width: 1px;
        }

        &.focused {
            border-color: var(--primary-color);
            outline: 0;
            box-shadow: 0 0 0 2px rgba(5, 145, 255, 10%);
            border-inline-end-width: 1px;
        }
    }

    &.disabled {
        border-color: #f8f8f8;
        color: rgba(0, 0, 0, 60%);
        background-color: rgba(0, 0, 0, 4%);
        box-shadow: none;
        cursor: not-allowed;
    }

    &.active_mode_not_active {
        border-color: #f8f8f8;
        color: rgba(0, 0, 0, 60%);
        background-color: rgba(0, 0, 0, 4%);
        box-shadow: none;
    }

    &.auto_size {
        overflow-y: hidden;
        height: auto;
        min-height: auto;
        resize: none;
    }

    &.with_count {
        margin-bottom: 24px;
    }
}

.content_editable {
    flex: 1;
    width: 100%;
    border: none;
    white-space: pre-wrap;
    background: transparent;
    outline: none;
    resize: none;
    overflow-wrap: break-word;
    word-break: break-all;

    &:empty::before {
        content: '';
        display: inline-block;
    }

    &:focus {
        outline: none;
    }
}

.placeholder {
    position: absolute;
    font-size: 16px;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 25%);
    pointer-events: none;
    user-select: none;
}

.clear_icon {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 25%);
    transition: color 0.3s;
    transform: translateY(-50%);
    line-height: 12px;
    cursor: pointer;

    &:hover {
        color: rgba(0, 0, 0, 45%);
    }
}

.count {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 12px;
    text-align: right;
    color: rgba(0, 0, 0, 45%);

    &.error {
        color: #ff4d4f;
    }
}

// 处理有值的状态
.has_value {
    .placeholder {
        display: none;
    }
}
