.copy_modal {
    font-size: 16px;

    .name {
        margin-bottom: 24px;

        > p:last-child {
            margin-top: 8px;
            color: rgba(0, 0, 0, 65%);
        }
    }

    .copy_source {
        margin-bottom: 8px;
    }

    form > div {
        margin-bottom: 0;
    }

    .label {
        display: flex;
        align-items: center;
    }
}
