.page {
    min-height: calc(100vh - 452px);
    background-size: 100% 100%;
    background-image: url('https://wtzp-static.oss-cn-hangzhou.aliyuncs.com/dev/fe_job_pc/img/%E8%93%9D%E8%89%B2bg%402x.png');

    .container {
        position: relative;
        top: -50px;
        z-index: 9;
        margin: auto;
        width: 1200px;
        max-width: 1200px;
    }
}
