.lesson_progress_top {
    padding: 16px;
    border: 1px solid #f8f2ec;
    border-radius: 8px;
    background: linear-gradient(180deg, #fff8f0 0%, #fff 11%, #fff 100%);

    /* stylelint-disable selector-class-pattern */
    :global {
        .fe-engineer-pc-avatar-group .fe-engineer-pc-avatar:not(:first-child) {
            margin-left: -12px;
        }
    }
    /* stylelint-enable  */

    .top_learning_progress {
        .top_learning_progress_title {
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;
        }

        .top_learning_progress_content {
            display: grid;
            margin-top: 12px;
            gap: 8px;

            .content_item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .content_item_left {
                    display: flex;
                    align-items: center;

                    .avatar_group {
                        flex: none;
                        margin-left: 6px;
                        width: 56px;

                        span {
                            flex: none;
                        }

                        .avatar_item {
                            width: 20px;
                            height: 20px;
                            border: 1px solid #fff;
                        }
                    }

                    .item_name {
                        overflow: hidden;
                        margin-left: 4px;
                        width: 7em;
                        font-size: 14px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, 85%);
                        line-height: 22px;
                    }
                }

                .content_item_right {
                    > span {
                        font-size: 14px;
                        font-weight: 400;
                        color: #ff8820;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .top_exam_progress {
        margin-top: 32px;

        .top_exam_progress_title {
            font-size: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;
        }

        .top_exam_progress_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;

            .top_exam_progress_content_item {
                width: 64px;
                text-align: center;

                .item_avatar {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 11px 8px 14px;

                    .item_avatar_tag {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .item_avatar_img {
                        box-sizing: border-box;
                        border-radius: 50%;
                    }

                    .item_avatar_no {
                        position: absolute;
                        bottom: 8px;
                        padding: 0 4px;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 8px;
                        color: #fff;
                        line-height: 16px;
                    }
                }

                .item_name {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 22px;
                }
            }
        }
    }
}
