.sign_task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    border-bottom: 1px solid #333438;
    width: 100%;

    .subject_box {
        flex: none;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 24px;
        margin-right: 9px;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
    .split_line {
        color: #7c8083;
    }
    .search {
        flex: 1;
        text-align: right;
        margin-right: 24px;
    }
    .btn_box {
        display: none;
        user-select: none;
        > div {
            padding: 5px 16px;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            background: #424246;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: #56565a;
            }
        }
    }
    .rule_btn {
        width: 18px;
        height: 18px;
        cursor: pointer;
        color: #56565a;
        &:hover {
            color: #fff;
        }
    }
}

.rule_item {
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
        margin-bottom: 0;
    }
    .rule_item_btn {
        color: #1678ff;
        margin-left: 17px;
        cursor: pointer;
        user-select: none;
    }
}
:global {
    .fe-signin-pc-popover-inner {
        border-radius: 8px;
    }
    .fe-signin-pc-popover-inner-content {
        padding: 24px;
    }
}
