.content {
    display: inline-flex;
    align-items: center;
    width: 100%;
    flex: 1;

    .content_str {
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(0, 0, 0, 65%);
        word-break: break-all;
    }

    .content_btn {
        margin-left: 5px;
        width: 16px;
        height: 16px;
        flex: none;
    }
}
