.course_design_aside {
    display: flex;
    margin-right: 8px;
    padding: 0 12px;
    padding-right: 8px;
    height: 100%;
    border-radius: 12px;
    background: #fff;

    .course_design_aside_main {
        display: flex;
        align-items: center;
        padding-right: 4px;
        padding-bottom: 16px;
        width: 300px;
        flex-direction: column;

        .course_design_aside_warp {
            width: 100%;
            flex: 1;

            .title {
                display: flex;
                align-items: center;
                margin-top: 16px;
                padding: 10px 12px;

                > div {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 26px;
                }

                > img {
                    margin-left: 2px;
                    width: 20px;
                }
            }

            .list {
                .list_item:not(:first-child) {
                    margin-top: 8px;
                }
            }

            .list_item {
                display: flex;
                align-items: center;
                padding: 8px 12px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 3%);
                cursor: pointer;

                > svg {
                    color: rgba(0, 0, 0, 25%);
                }

                .text {
                    overflow: hidden;
                    margin-left: 8px;
                    font-size: 16px;
                    font-family: PingFangSC, 'PingFang SC';
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: rgba(0, 0, 0, 45%);
                    line-height: 24px;
                    flex: 1;
                    user-select: none;
                }
            }

            .list_item:hover {
                background: rgba(22, 120, 255, 12%);
            }

            .active {
                background: rgba(22, 120, 255, 12%);

                .text {
                    color: #1678ff;
                }
            }
        }

        .progress {
            padding: 0 4px;
            width: 100%;

            .progress_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 90px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/bg_tili.png');

                .progress_content_left {
                    padding-left: 16px;

                    .progress_content_title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;

                        > div {
                            font-size: 18px;
                            font-family: PingFangSC, 'PingFang SC';
                            font-weight: 400;
                            color: rgba(0, 0, 0, 85%);
                            line-height: 26px;
                        }

                        > span {
                            font-size: 14px;
                            font-family: PingFangSC, 'PingFang SC';
                            font-weight: 400;
                            color: rgba(0, 0, 0, 45%);
                            line-height: 22px;
                        }
                    }
                }

                .progress_content_right {
                    position: relative;
                    width: 98px;
                    height: 86px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/png_circle.png');

                    .circle {
                        position: absolute;
                        top: 10px;
                        left: 16px;

                        :global {
                            /* stylelint-disable-next-line selector-class-pattern */
                            .fe-engineer-pc-progress-text {
                                font-size: 16px;
                                font-family: DINAlternate;
                                font-weight: bold;
                                color: #1678ff;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
