.sortable_list {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sortable_item {
    position: relative;

    &.dragging {
        z-index: 9999;
    }

    &.drop_indicator::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        transform: translateX(-50%);
    }

    &.drop_indicator_top::before {
        top: -6px;
    }

    &.drop_indicator_bottom::before {
        bottom: -6px;
    }
}

.drag_handle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: grab;
    user-select: none;

    &:hover {
        color: var(--primary-color);
    }

    &:active {
        cursor: grabbing;
    }

    svg {
        transition: all 0.2s ease;
    }
}

.drag_handle_disabled {
    .drag_handle();

    cursor: default;
    opacity: 0.5;

    &:hover {
        color: #bfbfbf;
    }

    &:active {
        cursor: default;
    }
}
