.bread_crumb {
    margin-bottom: 16px !important;

    .bread_crumb_item {
        .bread_crumb_link {
            font-size: 16px;
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            user-select: none;
            cursor: pointer;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .bread_crumb_item_last {
        .bread_crumb_link {
            color: rgba(0, 0, 0, 45%) !important;
            cursor: default !important;
        }
    }
}
