@import url('../../common.module.less');

.intern_container {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    // transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%);

        .school {
            .operate {
                visibility: visible !important;
            }
        }
    }

    .school {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .school_exp {
            display: flex;
            align-items: center;

            .school_name {
                // height: 26px;
                margin-right: 20px;
                font-size: 18px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
                line-height: 26px;
            }

            .school_period {
                .light_font();
            }
        }

        .operate {
            visibility: hidden;
            transition: all 0.1s ease;
        }
    }

    .basic_info {
        .light_font();
    }
}
