/* stylelint-disable*/
.page {
    display: flex;
    overflow: hidden;
    padding: 24px;
    height: 100%;
    flex-direction: column;

    .form_box {
        display: flex;
        justify-content: center;
        flex: 1;
        overflow-y: auto;

        .form {
            width: 600px;

            :global {
                .fe-job-pc-input-textarea {
                    &::after {
                        position: relative;
                        top: -28px;
                        right: 12px;
                        color: rgba(0, 0, 0, 25%);
                        line-height: 24px;
                    }
                }
            }

            .field_item {
                position: relative;
                margin-bottom: 16px;
                padding: 24px 40px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 3%);

                .remove {
                    position: absolute;
                    top: 0;
                    right: -31px;
                    width: 20px;
                    height: 20px;
                    color: #333;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }

            .button {
                width: 100%;
                color: var(--primary-color);
            }
        }
    }
}
