/* stylelint-disable */
.enroll_tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 16px;

    :global {
        .fe-enroll-no-permission-pc-pagination {
            display: flex;
            justify-content: flex-end;
        }

        .pt_enroll_card_3 .pt_enroll_card3__top {
            width: 368px;
            height: 207px;
        }

        .wt_pt_micro_component_container {
            padding-bottom: 0 !important;
        }

        .wt-component-empty-text {
            margin-top: -24px;
            margin-bottom: 16px;
        }
    }
}
