.content_list_item {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 256px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: #fff;

    .content_list_item_left {
        display: flex;
        width: 298px;
        height: 100%;
        flex: none;
        flex-direction: column;
        border-right: 1px solid #e8e8e8;
        user-select: none;
        cursor: pointer;

        .content_list_item_left_image {
            position: relative;
            overflow: hidden;
            width: 298px;
            height: 168px;

            .course_image_title_white {
                position: absolute;
                top: 50%;
                left: 50%;
                display: -webkit-box;
                overflow: hidden;
                width: calc(100% - 28px);
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 500;
                text-align: center;
                color: #fff;
                transform: translate(-50%, -50%);
                line-height: 38px;
                -webkit-line-clamp: 3; /* 超出3行显示省略号 */
                line-clamp: 3;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }

            .course_image_title_black {
                position: absolute;
                top: 50%;
                left: 50%;
                display: -webkit-box;
                overflow: hidden;
                width: calc(100% - 28px);
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 500;
                text-align: center;
                color: #000;
                transform: translate(-50%, -50%);
                line-height: 38px;
                -webkit-line-clamp: 3; /* 超出3行显示省略号 */
                line-clamp: 3;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content_list_item_left_title {
            overflow: hidden;
            margin: 16px 0 8px;
            padding: 0 16px;
            width: 100%;
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;
        }

        .content_list_item_left_info {
            padding: 0 16px;
            width: 100%;
            height: 22px;
            font-size: 14px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 22px;
        }
    }

    .content_list_item_right {
        padding: 16px 24px;
        width: 100%;
        flex: 1;

        .content_list_item_right_item {
            margin-bottom: 24px;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }

            .content_list_item_right_item_title {
                margin-bottom: 12px;
                width: 100%;
                height: 24px;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 24px;
            }

            .content_list_item_right_item_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 64px;
                column-gap: 8px;

                .content_list_item_right_item_content_gray {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    background: rgba(0, 0, 0, 3%);
                    flex: 1;

                    .content_list_item_right_item_content_gray_item {
                        position: relative;
                        width: 100%;
                        height: 48px;
                        flex: 1;

                        &::after {
                            position: absolute;
                            top: 50%;
                            right: -1px;
                            width: 1px;
                            height: 32px;
                            background: #e6e9ef;
                            content: '';
                            transform: translateY(-50%);
                        }

                        &:last-child::after {
                            display: none;
                        }
                    }
                }

                .content_list_item_right_item_content_blue {
                    width: 151px;
                    height: 64px;
                    border-radius: 8px;
                    background: var(--primary-color-006);
                    flex: none;
                }
            }
        }
    }
}

.content_info_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    p {
        margin-bottom: 4px;
        width: 100%;
        height: 24px;
        font-size: 18px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 65%);
        line-height: 24px;

        span {
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
        }
    }

    div {
        width: 100%;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
        line-height: 20px;
    }
}
