.course_design_aside_learning {
    position: relative;
    display: flex;
    margin-left: 8px;
    padding: 26px 0 16px;
    width: 280px;
    flex-direction: column;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: #eaeaea;
        content: '';
    }

    .menu_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        padding-left: 9px;

        .menu_header_title {
            margin-left: 8px;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 26px;
        }
    }

    .menu_list {
        display: flex;
        overflow: auto;
        margin-top: 10px;
        padding: 0 8px;
        padding-left: 9px;
        min-height: 1px;
        flex-direction: column;
        gap: 4px;
        flex: 1;

        &::-webkit-scrollbar {
            width: 6px;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            width: 6px;
            border-radius: 3px;
            background: rgba(0, 0, 0, 15%);
        }

        // 一级菜单样式
        .menu_item {
            > .menu_item_header {
                position: relative;
                display: flex;
                align-items: center;
                padding: 8px 12px;
                padding-left: 0;
                border-radius: 8px;
                background: rgba(0, 0, 0, 3%);
                cursor: pointer;
                user-select: none;

                &:hover {
                    background: rgba(22, 120, 255, 12%);
                }

                &.active_task {
                    &::before {
                        position: absolute;
                        top: 0;
                        left: -8px;
                        width: 1px;
                        height: 100%;
                        background: var(--primary-color);
                        content: '';
                        transform: translateX(-1px);
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: -8px;
                        width: 0;
                        height: 0;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        border-left: 5px solid var(--primary-color);
                        transform: translateY(-50%);
                        content: '';
                    }
                }

                &.active {
                    background: rgba(22, 120, 255, 12%);

                    .menu_item_text {
                        color: var(--primary-color) !important;
                    }
                }

                .menu_item_left {
                    display: flex;
                    align-items: center;
                    width: calc(100% - 16px);

                    > svg {
                        color: rgba(0, 0, 0, 25%);
                    }

                    .menu_item_sort_wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px;
                        color: #bfbfbf;
                        transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                        cursor: grab;
                        user-select: none;

                        &:hover {
                            color: var(--primary-color);
                        }

                        &:active {
                            cursor: grabbing;
                        }
                    }

                    .menu_item_sort {
                        width: 16px;
                        height: 16px;
                    }

                    .menu_item_status {
                        font-size: 16px;
                    }

                    .menu_item_text {
                        overflow: hidden;
                        margin-right: 8px;
                        margin-left: 8px;
                        font-size: 16px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, 85%);
                        line-height: 24px;
                        flex: 1;
                    }
                }

                .menu_item_right {
                    display: flex;
                    align-items: center;
                }
            }

            .menu_item_content {
                display: flex;
                flex-direction: column;
                gap: 4px;

                > *:first-child {
                    margin-top: 4px;
                }
            }
        }

        .menu_item_sub {
            .sub_header {
                display: flex;
                align-items: center;
                padding: 8px;
                padding-right: 12px;
                padding-left: 32px;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
                line-height: 20px;
                user-select: none;
                border-radius: 8px;

                &:hover {
                    background: rgba(22, 120, 255, 12%);
                }

                &.active {
                    background: rgba(22, 120, 255, 12%);

                    .sub_text {
                        color: var(--primary-color) !important;
                    }
                }

                .sub_left {
                    display: flex;
                    align-items: center;
                    width: calc(100% - 16px);

                    > svg {
                        color: rgba(0, 0, 0, 25%);
                    }

                    .sub_status {
                        font-size: 16px;
                    }

                    .sub_text {
                        overflow: hidden;
                        margin-right: 8px;
                        margin-left: 8px;
                        font-size: 16px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, 85%);
                        flex: 1;
                        line-height: 24px;
                    }
                }

                .sub_right {
                    display: flex;
                    align-items: center;
                }
            }

            .sub_content {
                display: flex;
                flex-direction: column;
                gap: 4px;

                > *:first-child {
                    margin-top: 4px;
                }
            }
        }

        // 三级菜单样式
        .menu_item_third {
            .third_header {
                display: flex;
                align-items: center;
                padding: 8px;
                padding-right: 12px;
                padding-left: 56px;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
                cursor: pointer;
                user-select: none;
                border-radius: 8px;

                &:hover {
                    background: rgba(22, 120, 255, 12%);
                }

                &.active {
                    background: rgba(22, 120, 255, 12%);

                    .third_text {
                        color: var(--primary-color) !important;
                    }
                }

                .third_left {
                    display: flex;
                    align-items: center;
                    width: calc(100% - 16px);

                    > svg {
                        color: rgba(0, 0, 0, 25%);
                    }

                    .third_status {
                        font-size: 16px;
                    }

                    .third_text {
                        overflow: hidden;
                        margin-right: 8px;
                        margin-left: 8px;
                        font-size: 16px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, 45%);
                        flex: 1;
                        line-height: 24px;
                    }
                }
            }
        }

        .sortable_list {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }
}
