.detail {
    width: 100%;
    .content {
        height: calc(100vh - 150px);
        padding: 24px;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 8px;

        .description {
            width: 738px;
            margin: 32px auto 0;
            font-size: 16px;

            .description_item {
                margin-top: 24px;
            }

            .required::before {
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 16px;
                font-family: SimSun, sans-serif;
                line-height: 1;
                content: '*';
            }

            .info {
                color: rgba(0, 0, 0, 65%);
                font-weight: 400;
                font-family: PingFangSC-Regular, 'PingFang SC';
            }
        }
    }
}
