/* stylelint-disable */
.enroll_footer {
    background-color: #fff;
    margin: 0 24px 24px;
    padding: 12px 40px;
    height: 88px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &_info {
        display: flex;
        align-items: center;
        position: absolute;
        right: 40px;

        button {
            margin-left: 24px;
            width: 154px;
            height: 48px;
            border-radius: 6px !important;
        }
    }

    .price {
        font-size: 40px;
        font-family: DINAlternate-Bold, DINAlternate;
        font-weight: bold;
        color: #ff5219;
        line-height: 47px;
    }
}
