.order_title {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #fafafa;

    > div {
        width: 200px;
        text-align: center;
    }

    .goods {
        width: 500px;
    }

    > span {
        flex-shrink: 0;
        width: 1px;
        height: 22px;
        background-color: #e8e8e8;
    }
}

.order_item {
    margin-top: 24px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    .order_item_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        height: 48px;
        background-color: var(--primary-color-005);

        .order_item_title_left {
            display: flex;

            > span {
                margin-right: 24px;
            }
        }

        .order_item_title_right {
            font-size: 16px;
            color: rgba(0, 0, 0, 45%);
        }
    }

    .order_item_body {
        display: flex;
        min-height: 138px;
        // align-items: center;

        .order_item_body_goods {
            // width: 1154px;
            flex: 4;

            .order_item_body_goods_item {
                display: flex;
                align-items: center;
                height: 138px;
                border-bottom: 1px solid #e8e8e8;

                .order_item_body_goods_item_goods {
                    display: flex;
                    padding-left: 16px;
                    width: 400px;
                    flex: 1;
                    box-sizing: border-box;

                    .order_item_body_goods_item_goods_image {
                        padding: 8px;
                        width: 104px;
                        height: 104px;
                        border: 1px solid rgba(0, 0, 0, 15%);
                        border-radius: 6px;
                        box-sizing: border-box;

                        > img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .order_item_body_goods_item_goods_desc {
                        // margin-left: 16px;
                        margin: auto auto auto 16px;

                        .order_item_body_goods_item_goods_name {
                            width: 270px;
                            font-size: 16px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 85%);
                            line-height: 24px;
                        }

                        .order_item_body_goods_item_goods_attr {
                            margin-top: 8px;
                            width: 270px;
                            height: 24px;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 45%);
                            line-height: 24px;
                        }
                    }
                }

                .order_item_body_goods_item_price,
                .order_item_body_goods_item_num,
                .order_item_body_goods_item_after {
                    flex: 1;
                    // width: 200px;
                    text-align: center;
                }

                .order_item_body_goods_item_price {
                    min-width: 44px;
                }

                .order_item_body_goods_item_num {
                    min-width: 44px;
                    // width: 200px;
                }

                .order_item_body_goods_item_after {
                    // width: 200px;
                    min-width: 90px;
                }
            }
        }

        .order_item_body_status,
        .order_item_body_price {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 200px;
            border-bottom: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            flex: 1;
            flex-direction: column;
        }
    }

    .order_item_footer {
        display: flex;
        padding: 16px;

        > div:first-child {
            flex-shrink: 0;
        }
    }
}
