.tab {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #fff;
    // margin-top: -24px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -24px;
        width: calc(100% + 48px);
        height: 1px;
        background: rgba(0, 0, 0, 6%);
        content: '';
    }

    .tab_item {
        margin-right: 32px;
        font-size: 14px;
        font-family: PingFangSC, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        user-select: none;
        cursor: pointer;
        line-height: normal;
        flex: none;

        &.active {
            color: var(--primary-color);
        }
    }
}
