@import url('../../common.module.less');

.job_expect_container {
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    background: #f7f7f7;
    box-sizing: border-box;
    cursor: pointer;

    .position_name {
        display: flex;
        justify-content: space-between;

        span {
            .dark_font();
        }

        .icon {
            color: rgba(0, 0, 0, 45%);
            cursor: pointer;

            :hover {
                color: var(--primary-color);
            }
        }
    }

    .position_address {
        .light_font();

        font-size: 14px;
    }

    .position_salary {
        .light_font();

        font-size: 14px;
    }
}
