/*stylelint-disable*/

.global_empty_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .content {
        margin-top: 0.1rem;
        color: #888;
        font-weight: 400;
        font-size: 20px;
    }
}
