.text_item {
    display: flex;
    margin-top: 8px;

    .label {
        margin-right: 8px;
        min-width: 80px;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;
    }

    .content {
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 24px;
    }
}

.dark_font() {
    font-size: 16px;
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-weight: 400;
    color: rgba(0, 0, 0, 85%);
    line-height: 24px;
}

.light_font() {
    font-size: 16px;
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-weight: 400;
    color: rgba(0, 0, 0, 45%);
    line-height: 24px;
}

.common_container {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    // transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%);

        .top {
            .operate {
                visibility: visible !important;
            }
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top_exp {
            display: flex;
            align-items: center;

            .top_name {
                margin-right: 20px;
                font-size: 18px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
                line-height: 26px;
            }

            .top_period {
                .light_font();
            }
        }

        .operate {
            visibility: hidden;
            transition: all 0.1s ease;
        }
    }

    .basic_info {
        .light_font();
    }
}
