.page {
    width: 100%;
    height: 450px;
    background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/gz_origin/bg_di%402x.png');
    background-size: 100% 100%;

    .main {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        padding: 80px 0;
        width: 1200px;
        min-width: 1200px;

        .title {
            height: 50px;
            font-size: 36px;
            font-family: PingFang-SC-Heavy, PingFang-SC;
            font-weight: 800;
            text-align: left;
            color: #fff;
            line-height: 50px;
        }

        .info {
            margin-top: 16px;
            font-size: 24px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            text-align: left;
            color: #fff;
            line-height: 32px;
        }

        .content {
            display: flex;
            justify-content: space-between;
            margin-top: 48px;

            .card {
                .head {
                    .num {
                        margin-right: 8px;
                        font-size: 80px;
                        font-family: DINCond-Medium, DINCond;
                        font-weight: 500;
                        color: #fff;
                        line-height: 92px;
                    }

                    .unit {
                        font-size: 24px;
                        font-family: PingFangSC-Regular, 'PingFang SC';
                        font-weight: 400;
                        color: #fff;
                        line-height: 33px;
                    }
                }

                .texts {
                    .text {
                        font-size: 16px;
                        font-family: PingFangSC-Regular, 'PingFang SC';
                        font-weight: 400;
                        color: #fff;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
