.page {
    display: flex;
    justify-content: space-between;
    margin-left: -24px;
    // padding: 0 12px 0 0;
    width: 1200px;

    .left_content {
        flex: none;
        position: relative;
        width: 252px;
        height: 100%;
        max-height: calc(100vh - 64px);

        .left_content_item {
            display: flex;
            align-items: center;
            padding: 13px 16px;
            width: 228px;
            height: 46px;
            border-radius: 6px;
            cursor: pointer;
            user-select: none;

            & > svg {
                margin-right: 8px;
                width: 20px;
                height: 20px;
                color: rgba(0, 0, 0, 65%);
            }

            .left_content_text {
                font-size: 14px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
            }

            &.active {
                background: var(--primary-color-006) !important;

                & > svg {
                    color: var(--primary-color);
                }

                .left_content_text {
                    color: var(--primary-color);
                }
            }
        }

        .menu_content {
            position: fixed;
            overflow-y: auto;
            width: 240px;
            height: calc(100vh - 64px);
            border-right: 1px solid #e8e8e8;
            background: #fff;
        }
    }

    .right_content {
        flex: 1;
        // overflow: hidden;
        width: 100%;
    }
}
