/* stylelint-disable selector-class-pattern */
.page {
    width: 100%;
    height: 100%;

    .opera {
        a {
            margin-right: 5px;
        }

        .aas {
            margin: 0 auto;
            width: 156px;
            text-align: left;
        }
    }

    .svg_icon {
        margin-right: 8px;
        width: 18px;
        height: 16px;
        fill: var(--primary-color) !important;
    }

    .operaName {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
