.click_edit_multi_input_h3_card {
    padding: 16px;
    border: 2px solid transparent;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .click_edit_multi_input_h3_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .click_edit_multi_input_h3_card_header_title {
            display: flex;
            align-items: center;
            height: 32px;

            span:first-child {
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 32px;
            }

            .title_desc {
                margin-left: 4px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: 32px;
            }
        }
    }

    .click_edit_multi_input_h3_card_list {
        margin-top: 16px;

        .click_edit_multi_input_h3_card_list_item {
            padding: 16px;
            border: none;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 5%);

            &:not(:first-child) {
                margin-top: 12px;
            }

            .click_edit_multi_input_h3_card_list_item_title {
                span {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                    color: rgba(0, 0, 0, 85%) !important;
                    line-height: 24px !important;
                }
            }
        }
    }
}
