.page {
    width: 100%;

    .content {
        padding: 0.15rem;
        width: 100%;
        border-radius: 0.08rem;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(0, 21, 41, 3%);

        .face_content {
            display: flex;
            align-items: center;
            margin-top: 253px;
            width: 100%;
            flex-direction: column;

            .face_content_icon {
                width: 70px;
                height: 70px;

                &.wait {
                    color: #faad14;
                }

                &.success {
                    color: #52c41a;
                }
            }

            .face_content_title {
                margin-top: 30px;
                font-size: 24px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: normal;
            }

            .face_content_des {
                margin-top: 8px;
                font-size: 16px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: normal;
            }

            .face_content_btn {
                margin: 24px 0 200px;
                padding: 4px 16px;
                border-radius: 6px;
            }
        }
    }
}
