/* stylelint-disable */

.components_options {
    width: 100%;
    background: #fff;
    padding: 17px 17px 0;
    display: flex;

    p {
        margin-bottom: 0;
    }

    .question_sort {
        display: flex;
        margin-right: 4px;
        line-height: 22px;
        font-weight: 500;
        color: #3995F6;

        .divider {
            margin-top: 6px;
            display: inline-block;
            font-weight: 400;
        }
    }

    .content_wrapper {
        padding-top: 22px;
        flex: 1;
        max-width: calc(100% - 48px);

        .title {
            padding-bottom: 16px;
            border-bottom: 1px solid;
            border-color: rgba(57, 149, 246, 0.12);
            word-break: break-all;
            line-height: 32px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .content {
            padding: 0.24rem 0;

            .options_item {
                
                display: flex;
                align-items: baseline;
                cursor: pointer;

                &:not(:first-child) {
                    margin-top: 24px;
                }

                .sort {
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    line-height: 32px;
                    margin-right: 16px;
                    border-radius: 20px;
                    border: 1px solid #3995F6;
                    color: #3995F6;
                    text-align: center;

                    &.multiple {
                        border-radius: 4px;
                    }

                    &.selected {
                        background-color: #3995F6;
                        color: #fff;
                    }
                }

                .name {
                    // font-size: 18px;
                    line-height: 26px;
                    color: #525252;
                    word-break: break-all;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .input {
                    flex: 1;
                    margin-left: 16px;
                }
            }
        }
    }
}

.component_compose {
    .question_item {
        border: 1px solid #e7f2fe;
        padding: 0 16px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        .title_wrapper {
            display: flex;
            align-items: baseline;
            padding: 16px 0;
            border-bottom: 1px solid #e7f2fe;

            .question_tag {
                min-width: max-content;
                font-size: 16px;
                line-height: 16px;
                padding: 5px 7px;
                background: #fffcef;
                border-radius: 4px;
                border: 1px solid rgba(69, 69, 159, 0.12);
                margin-right: 8px;
            }

            .question_title {
                font-size: 24px;
                line-height: 32px;
                word-break: break-all;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .content_wrapper {
            padding: 24px 0;
        }

        .mark {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 40px;
            line-height: 40px;
            margin-left: auto;
            margin-bottom: 16px;
            padding: 0 13px;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            font-size: 18px;
            cursor: pointer;

            img {
                width: 18px;
            }
        }

        .is_marked {
            color: #faad14;
        }
    }
}

.components_judgment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    .options_item {
        flex-direction: column;
        align-items: center !important;
        text-align: center;
        margin-top: 0 !important;

        &:first-child {
            margin-right: 132px;
        }

        .sort {
            margin-right: 0 !important;
            font-size: 40px;
            border: none !important;

            &.selected {
                border: none;
                color: #3995F6 !important;
                background-color: #fff !important;
            }
        }

        .name {
            margin-top: 12px;
            color: #525252;
        }
    }
}

.answer_editor {
    width: 100%;

    :global {
        .w-e-menu-tooltip-v5:before {
            left: 8px;
        }
    }
}
