/* stylelint-disable*/
.page_employment_assistance {
    padding: 24px;
    min-height: calc(100vh - 112px);
    border-radius: 8px;
    background-color: #fff;

    :global {
        .super_form_item .fe-job-pc-select {
            width: 100%;
        }
    }
}
