.container {
    padding: 16px;
    width: 460px;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;

    .column {
        display: flex;

        div {
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            flex-shrink: 0;
            line-height: 24px;
        }
    }

    .rank_header {
        display: flex;
        justify-content: space-between;

        .label {
            height: 28px;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 28px;
        }

        .sort {
            span {
                height: 22px;
                font-size: 16px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: 22px;
                cursor: pointer;
            }
        }
    }
}
