/* stylelint-disable */

.page_practice_edit_wrapper {
    transform: translate(0, 0);
    width: 100%;
    height: calc(100vh - 112px);

    .page_practice_edit {
        width: 100%;
        height: 100%;
        padding-bottom: 56px;
        overflow-y: auto;
    
        .content_wrapper, .step_wrapper {
            padding: 24px;
            border-radius: 8px;
            background-color: #fff;
        }
    
        .content_wrapper {
            margin-top: 24px;
            padding: 24px;
            min-height: calc(100% - 143px);
    
            :global {
                .merchant-center-row {
                    align-items: baseline;
                }
                
                .merchant-center-picker {
                    width: 100%;
                }
            }
    
            .left_wrapper {
                text-align: center;
                margin-bottom: 48px;
                margin-top: 200px;
    
                :global {
                    .anticon {
                        font-size: 70px;
                        color: #52C41A;
                    }
                }
    
                .text {
                    font-weight: 500;
                    color: rgba(0,0,0,0.85);
                    line-height: 32px;
                    margin-top: 24px;
                }
            }
        }
    
        .first_content_wrapper {
            :global {
                .merchant-center-form-item {
                    margin-bottom: 32px;
                }
            }
        }
    }

    .footer_wrapper {
        position: fixed;
        bottom: -24px;
        margin-left: -24px;
        width: calc(100% + 48px);
        padding: 12px;
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
    }
}
