.box_warp {
    position: relative;
    overflow: visible;
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;

    // .block_box {
    //     // position: relative;
    //     padding: 24px;

    //     // z-index: 6;
    // }
}
