/* stylelint-disable */
.pt_ai_chat_modal__container {
    font-family: PingFangSC, PingFang SC;
    left: auto !important;
    top: auto !important;

    .fe-engineer-pc-modal-body {
        height: 100%;
    }

    .fe-engineer-pc-modal-body {
        padding: 4px;
    }

    .pt_ai_chat_modal__wrapper {
        .fe-engineer-pc-modal-content {
            height: 88vh;
            max-height: 952px;
        }

        .pt_ai_chat_modal__body {
            height: 100%;
        }
    }

    .pt_ai_chat_modal__body {
        display: flex;
        align-items: center;
    }

    .pt_ai_chat_modal__left {
        background: #f3f4f6;
        border-radius: 8px 0px 0px 8px;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;

        .pt_ai_chat_modal__title {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.85);
            line-height: 28px;
            text-align: left;
            font-style: normal;
            margin-bottom: 16px;
            flex-shrink: 0;

            img {
                height: 36px;
                width: 36px;
                margin-right: 6px;
            }
        }

        .pt_ai_chat_modal__add {
            flex-shrink: 0;
            height: 48px;
            border-radius: 8px;
            padding: 12px 18px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;

            border: 1px solid rgba(22, 120, 255, 0.15);
            background: rgba(22, 120, 255, 0.05);
            color: #1678ff;

            .icon {
                width: 20px;
                height: 20px;
                margin-right: 8px;
                color: #1678ff;
                vertical-align: -0.2em;
            }

            &:hover {
                border: 1px solid #1678ff;
                background: rgba(22, 120, 255, 0.05);
                color: #1678ff;

                .icon {
                    color: #1678ff;
                }
            }
        }

        .pt_ai_chat_modal__history {
            flex: 1;
            margin-top: 24px;
            height: 100%;
            display: flex;
            flex-direction: column;
            min-height: 1px;

            .pt_ai_chat_modal__history_subtitle {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.45);
                line-height: 22px;
                flex-shrink: 0;
                margin-bottom: 8px;
            }

            .pt_ai_chat_modal__history_wrapper {
                flex: 1;
                overflow: auto;
                height: 100%;
                min-height: 1px;
            }

            .history_item {
                display: flex;
                align-items: center;
                overflow: hidden;
                padding: 9px 12px 9px 0;
                cursor: pointer;

                .icon_wrapper {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background: rgba(0, 0, 0, 0.03);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                    cursor: pointer;
                }

                .icon {
                    width: 16px;
                    color: #b4b5b6;
                }

                span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.03);
                    border-radius: 6px;

                    color: #1678ff;
                }

                &.active {
                    background: rgba(22, 120, 255, 0.06);
                    border-radius: 6px;
                    color: #1678ff;
                }
            }

            .history_loading {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                color: rgba(0, 0, 0, 0.45);
                font-size: 14px;

                span {
                    color: rgba(0, 0, 0, 0.45);
                }
            }
        }
    }

    .pt_ai_chat_modal__right {
        height: 100%;
        padding: 40px;
        flex: 1;
        position: relative;
        min-width: 1px;
    }
}
