.item_path {
    padding: 16px 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card_title {
            position: relative;
            height: 32px;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 32px;

            &::after {
                position: absolute;
                bottom: 2px;
                left: 0;
                content: '';
                width: 100%;
                height: 6px;
                background: rgba(0, 103, 255, 20%);
            }
        }
    }

    .card_content {
        margin-top: 16px;

        .steps_list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .card_footer {
        margin-top: 16px;
        padding-left: calc(6em + 12px);
    }

    .learning_step {
        display: flex;
        align-items: flex-start;

        .step_index {
            margin-right: 8px;
            width: 6em;
            font-size: 16px;
            font-weight: 400;
            color: rgba(0, 0, 0, 85%);
            line-height: 24px;
        }

        .learning_step_wrapper {
            flex: 1;
            border: 1px solid #e8e8e8;
            border-radius: 8px;
            background: #fff;
            transition: all 0.2s ease;

            &:hover {
                border-color: #d9d9d9;
            }

            .step_header {
                background: rgba(0, 0, 0, 3%);

                .step_title_wrapper {
                    padding: 8px 16px;
                }
            }

            .step_content {
                padding: 16px;

                .step_info {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .info_row {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .info_label {
                            width: 5em;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: right;
                            color: rgba(0, 0, 0, 85%);
                            line-height: 24px;
                        }

                        .info_input {
                            flex: 1;
                            min-width: 0;
                        }
                    }
                }

                .step_activities {
                    display: flex;
                    margin-top: 24px;
                    gap: 12px;

                    .activities_label {
                        width: 5em;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: right;
                        color: rgba(0, 0, 0, 85%);
                        line-height: 24px;
                    }

                    .activities_list {
                        display: flex;
                        padding: 16px;
                        border-radius: 6px;
                        background: rgba(0, 0, 0, 3%);
                        flex-direction: column;
                        gap: 20px;
                        flex: 1;

                        .add_activity_btn {
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .activity_item {
        display: flex;
        align-items: center;
        gap: 12px;

        .activity_content {
            display: flex;
            align-items: center;
            gap: 12px;
            flex: 1;

            .activity_label {
                font-size: 16px;
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
                line-height: 24px;
            }

            .activity_input {
                flex: 1;
            }
        }
    }

    .delete_btn {
        padding: 4px;
        color: rgba(0, 0, 0, 45%);
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            color: var(--primary-color);
        }
    }

    .fullscreen_content {
        padding: 16px;

        .steps_list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}
