/*stylelint-disable*/
.page_mark_settings {
    min-width: 1200px;
    background-color: #f0f2f5;

    .content_wrapper {
        width: 100%;
        padding: 24px;
        margin-top: 24px;
        background-color: #ffff;

        .tips {
            color: rgba(0, 0, 0, 0.45);
        }

        .assign_topic {
            margin-bottom: 24px;

            :global {
                .exam-center-btn {
                    margin-right: 16px;
                }
                .exam-center-typography {
                    font-size: 16px;
                }
            }
        }
    }

    .footer_inner {
        display: flex;
        justify-content: flex-end;

        :global {
            .exam-center-btn-primary {
                margin-left: 16px;
            }
        }
    }
}

.visible_btn {
    width: 18px;
    height: 100%;
    cursor: pointer;
    svg {
        fill: var(--primary-color);
    }
}
