.cf_category {
    .choice {
        height: 40px;
        padding: 0 12px;
        line-height: 40px;
        background: #f5f5f5;
        border: 1px solid #ebebeb;
        border-radius: 4px;
    }

    .lately {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        margin: 24px 0 16px;

        > span {
            color: rgba(0, 0, 0, 45%);
            font-weight: 400;
            font-size: 14px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            cursor: pointer;
        }

        > i {
            display: inline-block;
            width: 2px;
            height: 12px;
            margin: 0 6px;
            background: rgba(0, 0, 0, 25%);
            border-radius: 1px;
        }
    }

    .option {
        position: relative;
    }

    .option::after {
        position: absolute;
        top: 5px;
        right: 6px;
        content: '>';
    }

    .select {
        display: flex;
        height: 340px;
        margin-top: 24px;

        :global {
            /* stylelint-disable-next-line selector-class-pattern */
            .ant-select-open .ant-select-selection {
                border-color: rgba(0, 0, 0, 10%);
                box-shadow: none;
            }
            /* stylelint-disable-next-line selector-class-pattern */
            .ant-select-dropdown {
                border-color: rgba(0, 0, 0, 10%);
                box-shadow: none;
            }

            /* stylelint-disable-next-line selector-class-pattern */
            .ant-select-dropdown-menu-item-selected {
                background-color: #e6f7ff;
            }

            div[class*='empty_body'] {
                padding-top: 0 !important;
            }
        }

        > div {
            position: relative;
            width: 20%;
            padding: 24px;
            border: 1px solid rgba(0, 0, 0, 10%);
            border-left: none;

            > div {
                width: 100%;
            }
        }

        > div:first-child {
            border-left: 1px solid rgba(0, 0, 0, 10%);
        }
    }

    .search {
        position: relative;
        margin: 10px 0 20px;

        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        > ul {
            position: absolute;
            top: 45px;
            z-index: 9999;
            box-sizing: border-box;
            width: 100%;
            min-height: 350px;
            max-height: 350px;
            padding: 4 0;
            overflow-y: auto;
            // display: none;

            color: rgba(0, 0, 0, 65%);
            font-size: 14px;
            font-variant: tabular-nums;
            font-variant: initial;
            line-height: 1.5;
            list-style: none;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            font-feature-settings: 'tnum';

            > li {
                padding: 10px 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                transition: background 0.3s ease;
            }

            > li:hover {
                background-color: #e6f7ff;
            }
        }

        .flex {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }
}
