.sensitive_info_box {
    display: flex;
    align-items: center;
    min-width: 0;

    > *:first-child {
        overflow: hidden;
        min-width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sensitive_icon {
        display: none;
        margin-left: 8px;
        width: 16px;
        flex-shrink: 0;
        color: var(--fe-engineer-pc-primary-color);
        cursor: pointer;
    }
}

.sensitive_info_box:hover .sensitive_icon {
    display: inline-block;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.fe-engineer-pc-table-row):hover .sensitive_icon {
    display: inline-block;
}
