.team_null {
    padding: 24px;
    height: 106px;

    .team_null_title {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 24px;
    }

    .team_null_content {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 22px;

        > span.link {
            color: var(--primary-color);
            cursor: pointer;
            user-select: none;
        }
    }
}
