.grade {
    .grade_table {
        margin-top: 8px;
    }
}

.grade_column_title {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
