/* stylelint-disable */
.wt-super-cascader-render {
    width: max-content;
    display: flex;

    .wt-super-cascader-render-col-input-component {
        height: 32px;
    }

    .wt-super-cascader-render-item-inner-line {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .wt-super-cascader-render-item-checkbox {
        margin-right: 16px;
    }

    .wt-super-cascader-render-col {
        flex-shrink: 0;
        min-width: 40px;
    }

    .wt-super-cascader-render-empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wt-super-cascader-render-col-input {
        padding: 5px 12px;
    }

    .wt-super-cascader-render-col-body {
        height: 200px;
        overflow-y: auto;
    }

    .wt-super-cascader-render-item,
    .wt-super-cascader-render-item-active {
        width: 100%;
        padding: 5px 12px;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
    }

    .wt-super-cascader-render-item-warp {
        padding: 0 16px;
    }

    .wt-super-cascader-render-item {
        &:hover {
            background-color: #f5f5f5;
        }
    }

    .wt-super-cascader-render-item-active {
        background-color: var(--primary-color-01, #e6f7ff);
    }

    .wt-super-cascader-render-item-icon {
        margin-left: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: rgba(0, 0, 0, 25%);
    }
}
