@import url('../../common.module.less');

.soical_container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%);

        .operate {
            visibility: visible !important;
        }
    }

    .top_exp {
        display: flex;

        .name {
            margin-right: 20px;
            min-width: 80px;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 85%);
            line-height: 26px;
        }

        .url {
            flex: 1;
            color: #1678ff;
            // .light_font();
        }
    }

    .operate {
        visibility: hidden;
        // transition: all 0.1s ease;
    }
}
