/* stylelint-disable */

.page {

    .single {
        width: 100%;
        height: 100%;

        & span[class~='exam-center-upload-picture-card-wrapper'] {
            width: 100%;
            height: 100%;
        }

        & div[class~='exam-center-upload-list-picture-card-container'] {
            width: 100%;
            height: 100%;
        }

        & div[class~='exam-center-upload-list-picture-card'] {
            width: 100%;
            height: 100%;
        }

        & div[class~='exam-center-upload-select-picture-card'] {
            width: 100%;
            height: 100%;
        }
    }
}
