.introduce {
    margin-right: -24px;
    padding-top: 24px;

    .introduce_content {
        display: flex;
        align-items: flex-start;
        margin-top: 24px;
        padding-right: 4px;

        &.student {
            height: calc(100vh - 452px);
        }

        &.teacher {
            height: calc(100vh - 342px);
        }

        .introduce_content_menu {
            display: flex;
            align-items: stretch;
            width: 137px;

            .introduce_content_menu_track {
                position: relative;
                width: 2px;
                background: rgba(0, 0, 0, 6%);

                .introduce_content_menu_track_dot {
                    position: absolute;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    border: 2px solid var(--primary-color);
                    border-radius: 50%;
                    background-color: #fff;
                    transform: translate(-50%, -50%);
                    transition: top 0.3s;
                }
            }

            .introduce_content_menu_list {
                margin-left: 16px;

                .menu_item {
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                    line-height: 24px;
                    transition: color 0.3s;

                    &:not(:first-child) {
                        margin-top: 12px;
                    }

                    &.active,
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .introduce_content_view {
            overflow-y: auto;
            margin-left: 37px;
            padding-left: 24px;
            height: 100%;
            border-left: 1px solid #e8e8e8;
            flex: 1;

            .introduce_content_view_title {
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 28px;
            }

            .introduce_content_view_article {
                margin-top: 24px;
                padding-right: 24px;
                font-size: 16px;
                font-weight: 400;
                color: rgba(0, 0, 0, 65%);
                line-height: 28px;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                width: 6px;
                border-radius: 3px;
                background: rgba(0, 0, 0, 15%);
            }
        }
    }
}
