/* stylelint-disable */
body {
    /* min-width: 1200px !important; */
    background: #f7f8fc;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

p {
    margin: 0 !important;
}

.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentcolor;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}

.ant-input {
    color: #333;
    font-weight: 400;
    background: #fff;
    border: 0.01rem solid rgba(0, 0, 0, 15%);
    border-radius: 6px !important;
}

.ant-input::placeholder {
    color: rgba(0, 0, 0, 25%);
    font-weight: 400;
}

.ant-btn {
    height: 35px;
    border-radius: 6px !important;
    cursor: pointer;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 6px !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    width: 0;
}

.ant-image-preview-mask {
    z-index: 100000;
}

.ant-image-preview-wrap {
    z-index: 100001;
}

.ant-select-selector {
    width: 100%;
}

.ant-input-affix-wrapper,
.ant-input-number {
    border-radius: 6px;
}

.ant-radio-wrapper {
    margin-right: 32px;
    color: rgba(0, 0, 0, 65%);
}

.ant-radio-wrapper:last-child {
    margin-right: 0;
}

.ant-table-container,
.ant-table-content,
.ant-modal-content,
.ant-table table {
    border-radius: 8px;
}

.ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.ant-table-container table>tfoot>tr:first-child td:first-child {
    border-bottom-left-radius: 8px;
}

.ant-table-container table>tfoot>tr:first-child td:last-child {
    border-bottom-right-radius: 8px;
}

.ant-modal-header {
    border-radius: 8px 8px 0 0;
}

.ant-popover-inner {
    border-radius: 8px;
}

.ant-tooltip-inner,
.ant-message-notice-content {
    border-radius: 6px;
}

/* 黑体 */
@font-face {
    font-family: HeiTi;
    src: url('https://static.zpimg.cn/public/examination_pc/font/heiti.ttf');
}

/* 宋体 */
@font-face {
    font-family: SongTi;
    src: url('https://static.zpimg.cn/public/examination_pc/font/songti.ttf');
}

@media print {

    body,
    #root {
        min-width: auto !important;
    }
}