.full_screen_edit_btn {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    border: 1px solid #1678ff;
    border-radius: 6px;
    background: #fff;
    transition: all 0.3s;
    cursor: pointer;
    gap: 4px;

    &.disabled {
        cursor: default;
        opacity: 0;
        pointer-events: none;
    }

    > span {
        font-size: 16px;
        font-weight: 400;
        color: #1678ff;
        line-height: 24px;
    }

    > img {
        width: 24px;
        height: 24px;
    }
}

.full_screen_end_container {
    position: fixed;
    z-index: 10;
    display: flex;
    overflow: auto;
    padding: 24px 40px;
    background-color: #f0f2f5;
    inset: 64px 0 0;
    flex-direction: column;

    .header_wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .back_btn {
            margin-right: 12px;
            padding: 0 12px;
            line-height: 32px;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            border: 1px solid rgba(0, 0, 0, 15%);
            border-radius: 6px;
            color: rgba(0, 0, 0, 65%);
            background: #fff;
            cursor: pointer;

            svg {
                margin-right: 8px;
            }
        }

        .header_title {
            font-size: 24px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 32px;
        }
    }

    .content_wrapper {
        display: flex;
        padding: 2px;
        min-width: 1200px;
        height: calc(100% - 48px);
        border-radius: 12px;
        background: #fff;

        .left_content {
            display: flex;
            padding: 32px 24px 12px;
            min-height: 1px;
            flex: 1;
            flex-direction: column;

            .title {
                position: relative;
                margin-bottom: 32px;
                padding-left: 12px;
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                flex-shrink: 0;
                line-height: 28px;

                &::before {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    display: block;
                    width: 4px;
                    height: 18px;
                    border-radius: 2px;
                    background: var(--primary-color);
                    content: '';
                }
            }

            .main {
                display: flex;
                overflow: auto;
                margin: 0 -24px;
                padding: 0 24px 12px;
                flex: 1;
                flex-direction: column;
                min-height: 1px;

                &::-webkit-scrollbar {
                    width: 6px;
                    background: rgba(0, 0, 0, 4%);
                }

                &::-webkit-scrollbar-thumb {
                    width: 6px;
                    border-radius: 3px;
                    background: rgba(0, 0, 0, 15%);
                }
            }

            .left_content_footer {
                margin: 0 -24px;
                padding: 12px 24px 0;
                border-top: 1px solid rgba(0, 0, 0, 3%);
                text-align: center;
                flex-shrink: 0;
            }
        }

        .right_content {
            width: 31%;
            min-width: 385px;
        }
    }
}
