.create_wrapper {
    width: 100%;
    height: 100%;
    transform: translate(0, 0);

    .create_wrapper_inner {
        height: calc(100% - 56px);
        overflow: auto;

        .create_box {
            width: 100%;
            height: calc(100% - 40px);
            padding: 24px;
            overflow-y: auto;
            background: #fff;
            border-radius: 8px;
    
            .content {
                width: 780px;
                margin: 32px auto 0;
            }
        }
    }
}
