/* stylelint-disable*/
.ai_rate {
    margin-bottom: 16px;
    width: 248px;
    border-radius: 12px;

    &_header {
        padding: 16px 16px 12px;
        border-radius: 12px 12px 0 0;
        background: linear-gradient(134deg, var(--primary-color) 0%, var(--primary-color-065) 100%);

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                    width: 20px;
                    height: 20px;
                }

                .text {
                    font-size: 16px;
                    color: #fff;
                    line-height: 24px;
                }
            }

            .right {
                display: flex;
                align-items: center;

                .score {
                    margin-right: 4px;
                    font-size: 28px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 32px;
                }

                .unit {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 85%);
                    line-height: 24px;
                }
            }
        }

        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;
            column-gap: 8px;

            .analysis_item {
                width: 48px;
                text-align: center;

                .percent {
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 22px;
                }

                .title {
                    margin-top: 2px;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 65%);
                    line-height: 18px;
                }
            }

            .content {
                font-size: 14px;
                color: rgba(255, 255, 255, 85%);
                line-height: 22px;
            }
        }
    }

    &_content {
        border-radius: 0 0 12px 12px;
        background-color: #fff;

        .menu_scores_count {
            padding: 12px 16px;
            border-bottom: 1px solid #e8e8e8;

            .count {
                margin-right: 4px;
                font-size: 16px;
                font-weight: 500;
                color: #ff4d4f;
                line-height: 24px;
            }

            .text {
                font-size: 16px;
                color: rgba(0, 0, 0, 85%);
                line-height: 24px;
            }
        }

        .menu_scores_list {
            overflow-y: auto;
            padding: 12px 16px;
            max-height: 432px;

            :global {
                .fe-job-pc-collapse,
                .fe-job-pc-collapse-item,
                .fe-job-pc-collapse-content {
                    border: none;
                }

                .fe-job-pc-collapse-item {
                    padding-bottom: 16px;
                    background-color: #fff;
                }

                .fe-job-pc-collapse-header,
                .fe-job-pc-collapse-content-box {
                    padding: 0 !important;

                    svg {
                        width: 16px;
                        height: 16px;
                        color: rgba(0, 0, 0, 45%);
                    }
                }

                .fe-job-pc-collapse-arrow {
                    right: 0 !important;
                }
            }

            .title,
            .count {
                font-size: 16px;
                color: #171a1d;
                line-height: 24px;
            }

            .title {
                position: relative;
                margin-right: 11px;

                &::after {
                    position: absolute;
                    top: 11px;
                    right: -8px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 65%);
                    content: '';
                }
            }

            .dot {
                display: inline-block;
                width: 3px;
                height: 3px;
                background: rgba(0, 0, 0, 65%);
            }

            .suggestion_list {
                margin-top: 8px;

                .suggestion_item {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px;
                    border-radius: 6px;
                    background: rgba(0, 0, 0, 4%);

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }

                    .suggestion {
                        max-width: 156px;
                        font-size: 14px;
                        color: rgba(0, 0, 0, 65%);
                        line-height: 22px;
                    }

                    .edit {
                        font-size: 14px;
                        color: var(--primary-color);
                        line-height: 22px;
                        cursor: pointer;
                    }
                }
            }

            .suggestion_wrapper {
                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 8px;

                    .name {
                        overflow: hidden;
                        max-width: 158px;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(23, 26, 29, 45%);
                        line-height: 22px;
                    }

                    .edit {
                        cursor: pointer;
                        font-size: 14px;
                        color: var(--primary-color);
                        line-height: 22px;
                    }
                }

                .bottom {
                    margin-top: 6px;
                    padding: 8px;
                    width: 216px;
                    border-radius: 6px;
                    background: rgba(0, 0, 0, 4%);

                    .suggestion {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 65%);
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
