.mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    .modal_content {
        width: 75vw;
        height: 43vw;
        border-radius: 8px;
        background: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .modal_title {
            width: 100%;
            text-align: center;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 17px;
            color: #171a1d;
            padding: 20px 20px 0 20px;
        }

        .modal_text {
            width: 100%;
            text-align: center;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 14px;
            color: rgba(23, 26, 29, 0.6);
            line-height: 20px;
            padding: 12px 20px 16px;
        }
        .modal_bottom {
            border-top: 1px solid rgba(126, 134, 142, 0.16);
            width: 100%;
            height: 13vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: PingFangSC, PingFang SC;
            font-weight: 500;
            font-size: 17px;
            color: #1678ff;
        }
    }
}
