/*stylelint-disable*/

.fontSize(@opacity) {
    line-height: 24px;
    color: rgba(0,0,0,@opacity);
}

.component_topic_list {
    flex: 1;
    padding: 24px;
    background-color: #fff;
    height: calc(100vh - 110px);
    overflow-y: auto;
    margin-right: 24px;
    border-radius: 8px;
}

.component_type_title {
    padding: 8px 16px;
    border: 1px solid rgba(22,120,255,0.12);
    border-radius: 8px;
    background: rgba(22,120,255,0.06);
    margin-bottom: 16px;

    .total_question {
        .fontSize(0.45)
    }
}

.component_question_list {
    margin-bottom: 16px;

    .question_item {
        display: flex;
        border-radius: 8px;
        border: 1px solid #F0F0F0;
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        .title {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
        }
    
        .options {
            .option_item {
                display: flex;
                align-items: center;
                line-height: 24px;
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
    
                .sort {
                    width: 18px;
                    height: 18px;
                    border: 1px solid #d9d9d9;
                    margin-right: 8px;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: rgba(0,0,0,0.45);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.right {
                        background: #52C41A;
                        border: 1px solid #52C41A;
                        color: #fff;
                    }

                    &.wrong {
                        background: #FF4D4F;
                        border: 1px solid #FF4D4F;
                        color: #fff;
                    }
                }
    
                .name {
                    .fontSize(0.65)
                }
            }
        }
    
        .single_wrapper, .blank_wrapper {
            flex: 1;
            padding: 16px;
            
            .sort {
                border-radius: 50%;
            }
        }
    
        .multiple_wrapper {
            flex: 1;
            padding: 16px;

            .sort {
                border-radius: 2px;
            }
        }

        .subject_wrapper {
            flex: 1;
            padding: 16px;

            .student_answer {
                display: flex;
                padding: 16px;
                border-radius: 8px;
                border: 1px solid #F0F0F0;

                .label {
                    .fontSize(0.45)
                }
        
                .value {
                    display: block;
                    width: calc(100% - 80px);
                    white-space: pre-wrap;
                }
            }
        }
    
        .analysis_wrapper {
            margin-top: 16px;
            padding: 16px;
            border-radius: 8px;
            background-color: rgba(0,0,0,0.02);
    
            .answer {
                line-height: 24px;
                margin-bottom: 8px;
            }
    
            .answer, .analysis {
                display: flex;
            }
    
            .label {
                .fontSize(0.45)
            }
    
            .value {
                display: block;
                width: calc(100% - 80px);
                white-space: pre-wrap;
                word-break: break-all;
                font-size: 16px;
                line-height: 24px;
            }
        }

        .score_wrapper {
            background-color: rgba(0, 0, 0, 0.02);
            width: 128px;
            min-width: 128px;
            display: flex;
            flex-direction: column;
            font-size: 16px;

            .markers {
                padding: 8px;
                margin-top: 8px;
                background: rgba(0,0,0,0.04);
                border-radius: 8px;
                text-align: center;

                .label {
                    .fontSize(0.85);
                    margin-bottom: 4px;
                }
    
                .value {
                    .fontSize(0.65);
                    margin-top: 4px;
                }
            }

            .score {
                .fontSize(0.85);
                margin-top: 16px;
                width: fit-content;
            }

            .unit_score {
                .fontSize(0.65);
                margin-top: 8px;
                width: fit-content
            }
            .orbit{
                font-size: 14px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 16px 0;
            }
        }

        .compose_wrapper {
            flex: 1;
            padding: 0 0 16px 16px;

            .score_wrapper {
                margin-left: 16px;
                padding-bottom: 16px;
            }

            .title {
                margin-bottom: 0;

                &.compose_title {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                

                :global {
                    .exam-center-space {
                        padding-top: 16px;
                    }
                }
            }

            .children_item {
                display: flex;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                .title {
                    margin-bottom: 16px;
                }
                
                .children_sort {
                    min-width: 80px;
                }

                .single_wrapper,
                .multiple_wrapper,
                .blank_wrapper,
                .subject_wrapper {
                    padding: 0;
                }
                .score_wrapper {
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid rgba(0,0,0,0.08);

                    .score {
                        margin-top: 0;
                    }
                    .orbit{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.multiple{
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;

    .row{
        display: flex;

        .teacher_name{
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}
.tooltip_wrapper{
    padding: 4px;
}
.tooltip_multiple{
    font-size: 16px;

    .row{
        display: flex;
        color: #000;
        width: 88px;

        .teacher_name{
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
}