/*stylelint-disable*/

.page_record_detail {
    background-color: #f0f2f5;
    .content_wrapper {
        margin-top: 24px;
        padding: 24px 24px 8px;
        border-radius: 8px;
        background: #FFFFFF;
    }
}