/* stylelint-disable*/
.my_service_page_component {
    display: flex;
    flex-direction: column;

    :global {
        .fe-job-pc-row {
            margin-top: 24px;
        }

        .fe-job-pc-col {
            display: flex;
        }
    }

    .top {
        padding: 24px;
        border-radius: 12px;
        background-color: #fff;

        .top_inner {
            display: flex;
            margin-top: 24px;

            .job_seeker_information {
                flex: 2;
                padding-right: 24px;
                border-right: 1px solid #e8e8e8;

                .label {
                    color: rgba(0, 0, 0, 85%);
                }

                .value {
                    display: flex;
                    color: rgba(0, 0, 0, 65%);
                    flex: 1;
                }
            }

            .service_information {
                flex: 1;
                padding-left: 24px;
            }
        }
    }

    .bottom {
        display: flex;
        overflow: hidden;
        margin-top: 24px;
        padding: 24px;
        border-radius: 12px;
        background-color: #fff;
        flex-direction: column;

        :global {
            .fe-job-pc-steps {
                margin: 0 auto 24px;
                width: 520px;
            }
        }

        .step_wrapper {
            flex: 1;
            overflow: hidden;

            .first_step_content {
                display: flex;
                column-gap: 48px;
                height: 100%;

                .job_seeker_survey,
                .judgment_question {
                    flex: 1;
                    height: 100%;

                    .question_list {
                        overflow: auto;
                        padding: 24px;
                        height: 600px;
                        border-radius: 8px;
                        background-color: rgba(0, 0, 0, 3%);

                        .question_item {
                            &:not(:last-child) {
                                padding-bottom: 24px;
                            }

                            .title {
                                padding: 8px;
                                font-size: 18px;
                                color: rgba(0, 0, 0, 85%);
                                line-height: 26px;
                            }

                            .option_list {
                                display: flex;
                                flex-direction: column;

                                :global {
                                    .fe-job-pc-radio-wrapper {
                                        padding: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .second_step_content {
                overflow-y: auto;
                height: 100%;

                .diagnosis_results {
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .right {
                            display: flex;
                            align-items: center;
                            margin-bottom: 24px;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 45%);
                            line-height: 22px;
                            cursor: pointer;

                            svg {
                                margin-left: 4px;
                                height: 11px;
                            }
                        }
                    }

                    .table {
                        &_tr {
                            display: flex;
                            align-items: center;
                            border: 1px solid #e8e8e8;

                            &:first-child {
                                .table_tr_td {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 85%);
                                    background: #fafafa;
                                    line-height: 24px;
                                }
                            }

                            &:not(:last-child) {
                                border-bottom: none;
                            }

                            &_td {
                                padding: 16px;
                                width: 25%;
                                text-align: center;
                                color: rgba(0, 0, 0, 85%);
                                line-height: 24px;
                                // cursor: pointer;

                                &.dimension_hierarchy {
                                    .btn {
                                        margin: auto;
                                        padding: 0 12px;
                                        width: fit-content;
                                        border-radius: 4px;
                                        color: #fff;
                                    }

                                    .btn_1 {
                                        background: #52c41a;
                                    }

                                    .btn_2 {
                                        background: #1678ff;
                                    }

                                    .btn_3 {
                                        background: #ff4d4f;
                                    }
                                }

                                &:not(:last-child) {
                                    border-right: 1px solid #eee;
                                }

                                &.result {
                                    flex: 1;
                                    font-weight: 500;
                                }
                            }

                            .text_1 {
                                color: #52c41a;
                            }

                            .text_2 {
                                color: #1678ff;
                            }

                            .text_3 {
                                color: #ff4d4f;
                            }
                        }
                    }
                }

                .assistance_measures {
                    margin-top: 49px;

                    :global {
                        .fe-job-pc-table-thead > tr > th {
                            background-color: #fff;
                        }

                        .anticon {
                            cursor: pointer;
                            opacity: 0.25;

                            &:hover {
                                opacity: 0.45;
                            }
                        }

                        .fe-job-pc-space {
                            width: 100%;
                        }
                    }

                    .custom_measures,
                    .more_measures {
                        padding: 24px;
                        border-radius: 8px;
                        background: rgba(0, 0, 0, 3%);

                        .title {
                            font-size: 16px;
                            font-weight: bold;
                            color: rgba(0, 0, 0, 85%);
                            line-height: 24px;
                        }

                        .sub_title {
                            margin-top: 4px;
                            margin-bottom: 24px;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 45%);
                            line-height: 22px;
                        }
                    }

                    .more_measures {
                        margin-top: 24px;

                        .measure_item {
                            display: flex;
                            justify-content: space-between;
                            padding: 8px 16px;
                            width: 100%;
                            border-radius: 6px;
                            background: #fff;
                        }
                    }
                }

                .service_record {
                    margin-top: 24px;

                    :global {
                        .super_table_warp {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }
    }

    .footer_wrapper {
        position: fixed;
        bottom: 0;
        left: 150px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 24px;
        width: calc(100% - 150px);
        height: 56px;
        background-color: #fff;
        filter: blur(0);
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 3%);
    }
}

.answer_detail_modal {
    .result_wrapper {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .result {
        margin: 12px auto 24px;
        padding: 0 12px;
        width: fit-content;
        font-size: 16px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        line-height: 24px;
    }

    .result_1 {
        color: #000 !important;
        background: #fff !important;
    }

    .level_1 {
        background: #52c41a;
    }

    .level_2 {
        background: #1678ff;
    }

    .level_3 {
        background: #ff4d4f;
    }

    .question_list {
        overflow-y: auto;
        padding-top: 24px;
        height: 436px;
        border-top: 1px solid #e8e8e8;

        .question_item {
            &:not(:last-child) {
                margin-bottom: 24px;
            }

            .title {
                margin-bottom: 8px;
                font-size: 18px;
                color: rgba(0, 0, 0, 85%);
                line-height: 26px;
            }

            .option_list {
                display: flex;
                flex-direction: column;

                .option_item {
                    padding: 8px 0;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 24px;
                }
            }
        }
    }
}

.table_option_bar {
    display: flex;
    justify-content: space-between;
}

.info_circle_icon {
    opacity: 0.25;

    &:hover {
        opacity: 0.45;
    }
}
