.resource_content {
    display: flex;
    width: 100%;
    gap: 12px 12px;
    flex-wrap: wrap;

    .resource_item {
        position: relative;
        overflow: hidden;
        padding: 12px;
        width: calc(100% / 3 - 8px);
        height: 78px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 5%);
        // cursor: pointer;dd
        user-select: none;

        .resource_item_device_name {
            .sign {
                margin-right: 4px;
                padding: 0 8px;
                height: 22px;
                font-size: 14px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                border-radius: 4px;
                color: #fff;
                flex: none;

                &.sign_1 {
                    background: linear-gradient(135deg, #537eff 0%, #a0baff 100%), #7fa0ff;
                }

                &.sign_2 {
                    background: linear-gradient(135deg, #0fc2e6 0%, #6edaef 100%), #48d1ec;
                }

                &.sign_3 {
                    background: linear-gradient(135deg, #7f7cf8 0%, #bcb9fe 100%), #a4a1fc;
                }

                &.sign_4 {
                    background: linear-gradient(135deg, #23aefe 0%, #93d4ff 100%), #6ac6ff;
                }

                &.sign_5 {
                    background: #f8b56f;
                }
            }

            display: -webkit-box;
            overflow: hidden;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 85%);
            line-height: 22px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .resource_item_name {
            .sign {
                margin-right: 4px;
                padding: 0 8px;
                height: 22px;
                font-size: 14px;
                font-family: PingFangSC, 'PingFang SC';
                font-weight: 400;
                border-radius: 4px;
                color: #fff;
                flex: none;

                &.sign_1 {
                    background: linear-gradient(135deg, #537eff 0%, #a0baff 100%), #7fa0ff;
                }

                &.sign_2 {
                    background: linear-gradient(135deg, #0fc2e6 0%, #6edaef 100%), #48d1ec;
                }

                &.sign_3 {
                    background: linear-gradient(135deg, #7f7cf8 0%, #bcb9fe 100%), #a4a1fc;
                }

                &.sign_4 {
                    background: linear-gradient(135deg, #23aefe 0%, #93d4ff 100%), #6ac6ff;
                }

                &.sign_5 {
                    background: #f8b56f;
                }
            }

            overflow: hidden;
            font-size: 16px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgba(0, 0, 0, 85%);
            flex: 1;
            word-break: break-all;
            line-height: 22px;
        }

        .resource_item_info {
            margin-top: 9px;
            font-size: 14px;
            font-family: PingFangSC, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 22px;

            .resource_item_info_content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }

        .resource_item_mask {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 50%);
            opacity: 0;
            transition: opacity ease-in-out 0.1s;

            .btn_list {
                display: flex;
                justify-content: center;
                width: 100%;

                .btn {
                    color: #fff;
                }
            }
        }

        &:hover {
            .resource_item_mask {
                opacity: 1;
            }
        }
    }
}
