.full_dialog {
    position: fixed;
    z-index: 1000;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    inset: 0;

    .full_dialog_header {
        padding: 16px 24px;
    }

    .full_dialog_body {
        padding: 24px;
    }
}
