/*stylelint-disable*/

.assign_topic_modal, .grading_setting_modal {
    width: 60vw !important;
    color: rgba(0,0,0,0.85);

    :global {
        .exam-center-modal-body {
            padding: 24px 24px 0;
            max-height: calc(80vh - 55px);
            overflow-y: auto;
        }
    }

    .component_paper_item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    
        .paper_title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
        }
    
        .question_item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            .question_title {
                padding: 8px 16px;
                background: rgba(22,120,255,0.06);
                border-radius: 8px;
                border: 1px solid rgba(22,120,255,0.12);
                margin-bottom: 16px;
            }
        }
    
        .topic_item {
            display: flex;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
    
            .topic_title {
                flex: 1;
                display: flex;
                align-items: flex-start;
                padding: 16px;
                border: 1px solid #F0F0F0;
                border-radius: 8px 0 0 8px;
                border-right: none;
                min-width: 65%;
            }
    
            .select_teacher {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 150px;
                padding: 0 16px;
                border: 1px solid #F0F0F0;
                border-radius: 0 8px 8px 0;
                border-left: none;
                background: rgba(0,0,0,0.02);
    
                :global {
                    .ant-select {
                        width: 100%;
                    }
                }
            }
        }
    }
}

