/*stylelint-disable*/

.import_modal {
    :global {
        .merchant-center-modal-body {
            padding: 0;
        }
    }
}

.padding_modal {
    .padding_content {
        padding: 24px;
    }

    .alert {
        padding: 8px 16px;
        color: rgba(0, 0, 0, 65%);
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        border-radius: 6px;

        > span {
            margin: 5px 8px 0 0;

            > svg {
                width: 14px;
                height: 14px;
            }
        }

        :global {
            .merchant-center-alert-message {
                color: rgba(0, 0, 0, 65%);
            }
        }
    }

    .template {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;
        padding: 24px;
        background: rgba(0, 0, 0, 4%);
        border: 1px dashed rgba(0, 0, 0, 15%);
        border-radius: 8px;

        .num {
            font-weight: bold;
        }

        .text {
            color: rgba(0, 0, 0, 45%);
        }

        button {
            display: flex;
            align-items: center;
            height: 32px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        background-color: rgba(0, 0, 0, 4%);
        border: 1px dashed rgba(0, 0, 0, 15%);
        border-radius: 8px;

        .text {
            margin-top: 8px;
            color: rgba(0, 0, 0, 45%);
        }

        .upload {
            width: 100%;
            text-overflow: ellipsis;

            & > div > span {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    .start_import {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 6%);

        & > button {
            margin-right: 16px;
        }
    }
}

.loading_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    padding: 24px;
    color: rgba(0, 0, 0, 65%);
    text-align: center;

    .loading_waitting {
        height: 24px;
        margin-top: 16px;
    }

    .filename {
        width: 100%;
        margin-top: 28px;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        text-overflow: ellipsis;
    }

    .btn {
        margin-top: 48px;
    }
}

.resolved_modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        align-items: center;
        padding: 24px;

        .text {
            margin-left: 19px;
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 24px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            line-height: 32px;

            .success_count {
                color: #36c626;
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 6%);

        .button {
            margin-right: 16px;
        }
    }
}

.rejected_modal {
    .rejected_content {
        padding: 24px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 6%);

        .icon {
            :global {
                svg {
                    width: 35px;
                    height: 35px;
                    color: rgba(255, 77, 79, 100%);
                }
            }
        }

        .texts {
            margin-left: 18px;

            .content {
                margin: 0;

                .title {
                    height: 32px;
                    margin-bottom: 8px;
                    color: rgba(0, 0, 0, 85%);
                    font-weight: 500;
                    font-size: 24px;
                    font-family: PingFangSC-Medium, 'PingFang SC';
                    line-height: 32px;
                }

                .success {
                    color: #36c626;
                }

                .fail {
                    color: red;
                }
            }

            .info {
                margin-top: 8px;
                color: rgba(0, 0, 0, 65%);
                font-weight: 400;
                font-size: 16px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                line-height: 24px;

                .num {
                    color: #ff4d4f;
                }
            }
        }
    }

    .content {
        margin-top: 24px;

        .alert {
            align-items: flex-start;
            padding: 8px 16px;
            color: rgba(0, 0, 0, 65%);
            font-weight: 400;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            border-radius: 6px;

            > span {
                margin-top: 5px;
            }
        }

        .texts {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 16px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            line-height: 24px;

            > a {
                font-weight: 400;
            }
        }

        .table {
            margin-top: 16px;
        }

        :global {
            .merchant-center-pagination {
                margin-bottom: 0;

                > li {
                    border-radius: 6px;
                }
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 6%);

        .button {
            margin-right: 16px;
        }
    }
}
