/* stylelint-disable selector-class-pattern */
.enroll_details_container {
    display: block;

    .details_top {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 24px;
        margin-bottom: 16px;
        display: flex;

        .cover_wrapper {
            position: relative;
            width: 320px;
            height: 180px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 24px;
            flex-shrink: 0;
        }

        .cover_option {
            background: rgba(0, 0, 0, 0.45);
            border-radius: 0px 0px 0px 8px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
            display: flex;
            align-items: center;
            padding: 4px 12px;

            span {
                margin-left: 4px;
            }
        }

        .enroll_info {
            padding: 8px 0;

            .enroll_title {
                font-weight: 500;
                font-size: 24px;
                color: rgba(0, 0, 0, 0.85);
                line-height: 32px;
                margin-bottom: 8px;
            }

            .tags_wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-bottom: 24px;

                span {
                    background: rgba(22, 120, 255, 0.12);
                    border-radius: 4px;
                    font-size: 16px;
                    color: #1678FF;
                    line-height: 24px;
                    padding: 0 8px;

                }

                .course {
                    color: #52C41A;
                    background: rgba(82, 196, 26, 0.16);
                }
            }

            .enroll_time {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.85);
                line-height: 24px;

                span {
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.65);
                    line-height: 24px;
                }
            }
        }
    }

    .details_content_wrapper {
        display: flex;

        .details_content {
            flex: 1;
            background: #FFFFFF;
            border-radius: 12px;
            padding: 24px;
            margin-right: 16px;

            :global {
                .fe-enroll-permission-pc-form-item-label>label {
                    font-weight: 500;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.85);
                    line-height: 28px;
                    margin-bottom: 10px;
                }
            }
        }

        .details_content_right {
            width: 400px;
            display: flex;
            flex-direction: column;

            .details_org {
                background: #FFFFFF;
                border-radius: 12px;
                padding: 24px;
                margin-bottom: 16px;
            }

            .details_file {
                background: #FFFFFF;
                border-radius: 12px;
                padding: 24px 24px;

                .file_item {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.65);
                    line-height: 24px;
                    margin-bottom: 12px;

                    svg {
                        margin-right: 4px;
                    }
                }

                .file_name {
                    flex: 1;
                    margin-right: 18px;
                }
            }
        }

        .org_info {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            img {
                width: 64px;
                height: 64px;
                border-radius: 8px;
                border: 1px solid #E8E8E8;
                margin-right: 12px;
            }

            div {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
                line-height: 26px;
                word-break: break-all;
                word-wrap: break-word;
            }
        }

        .org_item {
            display: flex;
            align-items: center;
            margin-top: 16px;
            gap: 8px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.65);
            line-height: 24px;
        }
    }

    .sub_title {
        font-weight: 500;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 28px;
        margin-bottom: 16px;

        :global {
            .anticon {
                width: 18px;
                height: 18px;
                font-size: 18px;
                color: rgba(0, 0, 0, 0.25);
                margin-left: 5px;
                margin-top: -1px;
            }
        }

    }
}

.group_cover_wrapper {
    img {
        width: 72px;
        height: 72px;
    }

    :global {
        .fe-enroll-permission-pc-radio {
            display: none;
        }

        span.fe-enroll-permission-pc-radio+* {
            padding-right: 13px;
            padding-left: 0;
        }
    }

    .cover_wrapper {
        position: relative;
        border: 1px solid #fff;

        .checked {
            display: none;
        }

    }

    :global(.fe-enroll-permission-pc-radio-wrapper-checked) .cover_wrapper {
        border-radius: 8px;
        border: 1px solid #1678FF;

        .checked {
            display: block;
            width: 20px;
            height: 20px;
            background: #1678FF;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 10px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 8px;
        }

    }
}

.no_data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
        margin-top: -30px;
    }
}