/* stylelint-disable */

.briefing_page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #F2F8FF 0%, #FFFFFF 100%);

    .header_wrapper {
        text-align: center;
        margin: 24px 0 16px;

        .exam_name {
            font-size: 20px;
            font-weight: 500;
            color: rgba(0,0,0,0.85);
            line-height: 28px;
            font-weight: 550;
        }

        .exam_time {
            line-height: 24px;
            margin-top: 12px;
            color: #888;
            font-size: 18px;
        }
    }

    .briefing_wrapper {
        width: 800px;
        margin: auto;
        padding: 16px 32px 32px;
        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
            0px 3px 6px -4px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        background: #ffffff;

        .title {
            width: 144px;
            height: 40px;
            background-image: url('https://static.zpimg.cn/public/fe-merchant-pc/brief.png');
            background-size: 100% 100%;
            margin: auto;
            text-align: center;
            font-size: 18px;
            color: #fff;
            line-height: 40px;
        }

        .content {
            max-height: 300px;
            min-height: 300px;
            margin-top: 16px;
            margin: 12px 0;
            overflow-y: auto;
            font-size: 18px;
            font-weight: 400;
            color: rgba(0,0,0,0.85);
            line-height: 26px;
            white-space: pre;

            .indent2 {
                text-indent: 2em;
            }

            .indent4 {
                text-indent: 4em;
            }

            :global {
                .exam-center-divider {
                    margin: 16px 0;
                }
            }
        }

        .checkbox_wrapper {
            margin-top: 16px;
            text-align: center;
           

            :global {
                .exam-center-checkbox-wrapper {
                    font-size: 18px;
                    color: #525252;
                }

                .exam-center-checkbox-inner {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .confirm_btn_wrapper {
            margin-top: 16px;
            display: flex;
            justify-content: center;

            :global {
                .exam-center-btn-primary {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 400px;
                    height: 40px;
                    border-radius: 6px !important;
                    border: none;
                    font-size: 18px;
                }
            }
        }
    }

    .tips_wrapper {
        width: 800px;
        margin: 16px auto;

        :global {
            .exam-center-alert {
                align-items: baseline;

                &-warning {
                    position: relative;
                    border-radius: 6px;
                    padding: 8px 15px 8px 47px;
                }

                &-message {
                    line-height: 26px;
                    font-size: 18px;
                    color: #525252;
                }

                .anticon {
                    font-size: 20px;
                    position: absolute;
                    top: 12px;
                    left: 15px;
                }
            }
        }
    }
}
