.page {
    width: 100%;
    font-family: PingFangSC-Medium, 'PingFang SC';

    .content {
        padding: 0.15rem;
        width: 100%;
        border-radius: 0.08rem;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(0, 21, 41, 3%);

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.1rem;
            padding: 0.2rem;
            width: 100%;
            border-radius: 0.05rem;
            background: #f7f9fc;

            .left {
                .title {
                    display: flex;
                    align-items: center;
                    font-size: var(--size-2);
                    font-weight: bold;
                    color: rgba(0, 0, 0, 85%);
                    line-height: 28px;
                }

                .description {
                    margin-top: 0.05rem;
                    font-size: var(--size-1);
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 45%);
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--size-1);
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                border-radius: 0.04rem;
                color: #fff;
                background: var(--primary-color);
                flex: none;
            }
        }
    }
}
