.page {
    display: flex;
}
.id_image {
    width: 102px;
    height: 102px;
    margin-right: 10px;
}
.id_btn {
    width: 102px;
    height: 102px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
