.page {
    position: relative;
    min-height: calc(100vh - 452px);
    background: linear-gradient(180deg, var(--primary-color-006) 0%, #f5f9ff 100%);

    .main {
        margin: auto;
        padding-top: 24px;
        width: 1200px;
        max-width: 1200px;

        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 245px;
        }
    }
}
