.global_empty_body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    flex-direction: column;

    & > div {
        width: 272px;
        height: 170px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://static.zpimg.cn/public/career/hunan/icon_empty.png');
    }

    & > p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #888;
    }
}

.offline_bg {
    position: fixed;
    top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;

    .offline_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 17px;
        height: 40px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 5%), 0 6px 16px 0 rgba(0, 0, 0, 8%),
            0 3px 6px -4px rgba(0, 0, 0, 12%);

        .offline_img {
            margin-right: 10px;
            width: 14px;
            height: 14px;
            color: #ff4d4f;
        }

        .offline_tit {
            font-size: 14px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 65%);
        }
    }
}
