.page {
    width: 100%;
    height: 662px;
    background-image: url('https://wtzp-img.oss-cn-hangzhou.aliyuncs.com/gz_origin/bg_menhu%402x.png');
    background-size: 100% 100%;

    .main {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        padding: 80px 0;
        width: 1200px;
        min-width: 1200px;

        .title {
            font-size: 36px;
            font-family: PingFang-SC-Heavy, PingFang-SC;
            font-weight: 800;
            text-align: center;
            color: #fff;
            line-height: 50px;
        }

        .content {
            display: flex;
            justify-content: space-between;
            margin-top: 48px;

            .card {
                padding: 46px 30px 56px;
                width: 220px;
                height: 292px;
                border: 2px solid #fff;
                border-radius: 8px;
                background: linear-gradient(180deg, #dce2f6 0%, #f3f6ff 8%, #fcfcff 100%);
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    border: 2px solid #fff;
                    background: #fff;
                }

                .image {
                    width: 160px;
                    height: 160px;
                }

                .title {
                    margin-top: 6px;
                    font-size: 16px;
                    font-family: PingFangSC-Medium, 'PingFang SC';
                    font-weight: 500;
                    color: #333;
                    line-height: 24px;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 56px;

            .button {
                width: 224px !important;
                height: 56px !important;
                border: none;
                border-radius: 8px;
                text-align: center;
                background: #177dff;

                &:hover {
                    background: rgba(23, 125, 255, 80%);
                }

                .text {
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    color: #fff;
                    line-height: 24px;
                }

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}
