.base {
    :global {
        /* stylelint-disable-next-line selector-class-pattern */
        .exam-center-input-affix-wrapper {
            height: 32px;
        }
        .exam-center-row {
            align-items: baseline;
        }
    }

    .pdt_8 {
        padding-top: 8px;
    }
}
