.page {
    position: absolute;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1200px;
    height: 0.4rem;
    padding: 0.1rem 0.15rem;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 21, 41, 8%);

    .logo_content {
        display: flex;
        align-items: center;
        cursor: pointer;

        .logo {
            width: 0.3rem;
            height: 0.3rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .line {
            width: 1px;
            height: 0.15rem;
            margin: 0 0.1rem;
            background: rgba(0, 0, 0, 15%);
        }

        .site_name {
            margin-left: 0.05rem;
            color: #002140;
            font-size: var(--size-3);
            font-family: AlibabaPuHuiTiM, Helvetica;
        }
    }

    .setting {
        display: flex;
        align-items: center;
        justify-content: end;

        .back {
            color: rgba(0, 0, 0, 65%);
            font-weight: 400;
            font-size: var(--size-1);
            cursor: pointer;

            span {
                margin: 0 0 0 0.04rem;
            }

            &:hover {
                color: var(--primary-color);

                .icon {
                    fill: var(--primary-color);
                }
            }
        }

        .back_user {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.2rem;
            padding: 3px 10px;
            color: rgba(0, 0, 0, 65%);
            font-size: var(--size-1);
            vertical-align: middle;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 15%);
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }

    .avatar {
        position: relative;
        width: 0.5rem;
        height: 0.5rem;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 0 0 var(--primary-color);
        // 圆角不圆
        transform: scale(0.5);
        transform-origin: 100% center;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &:hover {
            box-shadow: 2px 0 12px 0 var(--primary-color);
        }
    }
}

.header_menu_bg {
    padding: 0;
    overflow-y: hidden;
    background: none;
    border-radius: 0.05rem;
    box-shadow: none;

    & > ul {
        padding: 0;
        background: none;
        box-shadow: none;

        & > li {
            padding: 0;
        }
    }
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.78rem;
    height: 0.25rem;
    overflow: hidden;
    background: #fff;
    border-radius: 0.05rem;
    box-shadow: 0 0.03rem 0.13rem 0 rgba(0, 0, 0, 8%);

    .header_menu_icon {
        width: 0.09rem;
        height: 0.09rem;
        margin-right: 0.03rem;
        fill: #000;
    }

    &:hover {
        color: var(--primary-color);

        .header_menu_icon {
            fill: var(--primary-color);
        }
    }
}

@media screen and (max-width: 1600px) {
    // .setting {
    //     width: 1.55rem !important;
    // }

    .header_menu {
        width: 100px !important;

        .header_menu_icon {
            width: 14px !important;
            height: 14px !important;
        }
    }
}

.square {
    width: 0.3rem;
    height: 0.3rem;
}

.ract {
    min-width: 0.3rem;
    max-height: 0.3rem;
}
