.order {
    position: relative;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    &.has_bottom {
        padding-bottom: 72px;
    }

    [class='transaction-picker transaction-picker-range'] {
        border-radius: 5px;
    }

    [class='transaction-tabs-nav'] {
        margin-bottom: 24px;
    }
    .alter {
        margin-bottom: 16px;
    }

    .tabs_item {
        font-size: 16px;
    }

    .title {
        height: 28px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }

    .toast1,
    .toast2 {
        color: #faad14;
        font-size: 16px;
    }

    .toast2 {
        color: #ff4d4f;
    }

    .toast3 {
        color: #1890ff;
    }

    .toast4 {
        color: #52c41a;
    }

    .mb_item {
        margin-bottom: 32px;
    }

    .search_button {
        display: flex;
        align-items: flex-start;
        margin-left: 16px;

        .search,
        .reset {
            // width: 70px;
            height: 32px;
        }

        .reset {
            margin-right: 8px;
        }
    }

    [class='transaction-list-item'] {
        padding: 0;
        border: none !important;
    }
}

.order_bottom {
    position: fixed;
    left: 226px;
    bottom: 0;
    width: calc(100% - 226px);
    height: 72px;
    background: #fff;
    box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    filter: blur(0px);
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .order_bottom_right {
        display: flex;
        align-items: center;
        .order_checked {
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.85);
            line-height: normal;
            margin-right: 16px;
            & > span {
                color: var(--primary-color);
            }
        }
    }
}
/* 在屏幕宽度小于或等于 1200px 时应用的样式 */
@media screen and (max-width: 1200px) {
    .order_bottom {
        position: sticky;
        width: 100%;
        left: 0;
        bottom: -24px;
    }
}
