.handle_modal {
    .img_wrap {
      display: flex;
      justify-content: space-between;
  
      .img_item {
        width: 171px;
        text-align: center;
      }
  
      .img,
      .no_img {
        width: 171px;
        height: 240px;
      }
  
      .no_img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d8d8d8;
      }
  
      .margin_top {
        margin-top: 8px;
      }
    }
  
    .select {
      display: flex;
      align-items: center;
  
      > p {
        flex-shrink: 0;
        margin: 0;
      }
  
      > div {
        width: 100%;
      }
    }
  }