/* stylelint-disable */
.basic_info {
    margin: auto;
    width: 1200px;
    max-width: 1200px;

    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 34px;
            font-weight: 500;
            color: #333;
            line-height: 48px;
        }

        .salary {
            flex: 1;
            margin-left: 40px;
            font-size: 28px;
            font-weight: 500;
            color: #ff561b;
            line-height: 40px;
        }
    }

    .other_info {
        display: flex;
        column-gap: 24px;
        align-items: center;
        margin-top: 12px;
        color: #999;

        .other {
            display: flex;
            column-gap: 8px;
            align-items: center;

            .text {
                color: #999;
                line-height: 24px;
            }
        }
    }

    .biographical_notes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .buttons {
            display: flex;
            column-gap: 24px;

            .button {
                box-sizing: border-box;
                padding: 11px 39px;
                height: 47px;
                font-size: 18px;
                border-radius: 8px;
                text-shadow: none;
            }
        }

        .operate {
            display: flex;
            column-gap: 40px;
            color: var(--primary-color);
            line-height: 22px;

            .link {
                display: flex;
                align-items: center;
                column-gap: 7px;

                .icon {
                    width: 16px;
                    height: 15px;
                }
            }
        }
    }
}

.basic_info {
    margin: auto;
    width: 1200px;
    max-width: 1200px;

    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 34px;
            font-weight: 500;
            color: #333;
            line-height: 48px;
        }

        .salary {
            flex: 1;
            margin-left: 40px;
            font-size: 28px;
            font-weight: 500;
            color: #ff561b;
            line-height: 40px;
        }

        .tags {
            display: flex;
            column-gap: 16px;

            .tag {
                padding: 4px 8px;
                height: fit-content;
                border-radius: 6px;
                color: var(--primary-color);
                background: rgba(255, 255, 255, 60%);
            }
        }
    }

    .biographical_notes {
        display: flex;
        justify-content: space-between;

        .buttons {
            display: flex;
            column-gap: 24px;
        }

        .operate {
            display: flex;
            column-gap: 40px;
            color: var(--primary-color);
            line-height: 22px;
        }
    }
}
