.click_edit_input_h3_card {
    padding: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background: #fff;
    transition: all 0.3s;
    box-sizing: border-box;

    &.active {
        border: 1px solid #1678ff;
    }

    .click_edit_input_h3_card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .click_edit_input_h3_card_header_title {
            display: flex;
            align-items: center;
            height: 32px;

            span:first-child {
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 32px;
            }

            .title_desc {
                margin-left: 4px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 45%);
                line-height: 32px;
            }
        }
    }
}
