.portal_footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #293343;

    .footer_content {
        margin: 0 auto;
        padding-top: 40px;
        width: 1200px;
        height: 224px;

        .footer_left {
            float: left;
            width: 480px;

            .left_content {
                h4 {
                    padding-bottom: 8px;
                    font-size: 20px;
                    font-weight: normal;
                    color: #7b8494;
                    line-height: 20px;
                }

                p {
                    margin-top: 16px;
                    max-width: 800px;
                    font-size: 16px;
                    color: #7b8494;
                    line-height: 16px;

                    span {
                        float: left;
                        margin-right: 32px;
                        margin-bottom: 10px;

                        &:hover {
                            color: #e5e8ed;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .footer_hotline {
            float: left;
            margin-left: 32px;
            padding: 20px 24px;
            width: 372px;
            height: 144px;
            background-color: #1f2a3b;

            .hotline_item {
                .hotline_label {
                    padding-bottom: 12px;
                    font-size: 14px;
                    color: #7b8494;
                    line-height: 14px;
                }

                .hotline_content {
                    padding-bottom: 16px;
                    font-size: 20px;
                    color: #e5e8ed;
                    line-height: 20px;

                    &.address {
                        font-size: 14px;
                    }
                }
            }
        }

        .footer_right {
            float: right;
            margin-left: 24px;

            .app_logo {
                float: left;
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;
                }

                .img_box {
                    position: relative;
                    display: block;
                    margin: auto;
                    width: 112px;
                    height: 112px;
                    background-color: #fff;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        margin: auto;
                        width: 96px;
                        height: 96px;
                        transform: translate(-50%, -50%);
                    }
                }

                p {
                    margin-top: 16px;
                    font-size: 16px;
                    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                    font-weight: 400;
                    color: #c3c5c9;
                    line-height: 16px;
                }
            }
        }
    }
}
