.workbench {
    display: flex;
    width: 100%;
    background: #f0f2f5;
    flex-direction: column;

    .weather {
        margin-bottom: 24px;
    }

    .left_content {
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 24px;

        .lesson_group {
            display: flex;
            flex-wrap: wrap;
            gap: 24px 24px;
        }
    }

    .content {
        display: flex;

        .horizontal_layout {
            display: flex;
            justify-content: space-between;

            .horizontal_layout_left {
                flex: none;
                width: calc((100% - 24px) * 0.75);
            }

            .horizontal_layout_right {
                flex: none;
                width: calc((100% - 24px) * 0.25);
            }
        }
    }

    .right_content {
        // padding-top: 24px;
        margin-left: 24px;
        width: 400px;
        flex: none;
    }

    &.personal {
        .left_content {
            margin-left: 0;
            width: 100%;
        }
    }
}

@media (max-width: 1280px) {
    .workbench {
        display: flex;
        width: 100%;
        background: #f0f2f5;

        .left_content {
            width: 100%;
        }

        .right_content {
            flex: none;
            width: 352px;
        }

        &.personal {
            .left_content {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
