.page {
    margin: 100px auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 41px 48px;
    width: 438px;
    min-height: 462px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

    .alert {
        align-items: start;
        margin-bottom: 16px;
        border-radius: 6px;

        div[class='ant-alert-message'] {
            font-size: 16px;
            font-weight: 400;
            color: rgba(0, 0, 0, 65%);
            line-height: 24px;
        }

        span {
            margin-top: 5px;
        }
    }

    .other_way_divider {
        margin-top: 40px;
    }

    .other_way {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);

        .wei_xin,
        .ding_ding {
            align-items: center;
            margin-left: 16px;
            cursor: pointer;

            .svg_icon {
                position: relative;
                margin-right: 8px;
                width: 24px;
                height: 24px;

                &:hover {
                    top: -4px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }

    .login_option {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;

        > div {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:first-child) {
                margin-left: 75px;
            }

            > span {
                color: rgba(0, 0, 0, 45%);
            }

            .login_icon {
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }
        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        width: 100%;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);

        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: bold;
            color: rgba(0, 0, 0, 85%);
            cursor: pointer;

            &:not([class='no_hover']):hover {
                color: var(--primary-color);
                transition: all ease-in-out 0.3s;
                // &::after {
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 3px;
                //     background: var(--primary-color);
                //     content: '';
                // }
            }
        }

        .active {
            color: var(--primary-color);
            transition: all ease-in-out 0.3s;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: var(--primary-color);
                content: '';
            }
        }
    }

    .input {
        padding: 4px 11px !important;
        width: 342px !important;
        height: 48px !important;
        border-radius: 6px;
        background: #fff;
    }

    .code {
        width: 202px !important;
        height: 48px !important;
        font-size: 16px;
        border-radius: 6px;
        background: #fff;
    }

    .code_btn {
        margin-left: 8px;
        width: 132px !important;
        height: 48px !important;
        border: 1px solid rgba(0, 0, 0, 15%);
        border-radius: 6px;
        color: rgba(0, 0, 0, 65%);
        background: #fff;
    }

    .forget_option {
        overflow: hidden;
    }

    .login_item {
        margin: 40px 0 16px;
    }

    .login_btn {
        width: 100% !important;
        height: 48px !important;
        border-radius: 6px;

        &:hover {
            opacity: 0.8;
        }
    }

    .forget_btn {
        float: right;
        color: rgba(0, 0, 0, 45%);

        &:hover {
            color: var(--primary-color);
        }
    }

    .login_tool {
        width: 100%;
        text-align: center;
    }

    .register {
        display: block;
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
        line-height: 0.14rem;

        span {
            color: var(--primary-color);
        }
    }
}

.login_title {
    display: flex;
    align-items: center;

    .back_icon {
        margin-right: 8px;
        width: 14px;
        height: 14px;

        &:hover {
            fill: var(--primary-color);
        }
    }

    .back_text {
        color: rgba(0, 0, 0, 45%);
    }

    &:hover {
        color: var(--primary-color);
    }
}
