.content_basic {
    :global {
        /* stylelint-disable-next-line selector-class-pattern */
        .transaction-alert-warning {
            margin-bottom: 24px;
            font-size: 14px;
        }
    }
    .footer {
        padding-top: 10px;
        border-top: 1px rgba(0, 0, 0, 0.06) solid;
        button {
            border-radius: 6px;
        }
    }
}
