.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        // align-items: flex-start;
        align-items: center;

        .sign {
            width: 4px;
            height: 18px;
            margin-right: 8px;
            background: var(--primary-color);
            border-radius: 2px;
        }

        .title {
            // max-width: 1000px;
            font-weight: 500;
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            color: rgba(0, 0, 0, 0.85);
        }

        .desc {
            margin-left: 8px;
        }
    }

    .small_left {
        display: flex;
        align-items: flex-start;

        .sign {
            min-width: 4px;
            height: 16px;
            margin-top: 3px;
            margin-right: 8px;
            background: var(--primary-color);
            border-radius: 2px;
        }

        .title {
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            color: rgba(0, 0, 0, 0.85);
            max-width: 435px;
            font-weight: 500;
            line-height: 22px;
        }
    }

    .right {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 45%);
        font-weight: 400;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        cursor: pointer;

        & > svg {
            width: 8px;
            height: 8px;
            margin-left: 3px;
            fill: rgba(0, 0, 0, 45%);
        }
    }
}
