.circle_progress {
    position: relative;
    display: inline-block;

    .circle_svg {
        transform: rotate(0deg);
    }

    .progress_circle {
        transition: stroke-dashoffset 0.3s ease;
    }

    .progress_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        span {
            font-size: 10px;
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 14px;
        }
    }

    .center_render {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
    }
}
