/* stylelint-disable */
.image_tabs_wrapper {
    display: flex;
    padding-bottom: 16px;
    gap: 16px;
    flex-wrap: wrap;

    .img {
        overflow: hidden;
        border: 1px solid rgba(153, 153, 153, 11.4%);
        border-radius: 8px;
        object-fit: cover;
    }

    :global {
        .wt-component-empty {
            margin: auto;
        }
        .wt-component-empty-text {
            margin-top: -24px;
            margin-bottom: 16px;
        }
    }
}
