.btn {
    align-items: center;
    margin-left: 16px;
    cursor: pointer;

    .svg_icon {
        position: relative;
        margin-right: 8px;
        width: 24px;
        height: 24px;

        &:hover {
            top: -4px;
            transition: all 0.2s ease-in-out;
        }
    }
    // div[id='qqLoginBtn'] {
    //     display: none;
    // }
}
