.page {
    margin: 0 auto;
    width: 1152px;
    font-family: PingFangSC-Semibold, 'PingFang SC';
    color: #171a1d;
    background-color: #fff;

    .name {
        margin-bottom: 24px;
        height: 33px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .header {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .text {
        margin-bottom: 32px;
        font-size: 16px;
        font-family: 'regular PingFangSC-Semibold', 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 28px;
    }

    .content {
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 28px;
    }

    .import {
        color: #ff5219;
    }
}
