.empty_image_warp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    flex-direction: column;

    .empty_image {
        width: 240px;
        height: 160px;
    }

    .empty_image_warp_desc {
        height: 24px;
        font-size: 16px;
        color: rgba(0, 0, 0, 45%);
        line-height: 24px;
    }
}
