/* stylelint-disable */
.bind_modal_wrapper{
    :global{
        .fe-user-pc-modal-content{
            background-color: transparent;
        }
    }
}
.page {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;
        padding: 0.15rem;
        background: #fff;
        border-radius: 0.08rem;
        box-shadow: 0 0 8px 0 rgba(0, 21, 41, 3%);
        overflow-y: auto;

        .group {
            width: 100%;
            margin-bottom: 24px;

            .group_title {
                font-family: PingFangSC, PingFang SC;
                font-weight: 500;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.85);
                line-height: 24px;
                text-align: left;
                font-style: normal;
                position: relative;
                margin-top: 24px;
                display: inline-block;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    content: '';
                    height: 6px;
                    background: var(--primary-color-02);
                }
            }

            .group_item {
                width: 100%;
                margin-top: 0.15rem;

                .item {
                    border-radius: 8px;
                    padding: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var(--primary-color-005);
                    margin-bottom: 16px;

                    .left {
                        display: flex;
                        align-items: center;

                        .icon {
                            width: 51px;
                            margin-right: 0.13rem;
                        }

                        .info {
                            .name {
                                display: flex;
                                align-items: center;
                                font-family: PingFangSC, PingFang SC;
                                font-weight: 500;
                                font-size: 20px;
                                color: rgba(0, 0, 0, 0.85);
                                line-height: 28px;
                                text-align: left;
                                font-style: normal;

                                &>svg {
                                    width: 20px;
                                    height: 20px;
                                    margin-left: 9px;
                                    fill: #faad14;

                                    &.success {
                                        fill: #52c41a;
                                    }
                                }
                            }

                            .des {
                                font-family: PingFangSC, PingFang SC;
                                font-weight: 400;
                                font-size: 16px;
                                color: rgba(0, 0, 0, 0.45);
                                line-height: 24px;
                                text-align: left;
                                font-style: normal;
                                margin-top: 6px;
                            }
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;
                    }

                    .remark {
                        font-size: var(--size-1);
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.45);
                        line-height: 0.16rem;
                        margin-right: 0.24rem;
                        max-width: 5rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        overflow: hidden;
                        display: flex;
                        align-items: center;

                        &_icon {
                            margin-left: 4px;
                        }
                    }

                    .unbind {
                        display: flex;
                        flex: none;
                        align-items: center;
                        justify-content: center;
                        font-family: PingFangSC, PingFang SC;
                        font-weight: 400;
                        font-size: 16px;
                        color: #fff;
                        line-height: 24px;
                        text-align: right;
                        font-style: normal;
                        border-radius: 6px;
                        background: var(--primary-color);
                    }

                    .binded {
                        color: rgba(0, 0, 0, 0.6);
                        font-family: PingFangSC, PingFang SC;
                        font-weight: 400;
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.65);
                        line-height: 24px;
                        text-align: right;
                        font-style: normal;
                        border-radius: 6px;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    .approve_icon {
        color: #faad14;
        margin-right: 5px;
    }
}