/*stylelint-disable*/

.page_record_detail {
    background-color: #f0f2f5;
    font-size: 16px;
    padding-bottom: 24px;

    .content_wrapper {
        display: flex;
        align-items: start;
        min-width: 1200px;
        width: 1200px;
        margin: auto;
        margin-top: 24px;
    }
}

.err_wrapper{
    height: 90vh;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}