.profession_tag_modal {
    :global {
        .ant-btn {
            display: inline-flex;
            align-items: center;
            height: 32px;
        }
    }
}

.custom_add_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: var(--primary-color-012);
    }
    button[class~='ant-btn-text']:hover {
        background: none;
    }
}

.choosed_tag {
    min-height: 30px;

    :global {
        .ant-tag {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 24px;
            padding: 0 8px;
            font-size: 16px !important;
            background: rgba(0, 0, 0, 4%);
            border: none;
            border-radius: 4px;
        }
    }
}

.tag_container {
    :global {
        .ant-tag {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 24px;
            padding: 0 8px;
            font-size: 16px !important;
            background: rgba(0, 0, 0, 4%);
            border: none;
            border-radius: 4px;
        }
    }
}

.tag_title {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 85%);
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: 24px;
}

.recommend_tag {
    min-height: 50px;

    .tag_active {
        color: var(--primary-color);
        background: var(--primary-color-012) !important;
    }

    :global {
        .ant-tag {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 24px;
            padding: 0 8px;
            font-size: 16px !important;
            background: rgba(0, 0, 0, 4%);
            border: none;
            border-radius: 4px;
        }
    }
}

.custom_tag {
    min-height: 50px;

    :global {
        .ant-tag {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 24px;
            padding: 0 8px;
            font-size: 16px !important;
            background: rgba(0, 0, 0, 4%);
            border: none;
            border-radius: 4px;
        }
    }

    .tag_active {
        color: var(--primary-color);
        background: var(--primary-color-012) !important;
    }
}

.profession_tag_container {
    :global {
        .ant-tag {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 24px;
            padding: 0 8px;
            font-size: 16px !important;
            background: rgba(0, 0, 0, 4%);
            border: none;
            border-radius: 4px;
        }
    }
}

.choose_content {
    max-height: 296px;
    overflow-y: scroll;
}
