/* stylelint-disable selector-class-pattern */
.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentcolor;
}

. {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

#root-master {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    min-width: 1200px;
    overflow: auto;
    background: #f7f8fc;
}

.ant-btn {
    line-height: 1;
}
