.icon_wrap_common() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    .content {
        box-sizing: border-box;
        padding: 0 24px;

        .layout_change_wrap {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .layout_change {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                height: 72px;
                flex-direction: column;
                cursor: pointer;

                span {
                    font-size: 16px;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    font-weight: 400;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 24px;
                }

                .icon_wrap_active {
                    .icon_wrap_common;

                    background: #edf5ff;

                    .icon {
                        width: 122px;
                        height: 20px;
                        fill: #1678ff;
                    }
                }

                .icon_wrap {
                    .icon_wrap_common;

                    background: #f5f5f5;

                    .icon {
                        width: 122px;
                        height: 20px;
                        fill: #8c8c8c;
                    }
                }
            }
        }
    }
}
