/* stylelint-disable selector-class-pattern */
.content {
    :global {
        .organization-table-cell {
            font-size: var(--size-1);
        }

        .organization-tooltip-inner {
            font-size: 1.6em;
        }
    }

    .code {
        word-wrap: break-word;
        word-break: break-all;
    }

    .table_name {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        .table_name_str {
            width: fit-content;
            max-width: 100%;
            overflow: hidden;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &_center {
            position: absolute;
            right: 0;
        }
    }

    .auth_operation {
        display: flex;

        div {
            margin-right: 0.1rem;
            color: var(--primary-color);
            font-weight: 400;
            font-size: var(--size-1);
            line-height: 0.15rem;
            cursor: pointer;
        }
    }

    .table_name_space {
        position: relative;
        display: inline-flex;
    }

    .logo_box {
        flex: none;
        width: 1.6em;
        height: 1.6em;
        margin-left: 0.03rem;
        background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/user_tag_n@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .phone {
        display: flex;
        align-items: center;
        & > svg {
            flex: none;
        }
    }

    .owner {
        z-index: 1;
        display: flex;
        align-items: center;
        height: 0.19rem;
        margin-left: 0.08rem;
        padding-left: 0.06rem;
        color: #fff;
        font-size: 0.1rem;
        background: linear-gradient(146deg, #ffd579 0%, #ff9930 100%) #faad14;
        border-radius: 0.04rem;
        cursor: pointer;

        img {
            width: 0.07rem;
            margin-right: 0.04rem;
        }
    }
}

@media screen and (max-width: 1600px) {
    .table_name {
        min-width: 100px !important;
    }

    .auth_operation {
        min-width: 95px !important;
    }
}
