.invite_apply_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .wrap {
        padding: 56px;
        width: 640px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);
        box-sizing: border-box;

        .apply_person {
            margin-top: 36px;
            margin-bottom: 36px;
        }

        .apply_reason {
            display: flex;

            .label {
                width: 90px;
            }
        }

        .title {
            margin-bottom: 32px;
            height: 28px;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: 500;
            text-align: center;
            color: rgba(0, 0, 0, 85%);
            line-height: 28px;
        }

        .submit_apply {
            margin-top: 32px;
            text-align: center;
        }
    }
}
