/* stylelint-disable */
.grade_content_middle {
    display: block;

    // :global(.fe-engineer-pc-form-item-has-error) .ques_container {
    //     border: 1px solid red;
    // }

    .ques_container {
        background: #ffffff;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;

        :global {
            .fe-engineer-pc-form-item {
                margin-bottom: 0;
            }
        }
    }

    .footer_wrapper {
        display: flex;
        justify-content: center;
    }
}
