/* stylelint-disable selector-class-pattern */
.opera {
    a:not(:last-child) {
        margin-right: 16px;
    }

    .opera_edit_list {
        margin: 0 auto;
        width: 200px;
        text-align: left;
    }
}

.svg_icon {
    margin-right: 8px;
    width: 18px;
    height: 16px;
    fill: var(--primary-color) !important;
}

.operaName {
    display: flex;
    justify-content: center;
    align-items: center;
}
