/* stylelint-disable*/
.police {
    overflow: hidden;
    min-height: 100vh;
    background: #f7f8fc;

    .content {
        margin: 24px;
        padding: 56px 24px 40px;
        font-family: PingFangSC-Semibold, 'PingFang SC';
        border-radius: 12px;
        color: #171a1d;
        background-color: #fff;
    }

    h1 {
        height: 33px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .header {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .title {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .text {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 28px;
    }

    .content {
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 28px;
    }

    .import {
        color: #ff5219;
    }
}

@media screen and (max-width: 1600px) {
    .page {
        height: calc(100vh - 0.5rem - 48px);
    }
}
