.page {
    display: block;
    overflow: hidden;
    width: 225px;
    font-family: Menlo;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, 30%), 0 4px 8px rgba(0, 0, 0, 30%);
    box-sizing: initial;

    .picker {
        box-shadow: none !important;
    }

    .button {
        display: flex;
        justify-content: center;
        padding: 15px 40px;
        width: 100%;

        & > button {
            margin: auto;
        }
    }
}
