@keyframes back {
    from {
        background-color: #e9edf3;
    }

    to {
        background-color: #fff;
    }
}

@keyframes bordertop {
    0% {
        width: 110%;
    }

    50% {
        width: 105%;
    }

    100% {
        width: 100%;
    }
}

@keyframes borderbottom {
    0% {
        width: 110%;
    }

    50% {
        width: 105%;
    }

    100% {
        width: 100%;
    }
}

.get_animation(@name) {
    animation-name: @name;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.warp_menu {
    padding-top: 10px;
    padding-left: 8px;
    width: 102px;
    height: 100%;
    background: #e9edf3;
    box-shadow: 2px 0 12px 0 rgba(0, 21, 41, 3%);

    .menu_item {
        background-color: #e9edf3;
        cursor: pointer;
        user-select: none;

        .menu_top,
        .menu_bottom {
            background-color: #fff;

            .menu_bottom_inner {
                width: 110%;
                border-radius: 0 10px 0 0;
                background-color: #e9edf3;
            }

            .menu_top_inner {
                width: 110%;
                border-radius: 0 0 10px;
                background-color: #e9edf3;
            }
        }

        .menu_hide {
            background-color: #e9edf3;
        }

        .menu_top_inner {
            height: 10px;
            // border-radius: 0 0 10px 0;
        }

        .menu_bottom_inner {
            height: 10px;
            // border-radius: 0 10px 0 0;
        }

        .menu_top_anime {
            animation-name: bordertop;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
        }

        .menu_bottom_anime {
            animation-name: borderbottom;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
        }

        .menu_inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            border-radius: 5px 0 0 5px;
            background-color: #e9edf3;

            .menu_icon {
                margin-right: 8px;
                width: 18px;
                height: 18px;
            }

            .menu_text {
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
            }

            .menu_icon_active {
                fill: var(--primary-color);
            }

            .menu_text_active {
                color: var(--primary-color);
            }
        }

        .menu_inner_show {
            .get_animation(back);
        }
    }
}
