.event_details_page {
    // background-color: #fff;
    // border-radius: 8px;
    // padding: 24px 0px 24px 24px;

    .header {
        position: sticky;
        top: -24px;
        z-index: 990;
        background-color: #fff;
        border-radius: 8px;
        padding: 26px 24px 0 24px;
        margin-bottom: 16px;

        :global {
            .fe-enroll-permission-pc-tabs-nav {
                margin-bottom: 0;
            }

            .fe-enroll-permission-pc-tabs-top>.fe-enroll-permission-pc-tabs-nav::before {
                border: 0;
            }
        }
    }

    :global {
        div[class~='enroll-tooltip'] {
            max-width: max-content;
        }
    }

    .tabs {
        :global {
            .enroll-tabs-nav {
                height: 46px;
                margin-top: 8px;
                margin-bottom: 0px;
            }
        }
    }

    .category_name_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .category_name {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        padding: 0px 12px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .event_details_content {
        height: calc(100vh - 285px);
        // margin-bottom: 55px;
        overflow-x: hidden;

        background-color: #fff;
        border-radius: 8px;
        padding: 24px;

        .enroll_detail_col {
            display: flex;
            min-height: 24px;
            margin-bottom: 24px;
            font-weight: 400;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            line-height: 24px;

            p {
                margin: 0;
            }

            .label {
                color: rgba(0, 0, 0, 85%);
                white-space: nowrap;
            }

            .value {
                box-sizing: border-box;
                // padding-right: 8px;
                // overflow: hidden;
                color: rgba(0, 0, 0, 65%);
                word-wrap: break-word;
                word-break: break-all;
                white-space: pre-wrap;

                .category_name {
                    background: rgba(0, 0, 0, 0.06);
                    border-radius: 6px;
                }
            }

            .attachment_content {
                .attachment_file_item {
                    .file {
                        display: inline-block;
                        margin-right: 16px;
                        font-size: 16px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                .attachment_file_item+.attachment_file_item {
                    margin-top: 12px;
                }
            }
        }

        .enroll_form {
            .enroll_form_row {
                column-gap: 24px;
                row-gap: 24px;

                .enroll_form_col {
                    display: flex;
                    height: 40px;
                    background: rgba(0, 0, 0, 0.04);
                    border-radius: 6px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 16px;

                    .enroll_form_col_label {
                        font-size: 16px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.85);
                    }

                    .enroll_form_col_value {
                        height: 24px;

                        .require {
                            width: 66px;
                            fill: #ff4d4f;
                            height: 100%;
                        }

                        .un_require {
                            width: 80px;
                            height: 100%;
                            fill: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }

    .event_details_wrapper {
        height: calc(100vh - 285px);
        // margin-bottom: 55px;
        overflow-x: hidden;
    }

    .footer {
        width: calc(-114px + 100vw);
        left: 114px;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 56px;
        background-color: #fff;
        padding-right: 24px;
        box-shadow: 0px -3px 12px 0px rgba(0, 0, 0, 0.06);
        filter: blur(0px);
    }
}

.rich_text_wrapper {

    :global {

        p,
        li {
            white-space: pre-wrap;
            /* 保留空格 */
        }

        blockquote {
            border-left: 8px solid #d0e5f2;
            padding: 10px 10px;
            margin: 10px 0;
            background-color: #f1f1f1;
        }

        code {
            font-family: monospace;
            background-color: #eee;
            padding: 3px;
            border-radius: 3px;
        }

        pre>code {
            display: block;
            padding: 10px;
        }

        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid #ccc;
            min-width: 50px;
            height: 20px;
        }

        th {
            background-color: #f1f1f1;
        }

        ul,
        ol {
            padding-left: 20px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }
    }

}