/* stylelint-disable */

.component_title_advance {
    &:not(:last-child) {
        margin-bottom: 48px;
    }

    .title {
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 6px;
            background-color: var(--primary-color);
            opacity: 0.2;
        }
    }
}

.component_user_select {
    width: 716px;
    max-width: 140%;
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.06);
    margin-top: 24px;
    padding: 24px;

    :global {
        .super_form_item {
            margin-bottom: 24px !important;
        }
    }

    .footer_bar {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        :global {
            .merchant-center-space-align-center {
                align-items: center !important;
            }
        }
    }
}

.component_publish_content {
    width: 600px;
    margin: auto;

    :global {
        .merchant-center-space {
            width: 100%;
            justify-content: end;
        }
    }

    .text {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0,0,0,0.85);
        line-height: 22px;
    }
}

.component_select_question {
    .select_wrapper {
        border-radius: 8px;
        padding: 16px;
        margin-top: 8px;
        background: #FAFAFA;

        .question_count {
            margin-top: 12px;

            .total_count {
                margin-bottom: 8px;
            }
    
            .label {
                font-size: 16px;
                color: rgba(0,0,0,0.45);
                line-height: 24px;
            }
    
            .value {
                font-size: 16px;
                color: rgba(0,0,0,0.65);
                line-height: 24px;
            }
        }
    }
}

.select_by_work_modal {
    :global {
        .merchant-center-form-item {
            margin-bottom: 0;
        }
    }

    .title {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0,0,0,0.85);
        line-height: 24px;
        margin-bottom: 16px;
    }
}

.select_by_knowledge_modal {
    :global {
        .merchant-center-modal-body {
            padding: 16px 24px;
        }

        .merchant-center-spin-container {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 8px;
        }

        .merchant-center-tree-switcher {
            display: none;
        }

        .merchant-center-tree-treenode {
            padding: 4px 12px;

            a.merchant-center-typography {
                display: none;
                cursor: pointer;
                width: 64px;
            }

            &:first-child {
                border-radius: 6px 6px 0 0;
            }

            &:last-child {
                border-radius: 0 0 6px 6px;
            }

            &:hover {
                background-color: var(--primary-color-015);
                display: flex;
                a.merchant-center-typography {
                    display: block;
                }
            }
        }
    }
    
    .footer_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        :global {
            .anticon {
                cursor: pointer;
            }
        }
    }
}