.page {
    height: 100%;
    overflow-y: auto;

    .form_box {
        display: flex;
        justify-content: center;

        .form {
            width: 100%;
            max-width: 600px;
        }
    }
}