/*stylelint-disable*/

.page_submit_grading {
    height: calc(100% - 50px);
    background-color: #f0f2f5;
    .content_wrapper {
        padding: 24px 24px 8px;
        background-color: #fff;

        :global {
            .aexam-centernt-table-wrapper {
                margin-top: 32px;
            }
        }
    }
}