



.stu_detail {
    background-color: #f0f2f5;


    :global{
        .super_table_title_left{
            width: 100%;
        }
    }

    .page_stu_list {
        width: 100%;
        margin-top: 24px;
        padding: 24px 24px 24px;
        background-color: #fff;
        border-radius: 8px;
        .project_type {
            display: inline-block;
            height: 24px;
            line-height: 22px;
            padding: 0 8px;
            border: 1px solid;
            border-radius: 4px;
        }
        .buttonContainer {
            font-weight: 400;
            color: var(--primary-color);
            line-height: 24px;
            span {
                cursor: pointer;
                margin-right: 16px;
            }
        }
        .buttonBar {
            display: flex;
            align-items: center;
            .batchBtn {
                width: 112px;
                height: 32px;
                background: var(--primary-color);
                border-radius: 6px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                line-height: 24px;
                justify-content: center;
                margin-right: 16px;
                span {
                    margin-right: 5px;
                }
        
            }
            .btn {
                margin-right: 16px;
                font-size: 13px;
            }
        }

        .stuStateText {
            display: flex;
            align-items: center;
            
            .circle {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 8px;
            }
        }

        
    
        :global {
            .super_form_item {
                // width: 377px !important;
                margin-bottom: 24px !important;
    
                .exam-center-select {
                    width: 100%;
                }
                
                .exam-center-picker {
                    width: 100%;
                    border-radius: 6px;
                    height: 32px;
                }

            }
            // .super_space {
            //     margin: 0!important;
            // } 
            // .super_table_title {
            //     padding-bottom: 16px;
            // }
            
          
            // .exam-center-select {
            //     width: 100%;
            // }
            
            // .super_form_item {
            //     width: 400px !important;
            //     margin-bottom: 24px !important;
            // }
        }
    
        .footer_wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: 16px;
    
            :global {
                .exam-center-space-align-center {
                    align-items: center !important;
                }
                
            }
        }
    }
}

.modalForm {
    display: flex;
    .formTitle {
        width: fit-content;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        .required {
            color: #FF4D4F;
        }

    }
    .formInput {
        flex:1;
        height: 120px!important;
        background: #FFFFFF;
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,0.15);
    }

}
.modalFormDelay {
    align-items: center;
    justify-content: center;
    .unit {
        margin-left: 5px;
    }
}

.reload_btn{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;

    &:hover{
        color: #1890FF;
    }
}

.left_bar{
    width: 100%;
    display: flex;
    flex: 1;
}