.todo_list {
    padding: 16px;
    border: 1px solid #f7f1f0;
    border-radius: 8px;
    background: linear-gradient(180deg, #fff5f2 0%, #fff 23%, #fff 100%);

    .todo_list_title {
        font-size: 16px;
        font-weight: 500;
        color: #ff4d4f;
        line-height: 24px;
    }

    .todo_list_content {
        display: grid;
        margin-top: 12px;
        gap: 8px;

        .todo_list_content_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;

            &:hover > span:first-child {
                color: var(--primary-color) !important;
            }

            > span:first-child {
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 85%);
                line-height: 22px;
            }

            > span:last-child {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                color: var(--primary-color);
                line-height: 22px;

                svg {
                    width: 16px;
                    font-size: 10px;
                    fill: var(--primary-color);
                }
            }
        }
    }
}
