.popover_container {
    position: relative;

    .popover_trigger {
        cursor: pointer;
    }

    .popover_content {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        padding: 8px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 20%);
    }
}
