.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 562px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);
    flex-direction: column;

    &.h_498 {
        height: 498px;
    }

    .sign {
        width: 240px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://static.zpimg.cn/public/fe_user_pc/images/lock_person.png');
    }

    .sign_title {
        margin-top: 16px;
        font-size: 20px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: 500;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .info_des {
        width: 336px;
        font-size: 16px;
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 65%);
        line-height: 28px;
    }

    .mt_12 {
        margin-top: 12px;
    }

    .mt_24 {
        margin-top: 24px;
    }

    .mt_36 {
        margin-top: 36px;
    }

    .mt_40 {
        margin-top: 40px;
    }

    .text_center {
        text-align: center;
    }

    .login_btn {
        width: 342px !important;
        height: 48px !important;
        border-radius: 6px !important;

        &:hover {
            opacity: 0.8;
        }
    }

    .gray_btn {
        width: 342px !important;
        height: 48px !important;
        border-radius: 6px !important;
        color: var(--primary-color);

        &:hover {
            opacity: 0.8;
        }
    }
}
