.enroll_management {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f0f2f5;

    .main {
        position: absolute;
        top: 88px;
        right: 0;
        left: 0;
        width: 1200px;
        max-width: 1200px;
        height: 86vh;
        margin: auto;
        padding: 24px;
        overflow: auto;
        background-color: #fff;
        border-radius: 12px;

        .userinfo {
            display: flex;
            align-items: center;

            .image {
                width: 40px;
                height: 40px;
                margin-right: 8px;
                border-radius: 50%;
            }

            .user_name {
                margin-right: 5px;
            }
        }

        .user_mobile {
            cursor: pointer;
        }
        div[class*='ant-image-mask'] {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 12px !important;
        }
        span[class*='anticon anticon-eye'] {
            display: block;
            margin-left: 5px;
            margin-top: 4px;
        }
    }
}

.table {
    margin-top: 8px;
}
.event_management_more {
    display: flex;
}
.event_management_more_btn {
    width: 96px;
    padding: 0;
}

.event_management_more_btn_inline {
    display: flex;
    align-items: center;
}
.event_management_more_btn_sign {
    width: 12px;
    height: 12px;
    margin-left: 3px;
}
.event_management_more_item {
    width: 96px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.06);
    }
}

.enroll_management_main {
    ul[class~='enroll-dropdown-menu'] {
        padding: 0;
        overflow: hidden;
    }
    li[class~='enroll-dropdown-menu-item'] {
        padding: 0;
    }
}
