.bottom_fixed {
    position: fixed;
    right: -24px;
    bottom: -24px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% + 48px);
    height: 56px;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 3%);
    filter: blur(0);
}
