/*stylelint-disable*/

.page_mark_record {
    height: calc(100vh - 112px);
    overflow-y: auto;
    background-color: #f0f2f5;
    
    .content_wrapper {
        margin-top: 24px;
        padding: 24px 24px 8px;
        border-radius: 8px;
        background-color: #fff;
    }
}