/* stylelint-disable selector-class-pattern */
.container {
    display: flex;
    overflow-x: auto;
    height: 100%;
    background-color: #f7f8fc;
    flex: 1;

    .layout_content {
        flex: 1;
        box-sizing: border-box;
        padding: 24px;
    }
}
