.assistant_btn {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 24px;
    cursor: pointer;
    background-image: url('https://static.zpimg.cn/public/fe-engineer-pc/images/bg_aizhushou%402x_2292c872.png');

    > img {
        margin-right: 4px;
        width: 24px;
        height: 24px;
    }
}
