/* stylelint-disable*/
.common_style() {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.operate_btn {
    color: var(--primary-color);
    cursor: pointer;
}

.cooperation_modal {
    .apply_person {
        margin-bottom: 8px;
        height: 24px;
        font-size: 16px;
        font-family: PingFangSC-Medium, 'PingFang SC';
        font-weight: 500;
        color: var(--primary-color);
        line-height: 24px;
    }

    .invite_url {
        margin-top: 24px;
        margin-bottom: 12px;

        span:nth-child(2) {
            height: 24px;
            font-size: 16px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
            color: rgba(0, 0, 0, 45%);
            line-height: 24px;
        }
    }

    .copy {
        display: flex;
        // align-items: center;

        .url {
            margin-right: 10px;
            padding: 4px 12px;
            max-width: 400px;
            border-radius: 6px;
            text-decoration: underline;
            color: var(--primary-color);
            background: #f5f5f5;
            flex: 1;
            line-height: 24px;
            word-wrap: break-word;

            span {
                font-size: 16px;
                font-family: PingFangSC-Regular, 'PingFang SC';
                font-weight: 400;
                color: #1678ff;
                line-height: 24px;
                word-wrap: break-word;
            }
        }
    }
}

.cooperation_container {
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-sizing: border-box;

    .title {
        display: flex;
        align-items: center;

        div {
            margin-right: 8px;
            width: 4px;
            height: 18px;
            border-radius: 2px;
            background: var(--primary-color);
        }

        span {
            height: 28px;
            font-size: 20px;
            font-family: PingFangSC-Medium, 'PingFang SC';
            font-weight: 500;
            color: rgba(0, 0, 0, 85%);
            line-height: 28px;
        }
    }

    .search {
        margin-top: 32px;
        margin-bottom: 32px;

        :global {
            .fe-job-pc-input {
                line-height: 22px;
            }
        }
    }

    .content {
        position: relative;
        padding-bottom: 30px;

        .base {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // position: absolute;
            // bottom: 0;
            // left: 0;
            margin-top: 20px;
            width: 100%;
            background-color: #fff;
        }
    }
}

.status {
    display: flex;
    align-items: center;

    .ready {
        .common_style();

        background: #faad14;
    }

    .public {
        .common_style();

        background: #1678ff;
    }

    .close {
        .common_style();

        background: #d9d9d9;
    }
}
