/* stylelint-disable selector-class-pattern */
.page {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.15rem;
    background-color: #fff;
    border-radius: 0.08rem;
    .step {
        width: 700px;
        margin: 32px auto 62px;
    }

    .input {
        display: block;
        width: 3rem;
        background: #fff;
        border-radius: 0.04rem;

        &_count {
            position: relative;
            top: -0.15rem;
            left: 6.25rem;
            width: 0.3rem;
        }

        &_btn {
            display: inline-flex;
            flex: none;
            align-items: center;
            justify-content: center;
            margin-right: 0.1rem;
            font-weight: 400;
            font-size: var(--size-1);
            border-radius: 0.04rem;
        }
    }
    .textarea {
        width: 3rem;
        & > textarea {
            padding-bottom: 20px;
        }
    }
    :global {
        .organization-input-textarea {
            position: relative;
            &::after {
                position: absolute;
                bottom: 20px;
                right: 8px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .input_count {
        top: -0.2rem !important;
        left: 6.05rem !important;
    }
}
