.content {
    margin: 100px auto;
    padding: 44px 48px;
    width: 438px;
    height: 562px;
    font-family: PingFangSC-Medium, 'PingFang SC';
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 8%);

    iframe {
        width: 246px !important;
        height: 246px !important;
    }

    .back_btn {
        padding: 0 !important;
        font-size: var(--size-1);
        font-family: PingFangSC-Regular, 'PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 45%);
    }

    .title {
        margin: 32px auto 22px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    // .self-defined-classname {
    //     width: 283px;
    //     height: 283px;
    // }

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 283px;
        height: 283px;

        .icon {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            font-size: 282px;
            fill: var(--primary-color);
        }

        .login_container {
            width: 246px;
            height: 246px;
        }
    }

    .extra {
        margin: 21px 0 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
        line-height: 22px;
    }
}

.content_dd {
    iframe {
        margin-top: -15px;
    }
}

.contents {
    font-family: PingFangSC-Medium, 'PingFang SC';
    border-radius: 8px;
    background: #fff;

    iframe {
        width: 246px !important;
        height: 246px !important;
    }

    .title {
        margin: 32px auto 22px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 85%);
        line-height: 28px;
    }

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 283px;
        height: 283px;

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 282px;
            pointer-events: none;
            fill: var(--primary-color);
        }

        .login_container {
            width: 246px;
            height: 246px;
        }
    }

    .extra {
        margin: 21px 0 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 45%);
        line-height: 22px;
    }
}
