.page {
    z-index: 99;
    flex-shrink: 0;
    width: 1.3rem;
    min-height: calc(100vh - 0.4rem);
    padding-top: 0.05rem;
    background: #fff;
    box-shadow: 2px 0 12px 0 rgba(0, 21, 41, 3%);
    .user_info {
        display: none;
        padding: 24px;
        padding-bottom: 0;
    }

    .line {
        width: 1.1rem;
        height: 1px;
        margin: 0.05rem auto;
        background: rgba(0, 0, 0, 6%);
    }

    .menu_item_group {
        margin: 0.1rem auto 0.15rem;
    }

    .menu_item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.3rem;
        margin: 0.025rem 0.1rem;
        background: #fff;
        border-radius: 0.05rem;
        cursor: pointer;

        .icon {
            width: 0.13rem;
            height: 0.13rem;
            margin-right: 0.05rem;
            fill: #a0a1a9;
        }

        .name {
            color: rgba(0, 0, 0, 85%);
            font-weight: 400;
            font-size: var(--size-1);
            font-family: PingFangSC-Regular, 'PingFang SC';
        }

        &.active {
            background: var(--primary-color-006);

            .icon {
                fill: var(--primary-color);
            }

            .name {
                color: var(--primary-color);
            }
        }

        &:hover {
            background: var(--primary-color-006);

            .icon {
                fill: var(--primary-color);
            }

            .name {
                color: var(--primary-color);
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .page {
        flex-shrink: 0;
        width: 208px;
        .user_info {
            display: block;
        }

        .line {
            width: 160px;
            height: 1px;
            margin: 8px auto;
        }

        .menu_item_group {
            margin: 0.24rem auto;
        }

        .menu_item {
            width: 160px;
            height: 48px;
            margin: 8px auto;

            .icon {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
        flex-shrink: 0;
        width: 208px;
        min-height: calc(100vh - 0.55rem);
    }
}
