/* stylelint-disable selector-class-pattern */
html,
body {
    width: 100%;
    min-width: 1200px;
}

.icon {
    overflow: hidden;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentcolor;
}

.right_content {
    position: relative;

    /* padding: 16px; */

    /* background-color: #fff; */
    border-radius: 8px;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

#root-master {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    overflow: auto;
    min-width: 1200px;
    background: #f0f2f5;
}

.fe-middle-pc-btn {
    line-height: 1;
}

@font-face {
    font-family: logo-title;
    font-weight: normal;
    font-style: normal;
    src: url('https://static.zpimg.cn/public/middle_pc/logo-title.woff2') format('truetype');
}
