.judge {
    margin-bottom: 16px;

    div[class*='radio-group'] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 72px;
        margin-top: 8px;
    }
}
