.cooperation_container {
    box-sizing: border-box;
    padding: 24px;
    background: #fff;
    border-radius: 12px;

    .title {
        display: flex;
        align-items: center;

        div {
            width: 4px;
            height: 18px;
            margin-right: 8px;
            background: var(--primary-color);
            border-radius: 2px;
        }

        span {
            height: 28px;
            color: rgba(0, 0, 0, 85%);
            font-weight: 500;
            font-size: 20px;
            font-family: PingFangSC-Medium, PingFang SC;
            line-height: 28px;
        }
    }

    .search {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .content {
        position: relative;
        padding-bottom: 30px;

        .base {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            // position: absolute;
            // bottom: 0;
            // left: 0;
            margin-top: 20px;
            background-color: #fff;
        }
    }
}

.terminate_cooperation {
    color: var(--primary-color);
    cursor: pointer;
}
