/* stylelint-disable */
.page {
    width: 100%;

    .content {
        width: 100%;
        padding: 0.15rem;
        background: #fff;
        border-radius: 0.08rem;
        box-shadow: 0 0 8px 0 rgba(0, 21, 41, 3%);

        .infoValue {
            color: rgba(0, 0, 0, 0.65);
        }

        .form {
            margin-top: 32px;

            .message {
                &_info {
                    line-height: 32px;
                    color: rgba(0, 0, 0, 0.65);
                }

                &_extra {
                    display: inline-block;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--primary-color);
                    margin: 8px 0 0;
                }
            }

            label {
                color: #333;
            }

            .front_avatar {
                margin-bottom: 16px;
            }

            .avatar_upload {
                position: relative;
                width: 128px;
                height: 128px;
                overflow: hidden;
                background: rgba(0, 0, 0, 4%);
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 0.04rem;
                margin-right: 30px;

                div[class='fe-user-pc-upload fe-user-pc-upload-select fe-user-pc-upload-select-picture-card'] {
                    width: 128px;
                    height: 128px;
                    margin: 0;
                    border: none;
                }

                div[class='fe-user-pc-upload-list-item fe-user-pc-upload-list-item-done fe-user-pc-upload-list-item-list-type-picture-card'] {
                    width: 128px;
                    height: 128px;
                }

                div[class='fe-user-pc-upload-list-item-actions'] {
                    display: flex;
                    justify-content: center;
                }

                button[class='fe-user-pc-btn fe-user-pc-btn-text fe-user-pc-btn-sm fe-user-pc-btn-icon-only fe-user-pc-upload-list-item-card-actions-btn'] {
                    padding: 0 0 0 10px !important;
                }

                .upload_btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: rgba(0, 0, 0, 65%);
                    font-weight: 400;
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    line-height: 0.2rem;
                }
            }

            .avatar_upload_passport {
                position: relative;
                width: 128px;
                height: 128px;
                margin-right: 8px;
                overflow: hidden;
                background: rgba(0, 0, 0, 4%);
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 0.04rem;

                div[class='fe-user-pc-upload fe-user-pc-upload-select fe-user-pc-upload-select-picture-card'] {
                    width: 128px;
                    height: 128px;
                    margin: 0;
                    border: none;
                }

                div[class='fe-user-pc-upload-list-item fe-user-pc-upload-list-item-done fe-user-pc-upload-list-item-list-type-picture-card'] {
                    width: 128px;
                    height: 128px;
                }

                button[class='fe-user-pc-btn fe-user-pc-btn-text fe-user-pc-btn-sm fe-user-pc-btn-icon-only fe-user-pc-upload-list-item-card-actions-btn'] {
                    padding: 0 0 0 10px !important;
                }

                .upload_btn_passport {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: rgba(0, 0, 0, 65%);
                    font-weight: 400;
                    font-size: var(--size-1);
                    font-family: PingFangSC-Regular, 'PingFang SC';
                    line-height: 0.2rem;
                }
            }

            .passport_exam {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 128px;
                height: 128px;
                margin-left: 8px;
                object-fit: contain;
                overflow: hidden;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 0.04rem;

                .img {
                    width: 118px;
                    height: 78px;
                    background: url('https://static.zpimg.cn/public/fe_user_pc/images/passport_example.jpg')
                        no-repeat center / contain;
                    // border: 0.01rem dashed #333;
                }
            }

            .font_exam {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 128px;
                height: 128px;
                overflow: hidden;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 0.04rem;

                .img {
                    width: 118px;
                    height: 78px;
                    background: url('https://static.zpimg.cn/public/fe_user_pc/images/png_idcard_1%402x.png')
                        no-repeat center / cover;
                    // border: 0.01rem dashed #333;
                }
            }

            .back_exam {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 128px;
                height: 128px;
                overflow: hidden;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 0.04rem;

                .img {
                    width: 118px;
                    height: 78px;
                    background: url('https://static.zpimg.cn/public/fe_user_pc/images/png_idcard_1%402x(1).png')
                        no-repeat center / cover;
                    // border: 0.01rem dashed #333;
                }
            }

            .des {
                color: rgba(0, 0, 0, 65%);
            }

            .show_img {
                width: 128px;
                height: 128px;
                padding: 0.1rem;
                object-fit: contain;
                border: 1px dashed #999;
                border-radius: 5px;
            }

            .form_btn {
                text-align: center;
                margin-top: 8px;

                & > button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    background: var(--primary-color);
                    border-radius: 0.04rem;
                }
            }
        }

        .more_question {
            margin-top: 12px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            color: var(--primary-color);
            text-align: center;
            display: block;
        }
    }

    .agreement {
        margin-bottom: 10px;

        div[class='fe-user-pc-form-item-control-input'] {
            min-height: 21px;
            text-align: center;
        }

        &_check {
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
        }
    }
}

.info {
    width: 1.8rem;
    margin: auto;
    margin-top: 0.15rem;
    color: rgba(0, 0, 0, 85%);
    font-weight: 400;
    font-size: var(--size-1);
    font-family: PingFangSC-Regular, 'PingFang SC';

    & > .des {
        color: rgba(0, 0, 0, 65%);
    }

    & > .img {
        width: 128px;
        height: 128px;
        // background: url('https://static.zpimg.cn/public/fe_user_pc/images/png_idcard_1%402x(1).png')
        //     no-repeat center / cover;
    }

    .msg {
        display: flex;
        align-items: center;
        width: 100%;
        color: rgba(0, 0, 0, 45%);
        font-weight: 400;
        font-size: var(--size-1);
        font-family: PingFangSC-Regular, 'PingFang SC';
        white-space: nowrap;

        & > svg {
            display: block;
            flex: none;
            width: 0.11rem;
            height: 0.11rem;
            margin-right: 0.03rem;
            fill: #faad14;
        }
    }
}

.error_modal {
    width: 480px;
    border-radius: 8px;

    .error_message {
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 24px;
        word-break: break-all;
    }

    .blue {
        color: var(--primary-color);
    }

    .red {
        color: #ff4d4f;
    }
}
