@import url('../../common.module.less');

.select_job_modal {
    .title {
        margin-bottom: 12px;
        font-size: 14px;
        color: rgba(0, 0, 0, 65%);
        line-height: 22px;
    }
}

.job_expect_container {
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #f7f7f7;
    box-sizing: border-box;
    cursor: pointer;

    &:hover,
    &.active {
        border: 1px solid;
        border-color: var(--primary-color);
        background-color: var(--primary-color-005);
    }

    .position_name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        span {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color);
            line-height: 26px;
        }
    }

    .position_address {
        .light_font();

        font-size: 14px;
    }

    .position_salary {
        font-size: 16px;
        font-weight: 500;
        color: var(--primary-color);
        line-height: 24px;
    }
}
