/* stylelint-disable*/
.card_list {
    padding: 24px 0;

    .empty {
        margin: auto;
    }

    .pagination_box {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;

        .pagination {
            :global {
                .fe-job-pc-pagination-item {
                    a {
                        font-size: 14px;
                        font-family: HelveticaNeue;
                        color: rgba(0, 0, 0, 65%);
                    }
                }

                .fe-job-pc-pagination-item-active {
                    background-color: var(--primary-color);

                    a {
                        color: #fff;
                    }
                }

                .fe-job-pc-select-selection-item {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 65%);
                }
            }
        }
    }
}
