/* stylelint-disable */
body {
    min-width: 1200px !important;
    background: #f7f8fc;
    /* 禁用默认的下拉刷新和边界效果,但是依然可以进行滑动导航 */
    overscroll-behavior-y: none;
}

.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentcolor;
}

.iconpark-icon {
    width: 1em;
    height: 1em;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
}

.ant-input {
    color: #333;
    font-weight: 400;
    background: #fff;
    border: 0.01rem solid rgba(0, 0, 0, 15%);
    border-radius: 0.04rem !important;
}

.ant-input::input-placeholder {
    color: rgba(0, 0, 0, 25%);
    font-weight: 400;
}

.ant-btn {
    border-radius: 0.04rem !important;
    cursor: pointer;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 0.04rem !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    width: 0;
}

.ant-image-preview-mask {
    z-index: 100000;
}

.ant-image-preview-wrap {
    z-index: 100001;
}

/* 为了解决img-crop样式混乱问题，其内部使用rem作为单位变量 但是我们的根节点fontsize为100px */
.ant-modal-body .img-crop-control:first-of-type {
    margin-top: 16px !important;
}

.ant-modal-body .img-crop-control:last-of-type {
    margin-bottom: 16px !important;
}

.ant-modal-body .w-8 {
    width: 32px !important;
}

.ant-modal-body .h-8 {
    height: 32px !important;
}

.ant-modal-body .mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
}
/* img[src='https://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png']
{
    display: none;
} */
