.team_leader {
    padding: 24px;
    height: 120px;

    .team_leader_title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .team_leader_title_left {
            display: flex;
            align-items: center;

            .team_leader_title_name {
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 24px;
            }

            .team_leader_apply {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
                font-size: 14px;
                font-weight: 400;
                border-radius: 100px 100px 100px 0;
                color: #ff4d4f;
                background: rgba(255, 77, 79, 12%);
                line-height: 20px;
                cursor: pointer;

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: -6px;
                    width: 0;
                    height: 0;
                    border-top: 3px solid transparent;
                    border-right: 3px solid rgba(255, 77, 79, 12%);
                    border-bottom: 3px solid rgba(255, 77, 79, 12%);
                    border-left: 3px solid transparent;
                    content: '';
                }
            }
        }

        .team_leader_dropdown {
            font-size: 14px;
            font-weight: 400;
            color: var(--primary-color);
            line-height: 22px;
        }

        .team_link {
            margin: 0;
            padding: 0;
            height: auto;
            font-size: 14px;
            font-weight: 400;
            color: var(--primary-color);
            line-height: 22px;

            &:disabled {
                color: #e8e8e8;
            }
        }

        .team_edit_mode {
            display: flex;
            align-items: center;
        }
    }

    .team_leader_content {
        display: flex;
        margin-top: 16px;
        column-gap: 16px;

        .team_leader_content_item {
            display: flex;
            align-items: center;
            flex: none;
            width: 144px;

            .item_avatar {
                width: 32px;
                height: 32px;
                flex: none;
            }

            .item_name_content {
                display: flex;
                align-items: center;
                margin-left: 8px;
                width: calc(100% - 40px);
                gap: 2px;

                & > .item_name {
                    overflow: hidden;
                    // flex: 1;
                    font-size: 16px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: rgba(0, 0, 0, 65%);
                    line-height: 24px;
                    word-break: break-all;
                }

                & > svg {
                    flex: none;
                }
            }
        }
    }
}

.team_leader_dropdown_overlay span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
