/* stylelint-disable */

.component_title_advance {
    &:not(:last-child) {
        margin-bottom: 48px;
    }

    .title {
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 6px;
            background-color: var(--primary-color);
            opacity: 0.2;
        }
    }

    :global {
        .cloud-row {
            align-items: flex-start;
        }
    }
}

:global {
    .exam_time .cloud-row {
        align-items: baseline;
    }
}
