/* stylelint-disable selector-class-pattern */

.editor_radio_item {
    display: flex;
    align-items: center;
    width: fill-available;
    margin-bottom: 8px;
    // height: 40px;
    label[class*='radio-wrapper'] {
        width: 65px;
    }

    .delete_icon {
        margin-left: 10px;
        color: #8c8c8c;
    }

    &:hover {
        .delete_icon {
            color: var(--primary-color);
        }
    }
}

.radio_self {
    margin: 8px;
}
