/* stylelint-disable*/
.company_card {
    margin-bottom: 24px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;

    .basic_info {
        padding: 24px 24px 0;
        background-size: 100% 100%;
        background-image: url('https://wtzp-static.oss-cn-hangzhou.aliyuncs.com/dev/fe_job_pc/img/%E8%93%9D%E8%89%B2%E4%BC%81%E4%B8%9A%E5%8D%A1%E7%89%87%E5%86%85%E5%88%87%E7%89%87%402x.png');

        .header {
            position: relative;
            z-index: 0;

            .title {
                position: relative;
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 85%);
                line-height: 26px;

                &::after {
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 8px;
                    background: #d6f5e4;
                    content: '';
                }
            }
        }

        .content {
            display: flex;
            column-gap: 12px;
            align-items: center;
            margin-top: 16px;

            .image {
                width: 58px;
                min-width: 58px;
                height: 58px;
                border-radius: 8px;
            }

            .organizationName {
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #333;
                line-height: 22px;
            }
        }

        .tags {
            padding-bottom: 16px;
            border-bottom: 1px solid #e8e8e8;

            .tag_item {
                display: flex;
                align-items: center;
                margin-top: 12px;

                svg {
                    margin-right: 12px;
                    width: 16px;
                    height: 16px;
                    fill: #d5d5d5;
                }

                .tag {
                    position: relative;
                    overflow: hidden;
                    font-size: 13px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #333;
                    line-height: 18px;
                }
            }
        }

        &.no_list {
            padding-bottom: 24px;
        }

        &:hover {
            .info {
                .title {
                    color: var(--primary-color);
                }
            }
        }
    }

    .job_list {
        display: flex;
        padding: 16px 24px 24px;
        border-radius: 0 0 8px 8px;
        background-color: #fff;
        flex-direction: column;
        row-gap: 20px;

        .job {
            .info {
                display: flex;
                justify-content: space-between;
                column-gap: 16px;

                .title {
                    overflow: hidden;
                    font-size: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #333;
                    line-height: 21px;
                    flex: 1;
                }

                .money {
                    font-size: 15px;
                    color: #ff561b;
                    line-height: 21px;
                }
            }

            .tags {
                display: flex;
                overflow: hidden;
                margin-top: 10px;
                height: 22px;
                gap: 8px 8px;
                flex-wrap: wrap;

                .tag {
                    overflow: hidden;
                    padding: 5px 10px;
                    font-size: 12px;
                    border-radius: 3px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #666;
                    background: #f8f8f8;
                    line-height: 12px;
                }
            }

            &:hover {
                .info {
                    .title {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .btn_box {
            display: flex;
            justify-content: center;

            .button {
                font-size: 14px;
                border: 1px solid var(--primary-color);
                border-radius: 6px;
                color: var(--primary-color);
                line-height: 14px;

                &:hover {
                    color: #fff;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
